{{ define "main" }}
<div class="text-banner gem-page">
  <div class="container short-container">
    <div class="row">
      <div class="col col-12 col-md-8 ">
        
          <h1 class="title">
            SPECIAL INTEREST GROUPS (SIGS)
          </h1>
          <p class="h5">
            O3DE Special Interest Groups (SIGS) are dedicated groups within the community who work to advance key areas of the engine.
          </p>
      </div>
    </div>

  
  </div>

</div>
<div class="gem-page-content">
  <div class="container">
   
    <div class="row">
      <div class="col-4 mb-50">
        <div class="gem-card">
          <div class="gen-img--wrapper">
            <div class="gen-img" style="background-image: url('/img/sigs/sigs-1.jpeg')"></div>
          </div>
          <div class="gem-text">
            <h3><strong>BUILD</strong></h3>
            <p>Build systems, infrastructure, automation, and installers.</p>
          </div>
        </div>
      </div>
      <div class="col-4 mb-50">
        <div class="gem-card">
          <div class="gen-img--wrapper">
            <div class="gen-img" style="background-image: url('/img/sigs/sigs-2.jpeg')">
            </div>

          </div>
          <div class="gem-text">
            <h3><strong>CONTENT</strong></h3>
            <p>Editor framework, content workflows, terrain, visual and scripting languages, asset processor.</p>
          </div>
        </div>
        
      </div>
      <div class="col-4 mb-50">
        <div class="gem-card">
          <div class="gen-img--wrapper">
            <div class="gen-img" style="background-image: url('/img/sigs/sigs-3.jpeg')"></div>
          </div>
          <div class="gem-text">
            <h3><strong>CORE</strong></h3>
            <p>Core frameworks, behavior context, serialization, code reflection, packaging, AZCore and AZFramework</p>
          </div>
        </div>
        
      </div>
      <div class="col-4 mb-50">
        <div class="gem-card">
          <div class="gen-img--wrapper">
            <div class="gen-img" style="background-image: url('/img/sigs/sigs-4.jpeg')"></div>
          </div>
          <div class="gem-text">
            <h3><strong>DOCS & <br>COMMUNITY</strong></h3>
            <p>Documentation standards, website management, community standards.</p>
          </div>
        </div>
        
      </div>
      <div class="col-4 mb-50">
        <div class="gem-card">
          <div class="gen-img--wrapper">
            <div class="gen-img" style="background-image: url('/img/sigs/sigs-5.jpeg')">
             
            </div>

          </div>
          <div class="gem-text">
            <h3><strong>GRAPHICS & AUDIO</strong></h3>
            <p>2D/3D GPU video renderer, audio renderer, AR/VR rendering, data specification mesh, material, shader, and textures.</p>
          </div>
        </div>
        
      </div>
      <div class="col-4 mb-50">
        <div class="gem-card">
          <div class="gen-img--wrapper">
            <div class="gen-img" style="background-image: url('/img/sigs/sigs-6.jpeg')"></div>
          </div>
          <div class="gem-text">
            <h3><strong>NETWORK</strong></h3>
            <p>Communication standards, cloud networking, multiplayer client / server / peer networking.</p>
          </div>
        </div>
        
      </div>
      <div class="col-4 mb-50">
        <div class="gem-card">
          <div class="gen-img--wrapper">
            <div class="gen-img" style="background-image: url('/img/sigs/sigs-7.jpeg')"></div>
          </div>
          <div class="gem-text">
            <h3><strong>PLATFORM</strong></h3>
            <p>Define branch and release process / schedules, merge stabilization to release, freeze resolution.</p>
          </div>
        </div>
        
      </div>
      <div class="col-4 mb-50">
        <div class="gem-card">
          <div class="gen-img--wrapper">
            <div class="gen-img" style="background-image: url('/img/sigs/sigs-8.jpeg')"></div>
          </div>
          <div class="gem-text">
            <h3><strong>SECURITY</strong></h3>
            <p>Security review and campaign, tooling and communication, security bulletins, security compliance standards.</p>
          </div>
        </div>
        
      </div>
      <div class="col-4 mb-50">
        <div class="gem-card">
          <div class="gen-img--wrapper">
            <div class="gen-img" style="background-image: url('/img/sigs/sigs-9.jpeg')"></div>
          </div>
          <div class="gem-text">
            <h3><strong>SIMULATION</strong></h3>
            <p>Modeling of real-world processes which evolve over time, physics, animation, navigation, destruction, cloth.</p>
          </div>
        </div>
        
      </div>
      <div class="col-4 mb-50">
        <div class="gem-card">
          <div class="gen-img--wrapper">
            <div class="gen-img" style="background-image: url('/img/sigs/sigs-10.jpeg')"></div>
          </div>
          <div class="gem-text">
            <h3><strong>TESTING</strong></h3>
            <p>Automated review and testing frameworks, pre-validation scripts, test case guidelines, define KPI and SLA for test metrics</p>
          </div>
        </div>
        
      </div>
      <div class="col-4 mb-50">
        <div class="gem-card">
          <div class="gen-img--wrapper">
            <div class="gen-img" style="background-image: url('/img/sigs/sigs-11.jpg')"></div>
          </div>
          <div class="gem-text">
            <h3><strong>UI / UX</strong></h3>
            <p>User interface / experience design standards, best practices, compliance validation, cross-sig consistency</p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>



{{ partial "newHome/newsletter.html" . }}
{{ partial "newHome/footer.html" . }}
{{ end }}
