// Variables 
$font-family-headers: "Open Sans" ;
$font-family-Poppins: "Poppins", sans-serif;
$font-family-axiforma: "Axiforma", sans-serif;
$font-family-clarity-city: "Clarity City", sans-serif;
$o3de-black: #000;
$o3de-white: #fff;
$o3de-lightgray: #ddd;
$o3de-blue: #1E70EB;
$o3de-darkblue: #0F3876;
$o3de-docsblue: #2A4875;
$o3de-mediumblue: #4B8DEF;
$o3de-lightblue: #A5C6F7;
$o3de-blue-highlight: #94D2FF;
$o3de-green: #58BD61;
$o3de-purple: #700AC7;
$o3de-aqua: #0AC1C7;