<div class="community-section-download">
    <div class="container"> 
      <div class="row justify-content-between">
        <div class="col-sm-5">
          <h2 class="text-upper">COMMUNITY SUPPORT</h2>
          <p>O3DE has a global, open source community has a wide and inclusive family who support and create together to ensure everyone can succeed and take part.</p>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="community-card">
                <a href="">
                  {{ partial "svg-icons/Discord.svg" . }}
                  <p>Get help from a vast, thriving community of O3DE architects, developers and users</p>
                </a>
                
              </div>
            </div>
            <div class="col-sm-6">
              <div class="community-card">
                <a href="">
                  {{ partial "svg-icons/Forum.svg" . }}
                  <p>Find quick answers to <br>commonly asked questions <br>in O3DE forums</p>
                </a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>