<div class="row">
  <div class="col-sm-6 col-md-4 col-xl-3 mb-40">
    <div class="staff-card">
      
        <div class="staff-profile">
          <a href="#david-h-pop" data-modal>
          <img src="/img/staff/MarketingOutreachCommittee/O3DEStaff_DavidH.png" alt="">
        </a>
          </div>
          <div class=" staff-content">
          <div class="staff-identity">
            <h3>David Holladay</h3>
            <p>Head of AWS Game Tech Marketing</p>
          </div>
          <div class="staff-social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/davidholladay/" target="_blank">
                  {{ partial "svg-icons/linkedin-icon.svg" . }}
                </a>
              </li>
              
              
  
            </ul>
          </div>
        </div>
      
      <div class="modal js-modal" id="david-h-pop">
        <div class="modal-wrapper">
          <div class="staff-profile">
            <div class="round-image" style="background-image: url(/img/staff/MarketingOutreachCommittee/O3DEStaff_DavidH.png);">
  
            </div>
          </div>
          <div class="staff-content">
            <div class="staff-identity">
              <h3>David Holladay</h3>
              <span>Head of AWS Game Tech Marketing</span>
              <p></p>
  
            </div>
            <div class="staff-social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/davidholladay/" target="_blank">
                    {{ partial "svg-icons/linkedin-icon.svg" . }}
                  </a>
                </li>
                
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-xl-3 mb-40">
    <div class="staff-card">
      
        <div class="staff-profile">
          <a href="#amy-f-pop" data-modal>
          <img src="/img/staff/MarketingOutreachCommittee/O3DEStaff_AmyF.png" alt="">
        </a>
          </div>
          <div class=" staff-content">
          <div class="staff-identity">
            <h3>Amy Finch</h3>
            <p>Community Manager, AWS Game Tech</p>
          </div>
          <div class="staff-social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/afinchy/" target="_blank">
                  {{ partial "svg-icons/linkedin-icon.svg" . }}
                </a>
              </li>
              
              
  
            </ul>
          </div>
        </div>
      
      <div class="modal js-modal" id="amy-f-pop">
        <div class="modal-wrapper">
          <div class="staff-profile">
            <div class="round-image" style="background-image: url(/img/staff/MarketingOutreachCommittee/O3DEStaff_AmyF.png);">
  
            </div>
          </div>
          <div class="staff-content">
            <div class="staff-identity">
              <h3>Amy Finch</h3>
              <span>Community Manager, AWS Game Tech</span>
              <p></p>
  
            </div>
            <div class="staff-social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/afinchy/" target="_blank">
                    {{ partial "svg-icons/linkedin-icon.svg" . }}
                  </a>
                </li>
                
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-xl-3 mb-40">
    <div class="staff-card">
      
        <div class="staff-profile">
          <a href="#yuyi-pop" data-modal>
          <img src="/img/staff/MarketingOutreachCommittee/O3DEStaff_Yuyi.png" alt="">
        </a>
          </div>
          <div class=" staff-content">
          <div class="staff-identity">
            <h3>Yuyi Hsu</h3>
            <p>Principal/UX Manager, AWS Game Tech</p>
          </div>
          <div class="staff-social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/yuyihsu/" target="_blank">
                  {{ partial "svg-icons/linkedin-icon.svg" . }}
                </a>
              </li>
              
              
  
            </ul>
          </div>
        </div>
      
      <div class="modal js-modal" id="yuyi-pop">
        <div class="modal-wrapper">
          <div class="staff-profile">
            <div class="round-image" style="background-image: url(/img/staff/MarketingOutreachCommittee/O3DEStaff_Yuyi.png);">
  
            </div>
          </div>
          <div class="staff-content">
            <div class="staff-identity">
              <h3>Yuyi Hsu</h3>
              <span>Principal/UX Manager, AWS Game Tech</span>
              <p></p>
  
            </div>
            <div class="staff-social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/yuyihsu/" target="_blank">
                    {{ partial "svg-icons/linkedin-icon.svg" . }}
                  </a>
                </li>
                
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-xl-3 mb-40">
    <div class="staff-card">
      
        <div class="staff-profile">
          <a href="#jake-jones-pop" data-modal>
          <img src="/img/staff/MarketingOutreachCommittee/O3DEStaff_JakeJones.png" alt="">
        </a>
          </div>
          <div class=" staff-content">
          <div class="staff-identity">
            <h3>Jake Jones</h3>
            <p>Senior Communication Manager, Epic Games</p>
          </div>
          <div class="staff-social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/jake-jones-0429954b/" target="_blank">
                  {{ partial "svg-icons/linkedin-icon.svg" . }}
                </a>
              </li>
              
              
  
            </ul>
          </div>
        </div>
      
      <div class="modal js-modal" id="jake-jones-pop">
        <div class="modal-wrapper">
          <div class="staff-profile">
            <div class="round-image" style="background-image: url(/img/staff/MarketingOutreachCommittee/O3DEStaff_JakeJones.png);">
  
            </div>
          </div>
          <div class="staff-content">
            <div class="staff-identity">
              <h3>Jake Jones</h3>
              <span>Senior Communication Manager, Epic Games</span>
              <p></p>
  
            </div>
            <div class="staff-social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/jake-jones-0429954b/" target="_blank">
                    {{ partial "svg-icons/linkedin-icon.svg" . }}
                  </a>
                </li>
                
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-xl-3 mb-40">
    <div class="staff-card">
      
        <div class="staff-profile">
          <a href="#tish-s-pop" data-modal>
          <img src="/img/staff/MarketingOutreachCommittee/O3DEStaff_TishS.png" alt="">
        </a>
          </div>
          <div class=" staff-content">
          <div class="staff-identity">
            <h3>Tish Shute (Leichliter)</h3>
            <p>Director of Spatial Computing, Strategy & Technology Planning, Futurewei Technologies
  </p>
          </div>
          <div class="staff-social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/tishshute/" target="_blank">
                  {{ partial "svg-icons/linkedin-icon.svg" . }}
                </a>
              </li>
              <li>
                <a href="https://twitter.com/TishShute" target="_blank">
                  {{ partial "svg-icons/twitter-icon.svg" . }}
                </a>
              </li>
              
  
            </ul>
          </div>
        </div>
      
      <div class="modal js-modal" id="tish-s-pop">
        <div class="modal-wrapper">
          <div class="staff-profile">
            <div class="round-image" style="background-image: url(/img/staff/MarketingOutreachCommittee/O3DEStaff_TishS.png);">
  
            </div>
          </div>
          <div class="staff-content">
            <div class="staff-identity">
              <h3>Tish Shute (Leichliter)</h3>
              <span>Director of Spatial Computing, Strategy & Technology Planning, Futurewei Technologies
  </span>
              <p></p>
  
            </div>
            <div class="staff-social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/tishshute/" target="_blank">
                    {{ partial "svg-icons/linkedin-icon.svg" . }}
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/TishShute" target="_blank">
                    {{ partial "svg-icons/twitter-icon.svg" . }}
                  </a>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-xl-3 mb-40">
    <div class="staff-card">
      
        <div class="staff-profile">
          <a href="#richard-e-pop" data-modal>
          <img src="/img/staff/MarketingOutreachCommittee/O3DEStaff_RichardE.png" alt="">
        </a>
          </div>
          <div class=" staff-content">
          <div class="staff-identity">
            <h3>Richard Edwards</h3>
            <p>Head of Group Marketing, Hadean</p>
          </div>
          <div class="staff-social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/edwardsrichard/" target="_blank">
                  {{ partial "svg-icons/linkedin-icon.svg" . }}
                </a>
              </li>
              
              
  
            </ul>
          </div>
        </div>
      
      <div class="modal js-modal" id="richard-e-pop">
        <div class="modal-wrapper">
          <div class="staff-profile">
            <div class="round-image" style="background-image: url(/img/staff/MarketingOutreachCommittee/O3DEStaff_RichardE.png);">
  
            </div>
          </div>
          <div class="staff-content">
            <div class="staff-identity">
              <h3>Richard Edwards</h3>
              <span>Head of Group Marketing, Hadean</span>
              <p></p>
  
            </div>
            <div class="staff-social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/edwardsrichard/" target="_blank">
                    {{ partial "svg-icons/linkedin-icon.svg" . }}
                  </a>
                </li>
                
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-xl-3 mb-40">
    <div class="staff-card">
      
        <div class="staff-profile">
          <a href="#song-peng-pop" data-modal>
          <img src="/img/staff/MarketingOutreachCommittee/O3DEStaff_SongPeng.png" alt="">
        </a>
          </div>
          <div class=" staff-content">
          <div class="staff-identity">
            <h3>Song Peng</h3>
            <p>Engineer, Huawei Technologies</p>
          </div>
          <div class="staff-social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/song-peng-5a7613173/" target="_blank">
                  {{ partial "svg-icons/linkedin-icon.svg" . }}
                </a>
              </li>
              
              
  
            </ul>
          </div>
        </div>
      
      <div class="modal js-modal" id="song-peng-pop">
        <div class="modal-wrapper">
          <div class="staff-profile">
            <div class="round-image" style="background-image: url(/img/staff/MarketingOutreachCommittee/O3DEStaff_SongPeng.png);">
  
            </div>
          </div>
          <div class="staff-content">
            <div class="staff-identity">
              <h3>Song Peng</h3>
              <span>Engineer, Huawei Technologies</span>
              <p></p>
  
            </div>
            <div class="staff-social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/song-peng-5a7613173/" target="_blank">
                    {{ partial "svg-icons/linkedin-icon.svg" . }}
                  </a>
                </li>
                
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-xl-3 mb-40">
    <div class="staff-card">
      
        <div class="staff-profile">
          <a href="#kieran-m-pop" data-modal>
          <img src="/img/staff/MarketingOutreachCommittee/O3DEStaff_KeiranM.png" alt="">
        </a>
          </div>
          <div class=" staff-content">
          <div class="staff-identity">
            <h3>Kieran McNair</h3>
            <p>Marketing Executive, Kythera AI</p>
          </div>
          <div class="staff-social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/kieran-mcnair-7045ab125/" target="_blank">
                  {{ partial "svg-icons/linkedin-icon.svg" . }}
                </a>
              </li>
              <li>
                <a href="https://twitter.com/kieranfmcnair" target="_blank">
                  {{ partial "svg-icons/twitter-icon.svg" . }}
                </a>
              </li>
              
  
            </ul>
          </div>
        </div>
      
      <div class="modal js-modal" id="kieran-m-pop">
        <div class="modal-wrapper">
          <div class="staff-profile">
            <div class="round-image" style="background-image: url(/img/staff/MarketingOutreachCommittee/O3DEStaff_KeiranM.png);">
  
            </div>
          </div>
          <div class="staff-content">
            <div class="staff-identity">
              <h3>Kieran McNair</h3>
              <span>Marketing Executive, Kythera AI</span>
              <p></p>
  
            </div>
            <div class="staff-social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/kieran-mcnair-7045ab125/" target="_blank">
                    {{ partial "svg-icons/linkedin-icon.svg" . }}
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/kieranfmcnair" target="_blank">
                    {{ partial "svg-icons/twitter-icon.svg" . }}
                  </a>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-xl-3 mb-40">
    <div class="staff-card">
      
        <div class="staff-profile">
          <a href="#ivy-z-pop" data-modal>
          <img src="/img/staff/MarketingOutreachCommittee/O3DEStaff_IvyZ.png" alt="">
        </a>
          </div>
          <div class=" staff-content">
          <div class="staff-identity">
            <h3>Ivy Zheng</h3>
            <p>Global Communications Manager, Lightspeed Studios</p>
          </div>
          <div class="staff-social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/ivy-zheng-5262a359/" target="_blank">
                  {{ partial "svg-icons/linkedin-icon.svg" . }}
                </a>
              </li>
              
              
  
            </ul>
          </div>
        </div>
      
      <div class="modal js-modal" id="ivy-z-pop">
        <div class="modal-wrapper">
          <div class="staff-profile">
            <div class="round-image" style="background-image: url(/img/staff/MarketingOutreachCommittee/O3DEStaff_IvyZ.png);">
  
            </div>
          </div>
          <div class="staff-content">
            <div class="staff-identity">
              <h3>Ivy Zheng</h3>
              <span>Global Communications Manager, Lightspeed Studios</span>
              <p></p>
  
            </div>
            <div class="staff-social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/ivy-zheng-5262a359/" target="_blank">
                    {{ partial "svg-icons/linkedin-icon.svg" . }}
                  </a>
                </li>
                
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-xl-3 mb-40">
    <div class="staff-card">
      
        <div class="staff-profile">
          <a href="#amy-m-pop" data-modal>
          <img src="/img/staff/MarketingOutreachCommittee/O3DEStaff_AmyM.png" alt="">
        </a>
          </div>
          <div class=" staff-content">
          <div class="staff-identity">
            <h3>Amy Marrich</h3>
            <p>Open Source Evangelist, Red Hat
  </p>
          </div>
          <div class="staff-social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/amy-marrich-57917a1/" target="_blank">
                  {{ partial "svg-icons/linkedin-icon.svg" . }}
                </a>
              </li>
              <li>
                <a href="https://twitter.com/spotzz_" target="_blank">
                  {{ partial "svg-icons/twitter-icon.svg" . }}
                </a>
              </li>
              
  
            </ul>
          </div>
        </div>
      
      <div class="modal js-modal" id="amy-m-pop">
        <div class="modal-wrapper">
          <div class="staff-profile">
            <div class="round-image" style="background-image: url(/img/staff/MarketingOutreachCommittee/O3DEStaff_AmyM.png);">
  
            </div>
          </div>
          <div class="staff-content">
            <div class="staff-identity">
              <h3>Amy Marrich</h3>
              <span>Open Source Evangelist, Red Hat
  </span>
              <p></p>
  
            </div>
            <div class="staff-social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/amy-marrich-57917a1/" target="_blank">
                    {{ partial "svg-icons/linkedin-icon.svg" . }}
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/spotzz_" target="_blank">
                    {{ partial "svg-icons/twitter-icon.svg" . }}
                  </a>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-xl-3 mb-40">
    <div class="staff-card">
      
        <div class="staff-profile">
          <a href="#erik-j-pop" data-modal>
          <img src="/img/staff/MarketingOutreachCommittee/O3DEStaff_ErikJacobs.png" alt="">
        </a>
          </div>
          <div class="staff-content">
          <div class="staff-identity">
            <h3>Erik Jacobs</h3>
            <p>Senior Manager, Customer & Field Engagement, Red Hat
  </p>
          </div>
          <div class="staff-social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/erikmjacobs/" target="_blank">
                  {{ partial "svg-icons/linkedin-icon.svg" . }}
                </a>
              </li>
              <li>
                <a href="https://twitter.com/ErikonOpen" target="_blank">
                  {{ partial "svg-icons/twitter-icon.svg" . }}
                </a>
              </li>
              
  
            </ul>
          </div>
        </div>
      
      <div class="modal js-modal" id="erik-j-pop">
        <div class="modal-wrapper">
          <div class="staff-profile">
            <div class="round-image" style="background-image: url(/img/staff/MarketingOutreachCommittee/O3DEStaff_ErikJacobs.png);">
  
            </div>
          </div>
          <div class="staff-content">
            <div class="staff-identity">
              <h3>Erik Jacobs</h3>
              <span>Senior Manager, Customer & Field Engagement, Red Hat
  </span>
              <p></p>
  
            </div>
            <div class="staff-social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/erikmjacobs/" target="_blank">
                    {{ partial "svg-icons/linkedin-icon.svg" . }}
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/ErikonOpen" target="_blank">
                    {{ partial "svg-icons/twitter-icon.svg" . }}
                  </a>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-xl-3 mb-40">
    <div class="staff-card">
      
        <div class="staff-profile">
          <a href="#ruth-s-pop" data-modal>
          <img src="/img/staff/MarketingOutreachCommittee/O3DEStaff_RuthS.png" alt="">
        </a>
          </div>
          <div class="staff-content">
          <div class="staff-identity">
            <h3>Ruth Suehle</h3>
            <p>Director of Open Source, SAS</p>
          </div>
          <div class="staff-social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/ruthsuehle/" target="_blank">
                  {{ partial "svg-icons/linkedin-icon.svg" . }}
                </a>
              </li>
              <li>
                <a href="https://twitter.com/suehle" target="_blank">
                  {{ partial "svg-icons/twitter-icon.svg" . }}
                </a>
              </li>
              
  
            </ul>
          </div>
        </div>
      
      <div class="modal js-modal" id="ruth-s-pop">
        <div class="modal-wrapper">
          <div class="staff-profile">
            <div class="round-image" style="background-image: url(/img/staff/MarketingOutreachCommittee/O3DEStaff_RuthS.png);">
  
            </div>
          </div>
          <div class="staff-content">
            <div class="staff-identity">
              <h3>Ruth Suehle</h3>
              <span>Director of Open Source, SAS</span>
              <p></p>
  
            </div>
            <div class="staff-social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/ruthsuehle/" target="_blank">
                    {{ partial "svg-icons/linkedin-icon.svg" . }}
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/suehle" target="_blank">
                    {{ partial "svg-icons/twitter-icon.svg" . }}
                  </a>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>