<div class="row">
  <div class="col-sm-6 col-md-4 col-xl-3 mb-40">
    <div class="staff-card">
      
        <div class="staff-profile">
          <a href="#nicholas-l-pop" data-modal>
          <img src="/img/staff/O3DEStaff_NoImage.png" alt="">
        </a>
          </div>
          <div class=" staff-content">
          <div class="staff-identity">
            <h3>Nicholas Lawson</h3>
            <p>Principal Engineer, Amazon Web Services</p>
          </div>
          <div class="staff-social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/nicholas-lawson-15905020/" target="_blank">
                  {{ partial "svg-icons/linkedin-icon.svg" . }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      
      <div class="modal js-modal" id="nicholas-l-pop">
        <div class="modal-wrapper">
          <div class="staff-profile">
            <div class="round-image" style="background-image: url(/img/staff/O3DEStaff_NoImage.png);">
  
            </div>
          </div>
          <div class="staff-content">
            <div class="staff-identity">
              <h3>Nicholas Lawson</h3>
              <span>Principal Engineer, Amazon Web Services</span>
              <p></p>
            </div>
            <div class="staff-social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/nicholas-lawson-15905020/" target="_blank">
                    {{ partial "svg-icons/linkedin-icon.svg" . }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-xl-3 mb-40">
    <div class="staff-card">
      
        <div class="staff-profile">
          <a href="#karl-b-pop" data-modal>
          <img src="/img/staff/TechnicalSteeringCommittee/O3DEStaff_KarlB.png" alt="">
        </a>
          </div>
          <div class=" staff-content">
          <div class="staff-identity">
            <h3>Karl Berg</h3>
            <p>Principal Engineer, 
  Amazon Web Services</p>
          </div>
          <div class="staff-social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/karl-berg-ba520113/?originalSubdomain=ca" target="_blank">
                  {{ partial "svg-icons/linkedin-icon.svg" . }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      
      <div class="modal js-modal" id="karl-b-pop">
        <div class="modal-wrapper">
          <div class="staff-profile">
            <div class="round-image" style="background-image: url(/img/staff/TechnicalSteeringCommittee/O3DEStaff_KarlB.png);">
  
            </div>
          </div>
          <div class="staff-content">
            <div class="staff-identity">
              <h3>Karl Berg</h3>
              <span>Principal Engineer, 
  Amazon Web Services</span>
              <p>I am a Principal Engineer currently at AWS with decades of experience in the industry. I have worked on AAA games and online-based projects for companies like Amazon (Crucible, as well as multiple undisclosed projects), Piranha Games (Mechwarrior Online, Duke Nukem Forever), Koolhaus Games (Contract work for multiple publishers, including SoE, EA, and Activision) and most recently working on the Open 3D Engine itself.</p>
            </div>
            <div class="staff-social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/karl-berg-ba520113/?originalSubdomain=ca" target="_blank">
                    {{ partial "svg-icons/linkedin-icon.svg" . }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-xl-3 mb-40">
    <div class="staff-card">
      
        <div class="staff-profile">
          <a href="#tobias-a-f-pop" data-modal>
          <img src="/img/staff/TechnicalSteeringCommittee/O3DEStaff_Tobias.png" alt="">
        </a>
          </div>
          <div class=" staff-content">
          <div class="staff-identity">
            <h3>Tobias Alexander Franke</h3>
            <p>Principal Game Engine Architect, Huawei</p>
          </div>
          <div class="staff-social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/thefranke/" target="_blank">
                  {{ partial "svg-icons/linkedin-icon.svg" . }}
                </a>
              </li>
              <li>
                <a href="https://twitter.com/thefranke" target="_blank">
                  {{ partial "svg-icons/twitter-icon.svg" . }}
                </a>
            </li></ul>
          </div>
        </div>
      
      <div class="modal js-modal" id="tobias-a-f-pop">
        <div class="modal-wrapper">
          <div class="staff-profile">
            <div class="round-image" style="background-image: url(/img/staff/TechnicalSteeringCommittee/O3DEStaff_Tobias.png);">
  
            </div>
          </div>
          <div class="staff-content">
            <div class="staff-identity">
              <h3>Tobias Alexander Franke</h3>
              <span>Principal Game Engine Architect, Huawei</span>
              <p>Experienced graphics engineer with a background in both graphics research and the gaming industry. PhD from TU-Darmstadt focusing on augmented reality, relighting and global illumination. </p>
            </div>
            <div class="staff-social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/thefranke/" target="_blank">
                    {{ partial "svg-icons/linkedin-icon.svg" . }}
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/thefranke" target="_blank">
                    {{ partial "svg-icons/twitter-icon.svg" . }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-xl-3 mb-40">
    <div class="staff-card">
      
        <div class="staff-profile">
          <a href="#roddie-k-pop" data-modal>
          <img src="/img/staff/TechnicalSteeringCommittee/O3DEStaff_Roddie.png" alt="">
        </a>
          </div>
          <div class=" staff-content">
          <div class="staff-identity">
            <h3>Roddie Kieley</h3>
            <p>Principal Software Engineer, Red Hat</p>
          </div>
          <div class="staff-social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/roddiekieley/" target="_blank">
                  {{ partial "svg-icons/linkedin-icon.svg" . }}
                </a>
              </li>
              <li>
                <a href="https://twitter.com/RoddieKieley" target="_blank">
                  {{ partial "svg-icons/twitter-icon.svg" . }}
                </a>
            </li>
          </ul>
          </div>
        </div>
      
      <div class="modal js-modal" id="roddie-k-pop">
        <div class="modal-wrapper">
          <div class="staff-profile">
            <div class="round-image" style="background-image: url(/img/staff/TechnicalSteeringCommittee/O3DEStaff_Roddie.png);">
  
            </div>
          </div>
          <div class="staff-content">
            <div class="staff-identity">
              <h3>Roddie Kieley</h3>
              <span>Principal Software Engineer, Red Hat</span>
              <p>Intrapreneuring software craftsman and messaging engineer focused on open source multiplayer game development.</p>
  
            </div>
            <div class="staff-social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/roddiekieley/" target="_blank">
                    {{ partial "svg-icons/linkedin-icon.svg" . }}
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/RoddieKieley" target="_blank">
                    {{ partial "svg-icons/twitter-icon.svg" . }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-xl-3 mb-40">
    <div class="staff-card">
      
        <div class="staff-profile">
          <a href="#stephen-j-pop" data-modal>
          <img src="/img/staff/TechnicalSteeringCommittee/O3DEStaff_StephenJ.png" alt="">
        </a>
          </div>
          <div class=" staff-content">
          <div class="staff-identity">
            <h3>Stephen Jacobs</h3>
            <p>Director, Open@RIT, a Key Research Center and Open Programs Office at Rochester Institute of Technology</p>
          </div>
          <div class="staff-social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/itprofjacobs/" target="_blank">
                  {{ partial "svg-icons/linkedin-icon.svg" . }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      
      <div class="modal js-modal" id="stephen-j-pop">
        <div class="modal-wrapper">
          <div class="staff-profile">
            <div class="round-image" style="background-image: url(/img/staff/TechnicalSteeringCommittee/O3DEStaff_StephenJ.png);">
            </div>
          </div>
          <div class="staff-content">
            <div class="staff-identity">
              <h3>Stephen Jacobs</h3>
              <span>Director, Open@RIT, a Key Research Center and Open Programs Office at Rochester Institute of Technology</span>
              <p></p>
            </div>
            <div class="staff-social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/itprofjacobs/" target="_blank">
                    {{ partial "svg-icons/linkedin-icon.svg" . }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>