{{ define "main" }}


<div class="text-banner showcase-page">
  <div class="container short-container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">
            INDUSTRIES
        </h1>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col col-12 col-md-9 ">
          
          <p class="h5">Full-fidelity simulations and visualizations, enabled through real-time 3D engines, bridge the physical and digital worlds, delivering immersive experiences to entertain and offering keen insights into the world around us. </p>
          <p class="p-small">While 3D technologies emerged in game development decades ago, their broad adoption has advanced diverse industries, unleashing exciting, new possibilities from animated movies to scientific exploration.</p>
      </div>

    </div>
  </div>

</div>

<div class="showcase-page-content industry-list">
    <div class="container">
        <div class="showcase-grid">
            <div class="row">
                <div class="col-12">
                    <h5>CORE INDUSTRIES</h5>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-6 mb-64">
                    <div class="gallery-card industry-card">
                        <div class="gallery-card-image">
                            <img src="/img/industries/Gaming.jpg" alt=""/>
                        </div> 
                        <div class="gallery-card-content">
                            <h4>Gaming</h4>
                            <p>Create stunning worlds that support multi-faceted storytelling and networked, multiplayer game play, across diverse screens and devices.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-64">
                    <div class="gallery-card industry-card">
                        <div class="gallery-card-image">
                            <img src="/img/industries/Robotics.jpg" alt=""/>
                        </div> 
                        <div class="gallery-card-content">
                            <h4>Robotics</h4>
                            <p>Deploy O3DE in robotics applications through its integration with the Robotic Operating System (ROS), without the need for wrappers or bridges.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-64">
                    <div class="gallery-card industry-card">
                        <div class="gallery-card-image">
                            <img src="/img/industries/Education.jpg" alt=""/>
                        </div> 
                        <div class="gallery-card-content">
                            <h4>Education</h4>
                            <p>Apply different learning modalities to meet the needs of the modern classroom, with 3D technology that enables deeper understanding and faster learning.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-64">
                    <div class="gallery-card industry-card">
                        <div class="gallery-card-image">
                            <img src="/img/industries/Metaverse.jpg" alt=""/>
                        </div> 
                        <div class="gallery-card-content">
                            <h4>Metaverse</h4>
                            <p>Deliver immersive experiences and 3D digital assets for the emerging world of the open metaverse.</p>
                        </div>
                    </div>
                </div>

                
            </div>
            <div class="row">
                <div class="col-12">
                    <h5>OTHER INDUSTRIES</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-64">
                    <div class="gallery-card industry-card">
                        <div class="gallery-card-image">
                            <img src="/img/industries/Automotive.jpg" alt=""/>
                        </div> 
                        <div class="gallery-card-content">
                            <h4>Automotive</h4>
                            <p>Leverage 3D navigation overlays on heads-up displays, or AR diagnostics that allow you to see inside the car without opening the tool box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-64">
                    <div class="gallery-card industry-card">
                        <div class="gallery-card-image">
                            <img src="/img/industries/AI.jpg" alt=""/>
                        </div> 
                        <div class="gallery-card-content">
                            <h4>AI & Machine Learning</h4>
                            <p>Build lifelike simulations to train AI models and simulate real-world, safety-critical scenarios using full-fidelity, physically-based, 3D texture rendering (PBR).</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-64">
                    <div class="gallery-card industry-card">
                        <div class="gallery-card-image">
                            <img src="/img/industries/Architecture.jpg" alt=""/>
                        </div> 
                        <div class="gallery-card-content">
                            <h4>Architecture</h4>
                            <p>O3DE complements every layer of the metaverse, from experiential 3D applications s that transport users into fully immersive environments</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-64">
                    <div class="gallery-card industry-card">
                        <div class="gallery-card-image">
                            <img src="/img/industries/AR.jpg" alt=""/>
                        </div> 
                        <div class="gallery-card-content">
                            <h4>AR / VR / XR</h4>
                            <p>O3DE complements every layer of the metaverse, from experiential 3D applications s that transport users into fully immersive environments</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-64">
                    <div class="gallery-card industry-card">
                        <div class="gallery-card-image">
                            <img src="/img/industries/Digital-Twins.jpg" alt=""/>
                        </div> 
                        <div class="gallery-card-content">
                            <h4>Digital Twins</h4>
                            <p>Accelerate advancements across industries, from fine-tuning product design and production, to improving patient care, with fully integrated digital twins.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-64">
                    <div class="gallery-card industry-card">
                        <div class="gallery-card-image">
                            <img src="/img/industries/Healthcare-Medicine.jpg" alt=""/>
                        </div> 
                        <div class="gallery-card-content">
                            <h4>Healthcare & Medicine</h4>
                            <p>From virtual training of new surgical techniques to accelerated diagnosis and treatment, advancements in healthcare are possible through the help of 3D technologies.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-64">
                    <div class="gallery-card industry-card">
                        <div class="gallery-card-image">
                            <img src="/img/industries/Manufacturing.jpg" alt=""/>
                        </div> 
                        <div class="gallery-card-content">
                            <h4>Manufacturing</h4>
                            <p>Train autonomous robots and control entire facilities, map warehouses in 3D space and augment them with 3D graphics to display status, information and change.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-64">
                    <div class="gallery-card industry-card">
                        <div class="gallery-card-image">
                            <img src="/img/industries/Motion-Pictures.jpg" alt=""/>
                        </div> 
                        <div class="gallery-card-content">
                            <h4>Motion Pictures</h4>
                            <p>Create scenery, characters, props and much more, breathing life into amazing stories built on 3D technologies</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-64">
                    <div class="gallery-card industry-card">
                        <div class="gallery-card-image">
                            <img src="/img/industries/Product-Design.jpg" alt=""/>
                        </div> 
                        <div class="gallery-card-content">
                            <h4>Product Design</h4>
                            <p>Improve and accelerate product design and production with the ability to create virtual 3D models of products before they physically exist.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-64">
                    <div class="gallery-card industry-card">
                        <div class="gallery-card-image">
                            <img src="/img/industries/Retail.jpg" alt=""/>
                        </div> 
                        <div class="gallery-card-content">
                            <h4>Retail</h4>
                            <p>Deliver enhanced shopping experiences with the ability to customize and envision products prior to purchase - from cars to clothing, furniture and many more.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>




{{ partial "newHome/getstarted-secion.html" . }}
{{ partial "newHome/footer.html" . }}
{{ end }}
