{{ define "main" }}
<div class="text-banner gem-page">
  <div class="container short-container">
    <div class="row">
      <div class="col col-12 col-md-8 ">
        
          <h1 class="title">
            {{ .Title }}
          </h1>
          
            {{ .Content | replaceRE "<p>" "<p class=\"h5\">" | safeHTML }}
          
      </div>
    </div>  
  </div>
</div> 

<section class="get_started-wrapper">
    <div class="steps-wrapper">
        <div class="container br-b">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="mb-64"><span>01 </span> TAKE YOUR FIRST STEPS</h5>
                </div>
                <div class="col-12 mb-40">
                    <div class="step-card">
                        <div class="step-count">
                            <div class="count aqua">1</div>
                            <div class="step-detail">
                                <h3>INSTALL</h3>
                                <p>Install and set up your O3DE development environment</p>
                            </div>
                        </div>
                        <div class="step-cta">
                            <a href="/download/" class="btn-secondary-black">GET O3DE</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-40">
                    <div class="step-card">
                        <div class="step-count">
                            <div class="count  purple ">2</div>
                            <div class="step-detail">
                                <h3 >CREATE</h3>
                                <p>Create your first O3DE project</p>
                            </div>
                        </div>
                        <div class="step-cta">
                            <a href="https://www.o3de.org/docs/welcome-guide/create/" class="btn-secondary-black">PROJECT CREATION GUIDE</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-40">
                    <div class="step-card">
                        <div class="step-count">
                            <div class="count blue">3</div>
                            <div class="step-detail">
                                <h3>SHARE</h3>
                                <p>Share your creation to our welcoming and friendly community</p>
                            </div>
                        </div>
                        <div class="step-cta">
                            <a href="/community/showcase/" class="btn-secondary-black">SHOWCASE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="helpful-info">
        <div class="container br-b">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="mb-64"><span>02 </span>HELPFUL information</h5>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card-information">
                                <div class="card-details">
                                  <h4>Learn about O3DE</h4>
                                  <p>Learn more about how O3DE works</p>
                                </div>
                                  <a class=" btn-underline" href="/community/showcase/">Learn more</a>
                            </div>
                          </div>
                          <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card-information">
                                <div class="card-details">
                                  <h4>Editor Tour</h4>
                                  <p>Take a tour of the O3DE Editor</p>
                                </div>
                                  <a class=" btn-underline" href="/docs/welcome-guide/tours/editor-tour/">Learn more</a>
                            </div>
                          </div>
                          <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card-information">
                                <div class="card-details">
                                  <h4>User Guide</h4>
                                  <p>Information and guidance for those using O3DE for their projects.</p>
                                </div>
                                  <a class=" btn-underline" href="docs/user-guide/">Learn more</a>
                            </div>
                          </div>
                          <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card-information">
                                <div class="card-details">
                                  <h4>Documentation</h4>
                                  <p>Read O3DE documentation and use your expertise to help us make it better.</p>
                                </div>
                                  <a class=" btn-underline" href="docs/user-guide/">Learn more</a>
                            </div>
                          </div>
                          <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card-information">
                                <div class="card-details">
                                  <h4>Video Tutorials</h4>
                                  <p>Watch step-by-step tutorials to get up to speed quickly.</p>
                                </div>
                                  <a class=" btn-underline" href="https://www.youtube.com/watch?v=xUwCf6B-rZQ&list=PLCQwFpnHSZQg_4lCmfXhCB5EjxieUbipk">Learn more</a>
                            </div>
                          </div>
                          <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card-information">
                                <div class="card-details">
                                  <h4>Discover your workflow</h4>
                                  <p>Explore how to create using O3DE as an artist, designer or programmer</p>
                                </div>
                                  <a class=" btn-underline" href="/docs/welcome-guide/tours/create-intro/">Learn more</a>
                            </div>
                          </div>
                          <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card-information">
                                <div class="card-details">
                                  <h4>More Resources</h4>
                                  <p>There’s plenty of helpful O3DE things to discover, find them here.</p>
                                </div>
                                  <a class=" btn-underline" href="/docs/welcome-guide/tours/create-intro/">Learn more</a>
                            </div>
                          </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/*  download section  */}}
    
    {{ partial "download/download-section.html" (dict "count" "03" ) }}
   
    {{/*  download section  */}}
    <div class="assets-section" id="assets">
        <div class="container br-b">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="title">
                    <h3 class="thin-font"><span>03 </span>ASSETS</h3>
                    </div>
                    <div class="row justify-content-center">
                    <div class="col-12 col-sm-8">
                        <h2>CREATE ENDLESS POSSIBILITIES</h2>
                        <p>You can easily port a wide variety of assets into O3DE. Learn how with this step-by-step tutorial. Then extend and modify these assets to create endless possibilities.</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-11">
                    <div class="yt-wrapper">
              
                        <iframe src="https://www.youtube.com/embed/CQmjAxr7LZs?rel=0&disablekb=1" width="1200" height="683" title="O3DE - What is O3DE?" frameborder="0" allowfullscreen></iframe>
          
                      </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 text-center">
                    <div class="row justify-content-center">
                        <div class="col-12 col-sm-8">
                            <h2>Free source asset sites</h2>
                            <p>If you plan to open source your end work, you will need to choose openly licensed assets—and there is a big selection. Here’s a starting point, but these examples are by no means exhaustive. Refer to the open source licenses documentation to ensure a license is permissible for use as a part of your creation.</p>
                        </div>
                    </div>
                    
                        <ul class="source-asset">
                            <li>
                                <div class="logo-card">
                                    <img src="/img/free-source/kenneyLOGO.png" class="img-fluid" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="logo-card">
                                    <img src="/img/free-source/itch_io.png" class="img-fluid" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="logo-card">
                                    <img src="/img/free-source/open clip art.png" class="img-fluid" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="logo-card">
                                    <img src="/img/free-source/wikimedia.png" class="img-fluid" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="logo-card">
                                    <img src="/img/free-source/opengameout.png" class="img-fluid" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="logo-card">
                                    <img src="/img/free-source/sketchfab.png" class="img-fluid" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="logo-card">
                                    <img src="/img/free-source/gameclones.png" class="img-fluid" alt="">
                                </div>
                            </li>
                        </ul>
                    

                </div>
            </div>
        </div>
    </div>
    <div class="gems-section section-gradient">
        <div class="container br-b">
            <div class="row">
                <div class="col-12">
                    <div class="title mb-40">
                        <h3 class="thin-font"><span>04 </span>GEMS</h3>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mb-80 align-items-start w-100">
                      <div class="col-sm-9 ">
                          <h2 class="bold-font">ADD FEATURES AND FUNCTIONALITY WITH O3DE GEMS (PLUGINS)</h2>
                      </div> 
                      <div class="col-sm-3 text-right">
                          <a href="" class="btn btn-underline">SEE ALL GEMS</a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-50">
                    <div class="gem-card">
                      <div class="gen-img--wrapper">
                        <div class="gen-img" style="background-image: url('/img/gems/gem-1.jpeg')">
                          <span>AI</span>
                        </div>
        
                      </div>
                      <div class="gem-text">
                        <h3><strong>Artificial World Gem</strong><br>
                          By Kythera AI</h3>
                        <p>Find out why more than 50% of the world’s video games are made with Unity.</p>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-12 col-md-4 mb-50">
                    <div class="gem-card">
                      <div class="gen-img--wrapper">
                        <div class="gen-img" style="background-image: url('/img/gems/gem-2.jpeg')">
                          <span>Navigation</span>
                        </div>
        
                      </div>
                      <div class="gem-text">
                        <h3><strong>Robotics</strong><br>
                          By Company Name</h3>
                        <p>Provides integration with the Robot Operating System (ROS) 2 library and enables robotics systems simulation</p>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-12 col-md-4 mb-50">
                    <div class="gem-card">
                      <div class="gen-img--wrapper">
                        <div class="gen-img" style="background-image: url('/img/gems/gem-3.jpeg')">
                          <span>Navigation</span>
                        </div>
        
                      </div>
                      <div class="gem-text">
                        <h3><strong>Global Simulations</strong><br>
                          By O3DE Core</h3>
                        <p>Create rich global simulations and experiences, and add real-world context</p>
                      </div>
                    </div>
                    
                  </div>
            </div>
            
        </div>
    </div>
  
    {{ partial "community/community-support.html" . }}

    
</section>


{{ partial "newHome/getstarted-secion.html" . }}
{{ partial "newHome/footer.html" . }}
{{ end }}