<section class="community-secion">
    <div class="container">
        <div class="row ">
            <div class="col-sm-9">
                <h2>A NEW, diverse community <br>TO START EXPLORING</h2>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-8">
                <div class="community--card">
                    <a href="">
                        <div class="community--card_img" style="background-image: url('/img/home-new/event_summary.jpeg')">
                            <span>Blog Post</span>
                        </div>
                        <div class="community--card_text">
                            <h3>O3DCON 2022<br>
                                Event Summary</h3>
                            <div class="flex-spacebetween">
                                <p>3 days of innovation, conversation and inspiration</p>
                                <span>
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M-0.000679503 7.36396H12.7272" stroke="white" stroke-width="2" stroke-linejoin="round"/>
                                        <path d="M6.36328 1L12.7272 7.36396L6.36328 13.7279" stroke="white" stroke-width="2" stroke-linejoin="round"/>
                                    </svg>                                        
                                </span>
                            </div>    
                            
                        </div>
                    </a>
                </div>   
            </div>
            <div class="col-md-4">
                <div class="community--card">
                    <a href="">
                        <div class="community--card_img" style="background-image: url('/img/home-new/dennis_dyack.jpeg')">
                            <span>Spotlight</span>
                        </div>
                        <div class="community--card_text aqua">
                            <h3>Dennis
                                <br>
                                Dyack</h3>
                            <div class="flex-spacebetween">
                                <p>CEO, Apocalypse Studios</p>
                                <span>
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M-0.000679503 7.36396H12.7272" stroke="white" stroke-width="2" stroke-linejoin="round"/>
                                        <path d="M6.36328 1L12.7272 7.36396L6.36328 13.7279" stroke="white" stroke-width="2" stroke-linejoin="round"/>
                                    </svg>                                        
                                </span>
                            </div>    
                            
                        </div>
                    </a>
                </div>  
            </div>
        </div>
    </div>
</section>  
<section class="conversations">
    
</section>