<section class="community-secion bg-white">
    <div class="container">
        <div class="row ">
            <div class="col-sm-9">
                <h2>DISCOVER THE COMMUNITY</h2>
            </div> 
            <div class="col-sm-3 text-right hide-mobile">
                <a href="" class="btn btn-underline">TAKE PART</a>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-4 mb-30">
                <div class="community--card">
                    <a href="" >
                        <div class="community--card_img-wrapper">
                            <div class="community--card_img" style="background-image: url('/img/home-new/podcast-img.jpeg')"></div>
                            <div class="card_text">
                                <span>Podcast</span>
                                <h3>Subcribe to the O3DE podcast!</h3>
                            </div>
                        </div>
                        <div class="community--card_text">
                            <p><time datetime="2023-05-12">12.05.23 </time></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-30">
                <div class="community--card" id="home-blog">
                    <a href="" >
                        <div class="community--card_img-wrapper">
                            <div class="community--card_img" style="background-image: url('/img/home-new/blog-img.jpg')"></div>
                            <div class="card_text">
                                <span>Blog</span>
                                <h3></h3>
                            </div>
                        </div>
                        <div class="community--card_text">
                            <p><time datetime=""> </time></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-30">
                <div class="community--card" id="home-event">
                    <a href="" >
                        <div class="community--card_img-wrapper">
                            <div class="community--card_img" style="background-image: url('/img/home-new/news-img.jpeg')"></div>
                            <div class="card_text">
                                <span>Event</span>
                                <h3></h3>
                            </div>
                        </div>
                        <div class="community--card_text">
                            <p><time datetime=""> </time></p>
                        </div>
                    </a>
                </div>
            </div>
         
        </div>
        <div class="row show-mobile mb-40 mt-40">
            <div class="col-md-2 text-center ">
                <a href="" class="btn btn-underline">TAKE PART</a>
            </div>
        </div>  
    </div>
</section>   
