<section class="community-secion bg-white">
    <div class="container">
        <div class="row ">
            <div class="col-sm-9">
                <h2>DISCOVER THE COMMUNITY</h2>
            </div> 
            <div class="col-sm-3 text-right">
                <a href="" class="btn btn-underline">TAKE PART</a>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-4">
                <div class="community--card">
                    <a href="" >
                        <div class="community--card_img-wrapper">
                            <div class="community--card_img" style="background-image: url('/img/home-new/podcast-img.jpeg')"></div>
                        </div>
                        <div class="community--card_text">
                            <span>Podcast</span>
                            <h3>Subcribe to the O3DE podcast!</h3>
                            <p>By O3DE | <time datetime="2023-05-12">12.05.23 </time>| 2 minute read</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="community--card">
                    <a href="" >
                        <div class="community--card_img-wrapper">
                            <div class="community--card_img" style="background-image: url('/img/home-new/blog-img.jpeg')"></div>
                        </div>
                        <div class="community--card_text">
                            <span>Blog</span>
                            <h3>O3DCON 2022 Event Summary</h3>
                            <p>By O3DE | <time datetime="2023-05-12">12.05.23 </time>| 2 minute read</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="community--card">
                    <a href="" >
                        <div class="community--card_img-wrapper">
                            <div class="community--card_img" style="background-image: url('/img/home-new/news-img.jpeg')"></div>
                        </div>
                        <div class="community--card_text">
                            <span>News</span>
                            <h3>First Last signs book at O3DCON</h3>
                            <p>By O3DE | <time datetime="2023-05-12">12.05.23 </time>| 2 minute read</p>
                        </div>
                    </a>
                </div>
            </div>
         
        </div>
    </div>
</section>   
