<div class="create-contribute-section">
    <div class="container">
        <div class="row ">
            <div class="col-sm-6">
                <h2>CREATE  & CONTRIBUTE <br>FREELY WITH O3DE</h2>
            </div>
        </div>  
        <div class="row">
            <div class="col-sm-6 ">
                <div class="contribute--card">
                    <div class="contribute--card_img" style="background-image: url('/img/home-new/featured1.jpeg')"></div>
                    <div class="contribute--card_text">
                        <h3>Make your first world <br>in just 30 minutes</h3>
                        <a href="">start creating</a>
                    </div>
                </div>   
                
            </div>
            <div class="col-sm-6">
                <div class="contribute--card">
                    <div class="contribute--card_img" style="background-image: url('/img/home-new/featured2.jpeg')"></div>
                    <div class="contribute--card_text">
                        <h3>Make an impact in <br>the O3DE community</h3>
                        <a href="">CONTRIBUTE</a>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</div>