<div class="create-contribute-section">
    <div class="container">
        <div class="row mb-64">
            <div class="col-sm-6">
                <h2>CREATE in the open</h2>
            </div>
            <!-- <div class="col-sm-6 flex-bottom">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar sodales mauris, ac pellentesque tortor porttitor.</p>
            </div> -->
        </div>  
        <div class="row">
            <div class="col-sm-6 ">
                <div class="contribute--card">
                    <div class="contribute--card_img" style="background-image: url('/img/home-new/featured1.jpeg')"></div>
                    <div class="contribute--card_text">
                        <a href="">start creating</a>
                        <h3>Build your first world <br>in just 30 minutes</h3>
                    </div>
                </div>   
                
            </div>
            <div class="col-sm-6">
                <div class="contribute--card">
                    <div class="contribute--card_img" style="background-image: url('/img/home-new/featured2.jpeg')"></div>
                    <div class="contribute--card_text">
                        <a href="">Start CONTRIBUTing</a>
                        <h3>Make an impact in <br>the O3DE community</h3>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</div>