<div class="create-contribute-section">
    <div class="container">
        <div class="row mb-64">
            <div class="col-sm-6">
                <h2>CREATE in the open</h2>
            </div>
            <!-- <div class="col-sm-6 flex-bottom">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar sodales mauris, ac pellentesque tortor porttitor.</p>
            </div> -->
        </div>  
        <div class="row">
            <div class="col-sm-6 ">
                <div class="contribute--card">
                    <div class="contribute--card_img" style="background-image: url('/img/home-new/featured1.jpeg')"></div>
                    <div class="contribute--card_text">
                        <h3><span class="text-underline">Get started</span> with O3DE in just 30 minutes</h3>
                        <a href="/create/">START CREATING
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 6.63403H12.3353M12.3353 6.63403L6.49224 0.791016M12.3353 6.63403L6.49224 12.4771" stroke="#0AC1C7" stroke-width="1.73126" stroke-linejoin="round"/>
                            </svg>                                
                        </a>
                        
                    </div>
                </div>   
                
            </div>
            <div class="col-sm-6">
                <div class="contribute--card">
                    <div class="contribute--card_img" style="background-image: url('/img/home-new/featured2.jpeg')"></div>
                    <div class="contribute--card_text">
                        <h3><span class="text-underline">Make an impact</span> in  the O3DE community</h3>
                        <a href="/contribute/">START CONTRIBUTING 
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 6.63403H12.3353M12.3353 6.63403L6.49224 0.791016M12.3353 6.63403L6.49224 12.4771" stroke="#0AC1C7" stroke-width="1.73126" stroke-linejoin="round"/>
                                </svg>                                
                        </a>
                        
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</div>