<section class="getstarted-secion">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6">
                <p class="h1">
                    Open up your</br> world today...
                </p>
            </div> 
            <div class="col-sm-4">
                <p>Get started with  O3DE and be part of this vibrant, thriving open source 3D community</p>
                <p class="buttons">
                    <a href="/download" class="mt-4 btn btn-lg download-cta">DOWNLOAD</a>
                    <a href="/docs" class="mt-4 btn btn-lg border-cta">LEARN</a>
                </p>
            </div>       
        </div>
    </div>
</section>