<section class="getstarted-secion">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6">
                <p class="h1">
                    Open up your <br> world today...
                </p>
            </div> 
            <div class="col-sm-4">
                <p>Get started with  O3DE and be part of this vibrant, thriving open source 3D community</p>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="/download" class="mt-4 btn-primary-black with-icon mr-0">DOWNLOAD {{ partial "svg-icons/down-arrow.svg" . }}</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/docs" class="mt-4 w-100 btn-secondary-white">LEARN MORE</a>
                    </div>
                    
                    
                </div>
            </div>       
        </div>
    </div>
</section>