{{ $title := site.Title }}
{{ $desc  := site.Params.description | markdownify }}

<section class="hero-banner-secton">
  <div class="banner_content">
    <!-- Slider main container -->
    <div class="swiper banner-slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        
        <div class="swiper-slide">
          <video class="" type="video/mp4"
          muted  autoplay="true" loop="true" poster="/video/poster.jpg" 
          src="/video/Website Banner_Full Test_o2gd.mp4" preload="auto" >
         </video>

          <div class="container hero-slideshow-foreground">
            <div class="row">
              <div class="col col-12 col-md-6 pb-4 pt-4">
                <p class="subtitle">INTRODUCING O3DE</p>
                  <h1 class="title">
                    Open source, <br>real-time 3D <br>engine
                  </h1>
                  <p class="d-flex">
                    <a href="/download" class="mt-4 btn-primary-black">DOWNLOAD</a>
                    <a href="/docs" class="mt-4 btn-secondary-white">Learn More</a>
                  </p>
                </div>
              </div>
            </div>
        </div>
        {{/*  <div class="swiper-slide">
          <video class="" type="video/mp4"
          muted  autoplay="true" loop="true" poster="/video/poster.jpg" 
          src="/video/O3DCON_2022_LBR.mp4" preload="auto" >
         </video>
        

          <div class="container hero-slideshow-foreground">
            <div class="row">
              <div class="col col-12 col-md-6 pb-4 pt-4">
                  <h1 class="title">
                    Open source, <br>real-time 3D <br>engine
                  </h1>
                  <p class="buttons">
                    <a href="/download" class="mt-4 btn btn-lg download-cta">GET THE LATEST VERSION</a>
                    <a href="/docs" class="mt-4 btn btn-lg border-cta">Learn</a>
                  </p>
                </div>
              </div>
            </div>
        </div>  */}}
       
      </div>
      <div class="container hide-mobile">
        <hr class="white-hr">
        <div class="row">
          <div class="col-4">
             <div class="banner-feature-wrap">
              <div class="feature-icon">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="16" cy="16" r="16" fill="white"/>
                  <path d="M8 16.2134L12.8432 21.3334L22.9333 10.6667" stroke="black" stroke-width="3" stroke-linecap="round"/>
                </svg>                  
              </div>
              <div class="feature-desc">
                <p><strong>Open Source</strong> - Entirely free <br>to all with zero limits</p>
              </div>
             </div>
          </div>
          <div class="col-4">
            <div class="banner-feature-wrap">
             <div class="feature-icon">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="16" cy="16" r="16" fill="white"/>
              <path d="M22.7307 11.0322C22.3297 10.6346 21.8531 10.3191 21.3284 10.1039C20.8038 9.88863 20.2412 9.77783 19.6731 9.77783C19.105 9.77783 18.5424 9.88863 18.0178 10.1039C17.4931 10.3191 17.0165 10.6346 16.6155 11.0322L16 11.6482L15.3845 11.0322C14.9835 10.6346 14.5069 10.3191 13.9823 10.1039C13.4576 9.88863 12.895 9.77783 12.3269 9.77783C11.7588 9.77783 11.1962 9.88863 10.6716 10.1039C10.1469 10.3191 9.67034 10.6346 9.26932 11.0322C7.57466 12.7065 7.47074 15.5338 9.60505 17.682L16 24.0001L22.3949 17.682C24.5293 15.5338 24.4253 12.7065 22.7307 11.0322Z" fill="black"/>
              </svg>
              </div>
             <div class="feature-desc">
              <p><strong>Thriving Community</strong> - Of users & contributors exploring together</p>
             </div>
            </div>
         </div>
         <div class="col-4">
          <div class="banner-feature-wrap">
           <div class="feature-icon">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="16" cy="16" r="16" fill="white"/>
              <path d="M16.3686 6.22217L19.2297 12.0733L25.6279 13.0174L20.9983 17.5693L22.0909 23.9999L16.3686 20.9622L10.6464 23.9999L11.739 17.5693L7.10938 13.0174L13.5075 12.0733L16.3686 6.22217Z" fill="black"/>
              </svg>              
           </div>
           <div class="feature-desc">
            <p><strong>Triple A Members</strong> - Supporting <br>and enhancing the platform</p>
           </div>
          </div>
       </div>
        </div>
        {{/*  <div class="progress-track">
          <ul>
            <li class="active">Showcase</li>
            <li>Community</li>
          </ul>
          <div class="swiper-nav-wrapper">
            <div class="slide-nav swiper-prev">
              <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.26807 0.864014L1.13184 5.00006L5.26807 9.13605" stroke="black"/>
                </svg>                
            </div>
            <div class="slide-nav swiper-next">
              <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.13184 0.864014L5.26807 5.00006L1.13184 9.13605" stroke="black"/>
              </svg>
            </div>
          </div>
        </div>  */}}
        
      </div>
      

    </div>
    {{/*  <p class="vertical-text">Open up — Level up</p>    */}}
  </div>
</section>
