<section class="members-section">
    <div class="container">
        <div class="row mb-80">
            <div class="col-sm-8">
                <h2>MEMBER ORGANIZATIONS</h2>
                <p>Over 25 member organizations support the Open 3D Engine. Engage with them to learn why they support the project, and discover how membership provides the opportunity to shape and guide its future.</p>
            </div> 
            <div class="col-sm-4 text-right">
                <a href="" class="btn btn-underline">BECOME A MEMBER</a>
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-12">
                
                <div class="swiper member-slider">
                
                    <div class="swiper-wrapper">
                
                    <div class="swiper-slide">
                        <h6>Premier partners</h6>
                        <div class="logo-row">
                            <div class="logo-col">
                                <img src="/img/home-new/members/adobe.png" alt="">
                            </div>
                            <div class="logo-col">
                                <img src="/img/home-new/members/aws.png" alt="">
                            </div>
                            <div class="logo-col">
                                <img src="/img/home-new/members/Epic.png" alt="">
                            </div>
                            <div class="logo-col">
                                <img src="/img/home-new/members/huawei.png" alt="">
                            </div>
                            <div class="logo-col">
                                <img src="/img/home-new/members/intel.png" alt="">
                            </div>
                            <div class="logo-col">
                                <img src="/img/home-new/members/microsoft.png" alt="">
                            </div>
                            <div class="logo-col">
                                <img src="/img/home-new/members/niantic.png" alt="">
                            </div>
                            <div class="logo-col">
                                <img src="/img/home-new/members/niantic.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h6>Premier partners</h6>
                        <div class="logo-row">
                            <div class="logo-col">
                                <img src="/img/home-new/members/adobe.png" alt="">
                            </div>
                        </div>
                        <h6>GENERAL partners</h6>
                        <div class="logo-row">
                            <div class="logo-col">
                                <img src="/img/home-new/members/adobe.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h6>Premier partners</h6>
                        <div class="logo-row">
                            <div class="logo-col">
                                <img src="/img/home-new/members/adobe.png" alt="">
                            </div>
                        </div>
                        <h6>GENERAL partners</h6>
                        <div class="logo-row">
                            <div class="logo-col">
                                <img src="/img/home-new/members/adobe.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h6>Premier partners</h6>
                        <div class="logo-row">
                            <div class="logo-col">
                                <img src="/img/home-new/members/adobe.png" alt="">
                            </div>
                        </div>
                        <h6>GENERAL partners</h6>
                        <div class="logo-row">
                            <div class="logo-col">
                                <img src="/img/home-new/members/adobe.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h6>Premier partners</h6>
                        <div class="logo-row">
                            <div class="logo-col">
                                <img src="/img/home-new/members/adobe.png" alt="">
                            </div>
                        </div>
                        <h6>GENERAL partners</h6>
                        <div class="logo-row">
                            <div class="logo-col">
                                <img src="/img/home-new/members/adobe.png" alt="">
                            </div>
                        </div>
                    </div>
                
                    </div>
                
                    <div class="member-slider_paginations">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    
                </div>
               
            </div>
        </div>
    </div>
</section>