<section class="members-section">
    <div class="container">
        <div class="row mb-80 justify-content-center">
            <div class="col-sm-8 text-center">
                <h2>MEMBER ORGANIZATIONS</h2>
                <p>More than 25 member organizations support the O3DE. Find out why and discover how becoming a member helps you to shape the future of O3DE.</p>
            </div> 
           
        </div> 
        <div class="row">
            <div class="col-sm-12">
                <div class="swiper member-slider member-slider-1">
                    <div class="swiper-wrapper">
                        <div class="logo-col rectangle swiper-slide"><img src="/img/members-logo/image 68.png" alt=""></div>
                        <div class="logo-col square swiper-slide"><img src="/img/members-logo/image 69.png" alt=""></div>
                        <div class="logo-col square swiper-slide"><img src="/img/members-logo/image 71.png" alt=""></div>
                        <div class="logo-col rectangle swiper-slide"><img src="/img/members-logo/image 70.png" alt=""></div>
                        <div class="logo-col long-rectangle swiper-slide"><img src="/img/members-logo/image 73.png" alt=""></div>
                        <div class="logo-col square swiper-slide"><img src="/img/members-logo/image 74.png" alt=""></div>
                        <div class="logo-col rectangle swiper-slide"><img src="/img/members-logo/image 75.png" alt=""></div>    
                        <div class="logo-col long-rectangle swiper-slide"><img src="/img/members-logo/image 50.png" alt=""></div>
                        <div class="logo-col long-rectangle swiper-slide"><img src="/img/members-logo/image 53.png" alt=""></div>
                        <div class="logo-col long-rectangle swiper-slide"><img src="/img/members-logo/image 58.png" alt=""></div>
                        <div class="logo-col long-rectangle swiper-slide"><img src="/img/members-logo/image 62.png" alt=""></div>
                        <div class="logo-col rectangle swiper-slide"><img src="/img/members-logo/image 57.png" alt=""></div>    
                    </div>                    
                </div>
                <div class="swiper member-slider member-slider-2">
                    <div class="swiper-wrapper">
                        <div class="logo-col square swiper-slide"><img src="/img/members-logo/image 56.png" alt=""></div>
                        <div class="logo-col long-rectangle swiper-slide"><img src="/img/members-logo/image 61.png" alt=""></div>
                        <div class="logo-col long-rectangle swiper-slide"><img src="/img/members-logo/image 52.png" alt=""></div>
                        <div class="logo-col long-rectangle swiper-slide"><img src="/img/members-logo/image 51.png" alt=""></div>
                        <div class="logo-col long-rectangle swiper-slide"><img src="/img/members-logo/image 55.png" alt=""></div>
                        <div class="logo-col long-rectangle swiper-slide"><img src="/img/members-logo/image 59.png" alt=""></div>
                        <div class="logo-col square swiper-slide"><img src="/img/members-logo/image 60.png" alt=""></div>
                        <div class="logo-col square swiper-slide"><img src="/img/members-logo/image 66.png" alt=""></div>
                        <div class="logo-col rectangle swiper-slide"><img src="/img/members-logo/image 64.png" alt=""></div>
                        <div class="logo-col rectangle swiper-slide"><img src="/img/members-logo/image 63.png" alt=""></div>
                        <div class="logo-col rectangle swiper-slide"><img src="/img/members-logo/image 65.png" alt=""></div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5 mb-80">
            <div class="col-sm-4 text-center">
                <a href="/community/members/" class="btn btn-underline">SEE ALL MEMBERS</a>
            </div>
        </div>
    </div>
</section>