<section class="members-section">
    <div class="container">
        <div class="justify-content-between row">
            <div class="col-sm-8">
                <h2>Over 25 member organizations </h2>
            </div>
            <div class="align-items-center d-flex">
                <a href="" class="btn btn-lg border-cta border-cta-black">See All</a>
            </div>
            
            
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li>
                        <img src="/img/home-new/members/adobe.png" alt="">
                    </li>
                    <li>
                        <img src="/img/home-new/members/aws.png" alt="">
                    </li>
                    <li>
                        <img src="/img/home-new/members/Epic.png" alt="">
                    </li>
                    <li>
                        <img src="/img/home-new/members/huawei.png" alt="">
                    </li>
                    <li>
                        <img src="/img/home-new/members/intel.png" alt="">
                    </li>
                    <li>
                        <img src="/img/home-new/members/microsoft.png" alt="">
                    </li>
                    <li>
                        <img src="/img/home-new/members/niantic.png" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>