<div class="sub-menu">
  <div class="col-container container">
    <div class="row">
      <div class="col-md-4">
        <div class="col1">
          <ul id="menu-about_01" class="menu">
            <li
              class="menu-item menu-item-type-custom lf-menu-title">
              MEET O3DE
            </li>
            <li
              class="menu-item">
              <a href="/about/">Engine Overview
                <span class="lf-menu-description">
                  Get a high-level overview of how O3DE works, end-to-end.
                </span>
              </a>
            </li>
            <li
              class="menu-item">
              <a href="/features">
                Features
                <span class="lf-menu-description">
                  Explore O3DE’s comprehensive suite of features and tools.            
                </span>
              </a>
            </li>
            <li
              class="menu-item">
              <a href="/gems/">
                Discovering Gems
                <span class="lf-menu-description">
                  Add functionality to your project through modular Gems.
                </span>
              </a>
            </li>
            <li
            class="menu-item">
            <a href="/gems/">
              Key Concepts
              <span class="lf-menu-description">
                Add functionality to your project through modular Gems.
              </span>
            </a>
          </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col2">
          <ul id="menu-about_01" class="menu">
            <li
              class="menu-item menu-item-type-custom lf-menu-title">
              TECHNICAL REQUIREMENTS
            </li>
            <li
              class="menu-item">
              <a href="https://www.o3de.org/docs/welcome-guide/requirements/">System Requirements <i class="icon-arrow"></i>
                {{/*  <i class="icon-arrow"></i>  */}}
                <span class="lf-menu-description">
                  Discover the set up you need to make the most out of O3DE.
                </span>
              </a>
            </li>
            <li
              class="menu-item">
              <a href="https://www.o3de.org/docs/welcome-guide/supported-platforms/">
                Supported Platforms <i class="icon-arrow"></i>
                <span class="lf-menu-description">
                  Information on our current platforms and how to install.            
                </span>
              </a>
            </li>
            
          </ul>
        </div>
       
      </div>
  
      <div class="col-md-4 col3">
        <ul class="menu">
          <li class="lf-menu-title">LATEST & GREATEST</li>
        </ul>
        <div class="columns-one">
          <div id="nav-event" class="main-menu-item main-menu-blog">
            <div class="main-menu-item__image-wrapper">
              <div class="bg-image" style="background-image: url('/img/home-new/navigation/Event.jpg');"></div>
            </div>
            <div class="main-menu-item__text-wrapper">
                <span class="author-category">EVENT</span>
                <span class="main-menu-item__title">
                Join us for our first ever O3DEJAM in May!
                </span>
                <span class="main-menu-item__date">October 23, 2023</span>
            </div>
            <a href="" class="blog-link"></a>
          </div>
          <div class="main-menu-item main-menu-blog">
            <div class="main-menu-item__image-wrapper">
              <div class="bg-image" style="background-image: url('/img/home-new/navigation/O3DE_Podcast_009.jpg');"></div>
            </div>
            <div class="main-menu-item__text-wrapper">
                <span class="author-category">PODCAST</span>
                <span class="main-menu-item__title">
                  From Dungeon Master to Diversity Champion
                </span>
                <span class="main-menu-item__date">October 23, 2023</span>
            </div>
            <a href="" class="blog-link"></a>
          </div>
          <div id="nav-blog" class="main-menu-item main-menu-blog">
            <div class="main-menu-item__image-wrapper">
              <div class="bg-image" style="background-image: url('/img/home-new/navigation/google-test.png');"></div>
            </div>
            <div class="main-menu-item__text-wrapper">
                <span class="author-category">BLOG POST</span>
                <span class="main-menu-item__title">
                  Google Test Matchers
                </span>
                <span class="main-menu-item__date">October 23, 2023</span>
            </div>
            <a href="" class="blog-link"></a>
          </div>
          
          
            {{/*  <ul id="menu-about_02" class="menu">
              <li
                class="menu-item">
                <a href="https://www.o3de.org/docs/welcome-guide/supported-platforms/" traget="_blank">Supported Platforms <i class="icon-arrow"></i></a>
              </li>
              <li
                class="menu-item">
                <a href="https://www.o3de.org/docs/welcome-guide/requirements/" traget="_blank">System Requirements <i class="icon-arrow"></i></a>
              </li>
            </ul>  */}}
          
        </div>
      </div>
    </div>
 
  </div>
</div>
