<div class="sub-menu">
  <div class="col-container">
    <div class="col1">
      <ul id="menu-about_01" class="menu">
        <li id="menu-item-71611" class="menu-item menu-item-type-custom lf-menu-title">
          USERS
        </li>
        <li
          class="menu-item">
          <a href="#">O3DE Intro
            <span class="lf-menu-description">
              Get to know why creators, companies and contributors are joining the O3DE community
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">Features
            <span class="lf-menu-description">
              Discover the many unique features that bring open 3D worlds and simulations to life  
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">Learning Resources
            <span class="lf-menu-description">
              From helpful O3DE information to community tutorials, this is the place to reach your potential</span>
          </a>
        </li>
        <li
          class="menu-item"
        >
          <a href="#"
            >O3DE SHOWCASE
            <span class="lf-menu-description">
              Take a look at the incredible work our community is creating and launching</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col2">
      <ul id="menu-about_01" class="menu">
        <li
          class="menu-item menu-item-type-custom lf-menu-title">
        CONTRIBUTORS
        </li>
        <li
          class="menu-item">
          <a href="#">O3DE Intro
            <span class="lf-menu-description">
              Get to know why creators, companies and contributors are joining
              the O3DE community
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">
            Features
            <span class="lf-menu-description">
              Discover the many unique features that bring open 3D worlds and simulations to life
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">
            Learning Resources
            <span class="lf-menu-description">
              From helpful O3DE information to community tutorials, this is the place to reach your potential
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">
            O3DE SHOWCASE
            <span class="lf-menu-description">
              Take a look at the incredible work our community is creating and launching
              </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col3">
      <ul class="menu">
        <li class="lf-menu-title">MORE LINKS</li>
      </ul>
      <div class="columns-one">
        <div class="main-menu-item">
          <div class="main-menu-item__image-wrapper not-sticky">
            <a
              href="#"
              title="event-O3DCON"
              class="main-menu-item__link">
                <img src="/img/home-new/event-O3DCON.jpeg" 
                
                class="main-menu-item__image"
                alt="event-O3DCON"
                />
            </a>
          </div>
         
        </div>
        
          <ul id="menu-about_02" class="menu">
            <li
              class="menu-item">
              <a href="#">Code of Conduct</a>
            </li>
            <li
              class="menu-item">
              <a href="#">FAQ</a>
            </li>
            <li
              class="menu-item">
              <a href="#">Contact Us</a>
            </li>
          </ul>
        
      </div>
    </div>
  </div>
</div>
