{{ $social := site.Params.social }}
{{ $discord   := site.Params.socialmedia.discord }}
{{ $twitter   := site.Params.socialmedia.twitter }}
{{ $youtube   := site.Params.socialmedia.youtube }}
{{ $github   := site.Params.socialmedia.github }}
{{ $linkedin   := site.Params.socialmedia.linkedin }}
{{ $calendar   := site.Params.socialmedia.calendar }}


<div class="sub-menu">
  <div class="col-container">
    <div class="col1">
      <ul id="menu-about_01" class="menu">
        <li id="menu-item-71611" class="menu-item menu-item-type-custom lf-menu-title">
          COMMUNITY CONTENT
        </li>
        <li
          class="menu-item">
          <a href="/blog/">News & Blogs
            <span class="lf-menu-description">
              Get the latest news and updates, meet the people of O3DE, dive into technical topics, and more.            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">O3DE Showcase
            <span class="lf-menu-description">
              Discover how artists, designers and developers are using O3DE to realize their 3D visions.            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">Events
            <span class="lf-menu-description">
              Connect with the community and learn more about O3DE at upcoming events and meetups.            </span>
          </a>
        </li>
        <li class="menu-item">
          <a href="#">
            Podcast
            <span class="lf-menu-description">
              Explore the world of open source 3D as host Royal O’Brien chats with those who bring it to life.            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col2">
      <ul id="menu-about_01" class="menu">
        <li
          class="menu-item menu-item-type-custom lf-menu-title">
          TAKE PART
        </li>
        <li
          class="menu-item">
          <a href="#">Special Interest Groups
            <span class="lf-menu-description">
              Connect with those who are continuously advancing the Engine through O3DE’s special interest groups (SIGs).
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">Committees
            <span class="lf-menu-description">
              Meet individuals who actively participate on the Technical Steering Committee and Marketing / Outreach Committee.            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">Members
            <span class="lf-menu-description">
              Meet member companies who are committed to advancing the future of open source 3D technology.            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">
            Speakers Bureau
            <span class="lf-menu-description">
              Coming Soon
            </span>
          </a>
        </li>
        <li
        class="menu-item">
        <a href="#">
          Ambassadors
          <span class="lf-menu-description">
            Coming Soon
          </span>
        </a>
      </li>
      </ul>
    </div>

    <div class="col3">
      <ul class="menu">
        <li class="lf-menu-title">CONNECT</li>
      </ul>
      <div class="columns-one">
          <ul class="menu-social menu">
            <li
              class="menu-item">
              {{ $calendar := printf $calendar | relURL }}
              <a href="{{ $calendar }}"><span class="icon-calender"><span class="path1"></span><span class="path2"></span></span> Calendar</a>
            </li>
            <li
              class="menu-item">
              {{ $discord := printf $discord | relURL }}
              <a href="{{ $discord }}"><span class="icon-discord"></span> Discord</a>
            </li>
            <li
              class="menu-item">
              {{ $github := printf $github | relURL }}
              <a href="{{ $github }}"><span class="icon-github"></span> Github</a>
            </li>
            <li
              class="menu-item">
              {{ $twitter := printf $twitter | relURL }}
              <a href="{{ $twitter }}"><span class="icon-twitter"></span> Twitter</a>
            </li>
            <li
              class="menu-item">
              {{ $youtube := printf $youtube | relURL }}
              <a href="{{ $linkedin }}"><span class="icon-linkedin"></span> LinkedIn</a>
            </li>
            <!-- <li
            class="menu-item">
            <a href="#"><span class="icon-spotify"></span> Spotify</a>
          </li> -->
          </ul>
        
      </div>
      <ul class="menu">
        <li class="lf-menu-title">MORE LINKS</li>
      </ul>
      <div class="columns-one">
        
        
        <ul  class="menu">
          
          <li
            class="menu-item">
            <a href="#"><span class="icon-store"></span> Store</a>
          </li>
          <li
            class="menu-item">
            <a href="#"><span class="icon-staff"></span> Code of Conduct</a>
          </li>
          <!-- <li
            class="menu-item">
            <a href="#"><span class="icon-coc"></span> Code of Conduct</a>
          </li> -->
          <!-- <li
            class="menu-item">
            <a href="#"><span class="icon-guidelines"></span> Brand Guidelines</a>
          </li> -->
          
          <li
            class="menu-item">
            <a href="#"><span class="icon-values"></span> Community Values</a>
          </li>
        </ul>
      
    </div>
    </div>
  </div>
</div>
