<div class="sub-menu">
  <div class="col-container">
    <div class="col1">
      <ul id="menu-about_01" class="menu">
        <li class="menu-item menu-item-type-custom lf-menu-title">
          START USING O3DE      
        </li>
        <li
          class="menu-item "
        >
          <a href="#">
            Install, Setup & Build
            <span class="lf-menu-description">
              Install and set up O3DE for Linux or Windows, fork the engine from GitHub, or troubleshoot your setup.
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">
            Create a Project
            <span class="lf-menu-description">
              Create your first O3DE project using the Project Manager or Command Line Interface. 
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">
            Explore O3DE Workflows & Editor <i class="icon-arrow"></i>
            <span class="lf-menu-description">
              Learn about common workflows in O3DE, and take a tour of O3DE’s primary content creation tool.</span
            >
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">
            Asset Library
            <span class="lf-menu-description">
              Explore O3DE’s expansive library of assets for your next project.
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">
            Gem Catalogue
            <span class="lf-menu-description">
              Add features and functionality to your 3D project through a modular framework of Gems.
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col2">
      <ul id="menu-about_01" class="menu">
        <li class="menu-item menu-item-type-custom lf-menu-title">
          CONTRIBUTE TO O3DE        
        </li>
        <li
          class="menu-item "
        >
          <a href="#">
            Ways to Contribute
            <span class="lf-menu-description">
              Contribute to code, documentation, security, advocacy, and more.
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">
            Special Interest Groups
            <span class="lf-menu-description">
              Have a specific area of interest? Connect with O3DE’s breadth of special interest groups (SIGs).
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">
            Good First Issues
            <span class="lf-menu-description">
              Just getting started? Check out our list of good first issues and areas to work on.</span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">
            Community & Developer Advocacy
            <span class="lf-menu-description">
              If writing, speaking, organizing meetups, and other community activities are your jam, connect with us.  
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">
            User Guide
            <span class="lf-menu-description">
              Understand how O3DE’s features work and learn how to use them in your project.
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col3">
      <ul class="menu">
        <li class="lf-menu-title">USEFUL CONTENT</li>
      </ul>
      <div class="columns-one">
        <!-- Blog quick links -->
        <div class="main-menu-item main-menu-blog">
          <div class="main-menu-item__image-wrapper ">
                <a href="#" title="" class="main-menu-item__link">
              <img width="150" height="102" loading="lazy" class="main-menu-item__image" src="/img/home-new/news.jpg"  alt="Greetings from our General Manager Royal O’Brian reviewing all things O3DE in 2022">		</a>
          </div>
          <div class="main-menu-item__text-wrapper">
                <a class="author-category" title="2022 IN REVIEW" href="#">NEWS</a>
            
             <span class="main-menu-item__title">
              <a href="#" title="">Book Signings</a>
            </span>
            <span class="main-menu-item__date">October 23, 2023</span>
          </div>
        </div>
        <div class="main-menu-item main-menu-blog">
          <div class="main-menu-item__image-wrapper ">
                <a href="#" title="" class="main-menu-item__link">
              <img width="150" height="102" loading="lazy" class="main-menu-item__image" src="/img/home-new/blog-post.jpg"  alt="Greetings from our General Manager Royal O’Brian reviewing all things O3DE in 2022">		</a>
          </div>
          <div class="main-menu-item__text-wrapper">
                <a class="author-category" title="2022 IN REVIEW" href="#">BLOG POST</a>
            
             <span class="main-menu-item__title">
              <a href="#" title="">O3DCON 2022 </br>Event Summary</a>
            </span>
            <span class="main-menu-item__date">October 23, 2023</span>
          </div>
        </div>
        <div class="main-menu-item main-menu-blog">
          <div class="main-menu-item__image-wrapper ">
                <a href="https://open.spotify.com/show/3M8RJrwsCdMy9JPhWjndBN?si=f94273e7a357445c" target="_blank" title="" class="main-menu-item__link">
              <img width="150" height="102" loading="lazy" class="main-menu-item__image" src="/img/home-new/podcast.jpeg"  alt="Greetings from our General Manager Royal O’Brian reviewing all things O3DE in 2022">		</a>
          </div>
          <div class="main-menu-item__text-wrapper">
                <a class="author-category" title="2022 IN REVIEW" href="https://open.spotify.com/show/3M8RJrwsCdMy9JPhWjndBN?si=f94273e7a357445c" target="_blank">PODSCAST</a>
            
             <span class="main-menu-item__title">
              <a href="https://open.spotify.com/show/3M8RJrwsCdMy9JPhWjndBN?si=f94273e7a357445c" target="_blank" title="">Subscribe to our podcast </a>
            </span>
            <span class="main-menu-item__date">October 23, 2023</span>
          </div>
        </div>

        <!-- <div class="main-menu-item">
          <div class="main-menu-item__image-wrapper not-sticky">
            <a
              href="#"
              title="event-O3DCON"
              class="main-menu-item__link">
                <img src="/img/home-new/event-O3DCON.jpeg" 
                
                class="main-menu-item__image"
                alt="event-O3DCON"
                />
            </a>
          </div>
         
        </div> -->
        
          <!-- <ul id="menu-about_02" class="menu">
            <li
              id="menu-item-74274"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-74274"
            >
              <a href="https://www.cncf.io/conduct/">Code of Conduct</a>
            </li>
            <li
              id="menu-item-71621"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71621"
            >
              <a href="https://www.cncf.io/about/faq/">FAQ</a>
            </li>
            <li
              id="menu-item-71622"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71622"
            >
              <a href="https://www.cncf.io/about/contact/">Contact Us</a>
            </li>
          </ul>
         -->
      </div>
    </div>
  </div>
</div>
