<div class="sub-menu">
  <div class="col-container">
    <div class="col1">
      <ul id="menu-about_01" class="menu">
        <li class="menu-item menu-item-type-custom lf-menu-title">
          START USING O3DE     
        </li>
        <li class="menu-item ">
          <a href="#">
            Quick Start
            <span class="lf-menu-description">
              Install and set up O3DE or fork the engine from GitHub, create your first project, learn about common workflows, and take a tour of O3DE’s primary content creation tool.
            </span>
          </a>
        </li>
        <li class="menu-item ">
          <a href="#">
            Assets
            <span class="lf-menu-description">
              Learn how to easily port a wide selection of assets into O3DE for your next project.
            </span>
          </a>
        </li>
        <li class="menu-item">
          <a href="/gems">
            GemS
            <span class="lf-menu-description">
              Add features and functionality to your 3D project through a modular framework of Gems.
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col2">
      <ul id="menu-about_01" class="menu">
        <li class="menu-item menu-item-type-custom lf-menu-title">CONTRIBUTE TO O3DE</li>
        <li class="menu-item">
          <a href="/contribute/">
            Ways to Contribute 
            <span class="lf-menu-description">
              Contribute to code, documentation, security, advocacy, and more.
            </span>
          </a>
        </li>
        <li class="menu-item">
          <a href="/sigs/">
            Special Interest Groups
            <span class="lf-menu-description">
              Have a specific area of interest? Connect with O3DE’s breadth of special interest groups (SIGs).
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="/sigs">
            Good First Issues
            <span class="lf-menu-description">
              Just getting started? Check out our list of good first issues and areas to work on.
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="/contribute/">
            Community & Developer Advocacy
            <span class="lf-menu-description">
              If writing, speaking, organizing meetups, and other community activities are your jam, connect with us.
            </span>
          </a>
        </li>
       
      </ul>
    </div>

    <div class="col3">
      <ul class="menu">
        <li class="lf-menu-title">RESOURCES</li>
      </ul>
      <div class="columns-one">
        <ul  class="menu">
          
          <li
            class="menu-item">
            <a href="/docs/"><span class="icon-doc"></span> Documentation</a>
          </li>
          <li
            class="menu-item">
            <a href="/docs/user-guide/"><span class="icon-book"></span> User Guide</a>
          </li>
          <li
            class="menu-item">
            <a href="/docs/tools-ui/"><span class="icon-book"></span> Developer’s Guide</a>
          </li>
          <li
            class="menu-item">
            <a href="/docs/"><span class="icon-video"></span> Tutorials</a>
          </li>
          <li
            class="menu-item">
            <a href="https://github.com/o3de/o3de/blob/development/CODE_OF_CONDUCT.md" target="_blank"><span class="icon-staff"></span> Code of Conduct</a>
          </li>
        </ul>


        <!-- <div class="main-menu-item">
          <div class="main-menu-item__image-wrapper not-sticky">
            <a
              href="#"
              title="event-O3DCON"
              class="main-menu-item__link">
                <img src="/img/home-new/event-O3DCON.jpeg" 
                
                class="main-menu-item__image"
                alt="event-O3DCON"
                />
            </a>
          </div>
         
        </div> -->
        
          <!-- <ul id="menu-about_02" class="menu">
            <li
              id="menu-item-74274"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-74274"
            >
              <a href="https://www.cncf.io/conduct/">Code of Conduct</a>
            </li>
            <li
              id="menu-item-71621"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71621"
            >
              <a href="https://www.cncf.io/about/faq/">FAQ</a>
            </li>
            <li
              id="menu-item-71622"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71622"
            >
              <a href="https://www.cncf.io/about/contact/">Contact Us</a>
            </li>
          </ul>
         -->
      </div>
    </div>
  </div>
</div>
