{{ $social := site.Params.social }}
{{ $discord   := site.Params.socialmedia.discord }}
{{ $twitter   := site.Params.socialmedia.twitter }}
{{ $youtube   := site.Params.socialmedia.youtube }}
{{ $github   := site.Params.socialmedia.github }}
{{ $linkedin   := site.Params.socialmedia.linkedin }}
{{ $calendar   := site.Params.socialmedia.calendar }}


<div class="sub-menu">
  <div class="col-container">
    <div class="col1">
      <ul id="menu-about_01" class="menu">
        <li id="menu-item-71611" class="menu-item menu-item-type-custom lf-menu-title">
          USEFUL RESOURCES
        </li>
        <li
          class="menu-item">
          <a href="/docs/" target="_blank">Documentation  
            <span class="lf-menu-description">
              Dig into comprehensive documentation, and help us make it better.     
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="/docs/learning-guide/" target="_blank">Tutorials, Demos & Samples
            <span class="lf-menu-description">
              Dive into guided tutorials, demos, samples and recipes. 
            </span>
            </a>
        </li>
        <li
          class="menu-item">
          <a href="https://www.youtube.com/playlist?list=PLCQwFpnHSZQgzCpMmbxruFkWr3d73ZfEJ" target="_blank">Workshops & Presentations
            <span class="lf-menu-description">
              Explore O3DE through workshops and presentations.
            </span>
          </a>
        </li>
        <li class="menu-item">
          <a href="/docs/user-guide/">
            Guides
            <span class="lf-menu-description">
              Get guides for users, contributors and those developing components, tools and extensions for the O3DE Editor.          
            </span>
            </a>
        </li>
      </ul>
    </div>
    <div class="col2">
      <ul id="menu-about_01" class="menu">
        <li
          class="menu-item menu-item-type-custom lf-menu-title">
          MORE RESOURCES
        </li>
        <li
          class="menu-item">
          <a href="#">Training & Certification
            <span class="lf-menu-description">
              Coming Soon
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="#">Asset Library
            <span class="lf-menu-description">
              Coming Soon
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="/docs/api/" target="_blank">
            API Reference <i class="icon-arrow"></i>
            <span class="lf-menu-description">
              Check out the public API reference for libraries, gems and systems.
            </span>
          </a>
        </li>
        <li
          class="menu-item">
          <a href="/docs/user-guide/gems/">Gem Catalog <i class="icon-arrow"></i>
            <span class="lf-menu-description">
              Coming Soon
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col3">
      <ul class="menu">
        <li class="lf-menu-title">SUPPORT</li>
      </ul>
      <div class="columns-one">
          <ul class="menu-social menu">
            
            <li
              class="menu-item">
              {{ $discord := printf $discord | relURL }}
              <a href="{{ $discord }}"><span class="icon-discord"></span> Discord</a>
            </li>
            <li
              class="menu-item">
              <a href="#"><span class="icon-forum"><span class="path1"></span><span class="path2"></span></span> Forums</a>
            </li>
            <li
              class="menu-item">
              {{ $youtube := printf $youtube | relURL }}
              <a href="{{ $youtube }}"><span class="icon-youtube"></span> YouTube</a>
            </li>
            <li
            class="menu-item">
            <a href="#"><span class="icon-question"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span> FAQs Coming Soon</a>
          </li>

            <li
              class="menu-item">
              <a href="#"><span class="icon-notes"></span> Release Notes</a>
            </li>
            
            <!-- <li
            class="menu-item">
            <a href="#"><span class="icon-spotify"></span> Spotify</a>
          </li> -->
          </ul>
        
      </div>
      <ul class="menu">
        <li class="lf-menu-title">OTHER RESOURCES</li>
      </ul>
      <div class="columns-one">
        
        
        <ul  class="menu">
          
          <li
            class="menu-item">
            <a href="/resources/brand-guidelines/"><span class="icon-box"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span> Branding & Event Kit</a>
          </li>
        </ul>
      
    </div>
    </div>
  </div>
</div>
