<!-- displays 3 blog posts and links to blogs, for homepage & community page -->

<div class="getting-started">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col text-center col-md-6">
        <h2>HELPFUL RESOURCES</h2>
        <p>Download O3DE, follow the installation instructions, watch the videos below, and start interacting with our awesome community.</p>
      </div>
      
    </div>
    
    <div class="row">
      <div class="col-md-3">
        <div class="card-information">
          
            <div class="card-details">
              <h4>Prerequisites</h4>
              <p>Read up on the hardware and platform requirments to build and run O3DE.</p>
            </div>
              <a class=" btn-underline" href="https://o3de.org/docs/welcome-guide/requirements/">Learn more</a>
            
          
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="card-information">
            <div class="card-details">
              <h4>Setting up O3DE from GitHub</h4>
              <p>For the Developer Preview, follow these instructions to get started more easily. </p>
            </div>
            <a class=" btn-underline" href="https://o3de.org/docs/welcome-guide/setup/setup-from-github/">Learn more</a>
            
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="card-information">
            <div class="card-details">
              <h4>Install O3DE for Linux (Preview)</h4>
              <p>Learn how to install the O3DE Debian package for Linux (Ubuntu).</p>
            </div>
            <a class=" btn-underline" href="https://o3de.org/docs/welcome-guide/setup/installing-linux/">Learn more </a>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="card-information">
            <div class="card-details">
              <h4>Setup Troubleshooting </h4>
              <p>Check out our initial troubleshooting advice or contribute your own tips!</p>
            </div>
            <a class=" btn-underline" href="https://o3de.org/docs/welcome-guide/setup/troubleshooting/">Learn more</a>
        </div>
      </div>
      
    </div>
  </div> 
</div> 