{{ define "main" }}
<div class="text-banner gem-page bg-white">
  <div class="container short-container">
    <div class="row">
      <div class="col col-12 col-lg-8 ">
        
          <h1 class="title">
            {{ .Title }}
          </h1>
          
            {{ .Content | replaceRE "<p>" "<p class=\"h5\">" | safeHTML }}
          
      </div>
    </div>  
  </div>
</div> 

<section class="features-list">
  <div class="container br-b">
<div id="features" class="accordion">
  <div class="card">
    <div class="card-header" id="featurehead1">
        <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#feature1"
        aria-expanded="true" aria-controls="feature1">Familiar Build System  
      <span class="expand-acc">
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g>
          <line x1="26.434" class="verti" y1="-7.1881e-08" x2="26.434" y2="50" stroke="#0AC1C7" stroke-width="7.41284"/>
          <line x1="50.001" y1="26.4335" x2="0.000976562" y2="26.4335" stroke="#0AC1C7" stroke-width="7.41284"/>
          </g>
          </svg>      
      </span>
    </a>
    </div>

    <div id="feature1" class="collapse show" aria-labelledby="featurehead1" data-parent="#features">
        <div class="card-body">
            <div class="row mb-64 justify-content-between">
              <div class="col-12 mb-30 col-lg-5">
                <h3>Ready, Set. Create.<br>
                  It’s super easy to get started with O3DE</h3>
                    <p>Build, test and package software with CMake, enabling you to create projects with your favorite IDE and toolchain.  Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum,</p>
              </div>
              <div class="col-12 col-sm-8 col-lg-6">
                <img src="/img/features/Familiar-build-system.jpg" class="img-fluid br-10" alt="">
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="featurehead2">
        <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#feature2"
        aria-expanded="false" aria-controls="feature2">Physically-based Photorealistic Renderer
        <span class="expand-acc">
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
            <line x1="26.434" class="verti" y1="-7.1881e-08" x2="26.434" y2="50" stroke="#0AC1C7" stroke-width="7.41284"/>
            <line x1="50.001" y1="26.4335" x2="0.000976562" y2="26.4335" stroke="#0AC1C7" stroke-width="7.41284"/>
            </g>
            </svg>      
        </span>
      </a>
    </div>

    <div id="feature2" class="collapse" aria-labelledby="featurehead2" data-parent="#features">
        <div class="card-body">
            <div class="row mb-64 justify-content-between">
              <div class="col-12 mb-30 col-lg-5 ">
                <p>Create content using the latest multi-threaded, data-driven, cross-platform rendering technology that supports modern rendering pipelines.</p>
                <div class="btn-wrapper flex-start">
                  <a href="https://www.youtube.com/watch?v=GTJ_ie7yHdI" target="_blank" class="btn-secondary-black font-10">GET OVERVIEW</a>
                  <a href="https://www.o3de.org/docs/atom-guide/" target="_blank" class="btn-secondary-black font-10">DOCUMENTATION</a>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-lg-6">
                <img src="/img/features/Physically-based Photorealistic Renderer.jpg" class="img-fluid br-10" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 col-lg-4 mb-30">
                <div class="feature-card">
                  <a href="https://www.youtube.com/watch?v=97dBMZXDNA4&list=PLCQwFpnHSZQgkw7MdNQwagKKKvywt6b80&index=5" target="_blank">
                    <div class="feature-card-img" style="background-image:url('/img/features/working_atom.jpeg')"></div>
                  </a>
                  <div class="feature-card-text">
                    <p class="purple-text">Workshop</p>
                    <h5>Working with Atom</h5>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4 mb-30">
                <div class="feature-card">
              
                  <a href="https://www.youtube.com/watch?v=PP-sFjByvhA&list=PLCQwFpnHSZQgkw7MdNQwagKKKvywt6b80&index=37" target="_blank" >
                  <div class="feature-card-img" style="background-image:url('/img/features/atom_deep_dive.jpeg')"></div>
                </a>
                  <div class="feature-card-text">
                    <p class="purple-text">Workshop</p>
                    <h5>Atom Deep Dive</h5>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4 mb-30">
                <div class="feature-card">
                  <a href="https://www.youtube.com/watch?v=CiAYghw6zAc&list=PLCQwFpnHSZQgkw7MdNQwagKKKvywt6b80&index=27" target="_blank" > 
                  <div class="feature-card-img" style="background-image:url('/img/features/look_development.jpeg')"></div>
                </a>  
                  <div class="feature-card-text">
                    <p class="purple-text">LIGHTNING TALK</p>
                    <h5>Portable Look Development</h5>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4 mb-30">
                <div class="feature-card">
                  <a href="https://www.youtube.com/watch?v=YMJOqfC3Psk&list=PLCQwFpnHSZQh8s1_iCt21LGswL1bTMWhE&index=3" target="_blank">
                  <div class="feature-card-img" style="background-image:url('/img/features/dev_shop.jpeg')"></div>
                </a>
                  <div class="feature-card-text">
                    <p class="purple-text">COMMUNITY VIDEO</p>
                    <h5>The Dev Shop</h5>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="featurehead3">
        <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#feature3"
        aria-expanded="false" aria-controls="feature3">Flexible Runtime Scripting 
        <span class="expand-acc">
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
            <line x1="26.434" class="verti" y1="-7.1881e-08" x2="26.434" y2="50" stroke="#0AC1C7" stroke-width="7.41284"/>
            <line x1="50.001" y1="26.4335" x2="0.000976562" y2="26.4335" stroke="#0AC1C7" stroke-width="7.41284"/>
            </g>
            </svg>      
        </span>
      </a>
    </div>

    <div id="feature3" class="collapse" aria-labelledby="featurehead3" data-parent="#features">
        <div class="card-body">
          <div class="row mb-64 justify-content-between">
            <div class="col-12 mb-30 col-lg-5 ">
              <p>Build runtime logic with scripting environments for all experience levels to speed experimentation and iteration, leveraging visual scripting with Script Canvas, and Lua scripting language.</p>
              <div class="btn-wrapper flex-start">
                <a href="https://www.youtube.com/watch?v=fTNcUV4zAgE&list=PLCQwFpnHSZQgr8Qfq-gNv3AcZ8VLv9d5s&index=11" target="_blank" class="btn-secondary-black font-10">GET OVERVIEW</a>
                <a href="https://www.o3de.org/docs/user-guide/scripting/" target="_blank" class="btn-secondary-black font-10">DOCUMENTATION</a>
              </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-6">
              <img src="/img/features/runtime_scripting.jpeg" class="img-fluid br-10" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 mb-30">
              <div class="feature-card">
                <a href="https://www.youtube.com/watch?v=nwJJZhsD42g&list=PLCQwFpnHSZQgzCpMmbxruFkWr3d73ZfEJ&index=12" target="_blank">
                <div class="feature-card-img" style="background-image:url('/img/features/Script-Canvas.jpg')"></div>
                
              </a>
                <div class="feature-card-text">
                  <p class="purple-text">PRESENTATION</p>
                  <h5>Script Canvas</h5>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mb-30">
              <div class="feature-card">
                
                <a href="https://www.youtube.com/watch?v=PP-sFjByvhA&list=PLCQwFpnHSZQgkw7MdNQwagKKKvywt6b80&index=36" target="_blank">
                <div class="feature-card-img" style="background-image:url('/img/features/The-Script-Canvas-Pipeline.jpg')"></div>
              </a>
                <div class="feature-card-text">
                  <p class="purple-text">LIGHTNING TALK</p>
                  <h5>The ScriptCanvas Pipeline</h5>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mb-30">
              <div class="feature-card">
                <a href="https://www.youtube.com/watch?v=GUGw9XrGVjE&list=PLCQwFpnHSZQgzCpMmbxruFkWr3d73ZfEJ&index=7" target="_blank">
                <div class="feature-card-img" style="background-image:url('/img/features/concept-script-canvas.jpg')"></div>
              </a>
                <div class="feature-card-text">
                  <p class="purple-text">Workshop</p>
                  <h5>Content Creation with Script Canvas</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="featurehead4">
        <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#feature4"
        aria-expanded="false" aria-controls="feature4">Real-Time Physics Simulations
        <span class="expand-acc">
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
            <line x1="26.434" class="verti" y1="-7.1881e-08" x2="26.434" y2="50" stroke="#0AC1C7" stroke-width="7.41284"/>
            <line x1="50.001" y1="26.4335" x2="0.000976562" y2="26.4335" stroke="#0AC1C7" stroke-width="7.41284"/>
            </g>
            </svg>      
        </span>
      </a>
    </div>

    <div id="feature4" class="collapse" aria-labelledby="featurehead4" data-parent="#features">
        <div class="card-body">
          <div class="row mb-64 justify-content-between">
            <div class="col-12 col-lg-5 ">
              <p>Craft lifelike characters and environments, and visualize simulations, through support for industry-standard physics solutions, including NVIDIA PhysX, NVIDIA Cloth and AMD TressFX.</p>
             
            </div>
            <div class="col-12 col-sm-8 col-lg-6">
              <img src="/img/features/rt_physics_simulator.jpeg" class="img-fluid br-10" alt="">
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="featurehead5">
        <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#feature35"
        aria-expanded="false" aria-controls="feature35">High-performance Math
        <span class="expand-acc">
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
            <line x1="26.434" class="verti" y1="-7.1881e-08" x2="26.434" y2="50" stroke="#0AC1C7" stroke-width="7.41284"/>
            <line x1="50.001" y1="26.4335" x2="0.000976562" y2="26.4335" stroke="#0AC1C7" stroke-width="7.41284"/>
            </g>
            </svg>      
        </span>
      </a>
    </div>

    <div id="feature35" class="collapse" aria-labelledby="featurehead5" data-parent="#features">
        <div class="card-body">
          <div class="row mb-64 justify-content-between">
            <div class="col-12 col-sm-8 col-lg-6 mb-40">
              <img src="/img/features/high-performance.jpeg" class="img-fluid br-10" alt="">
            </div>
            <div class="col-12 col-lg-5 ">
              <p>Harness modern CPU capabilities for fast and precise calculations. Leverage SIMD-accelerated trigonometric functions that operate faster than equivalent scalar operations, capable of performing multiple trigonometric calculations in a single cell, plus libraries with optimal SIMD code for x64 SSE and ARM Neon platforms.</p>
             
            </div>

          </div>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="featurehead6">
        <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#feature6"
        aria-expanded="false" aria-controls="feature6">Extensible, Visual 3D Content Editor & <br>Scripting Tools
        <span class="expand-acc">
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
            <line x1="26.434" class="verti" y1="-7.1881e-08" x2="26.434" y2="50" stroke="#0AC1C7" stroke-width="7.41284"/>
            <line x1="50.001" y1="26.4335" x2="0.000976562" y2="26.4335" stroke="#0AC1C7" stroke-width="7.41284"/>
            </g>
            </svg>      
        </span>
      </a>
    </div>

    <div id="feature6" class="collapse" aria-labelledby="featurehead6" data-parent="#features">
        <div class="card-body">
          <div class="row mb-64 justify-content-between">
            <div class="col-12 col-lg-5 ">
              <p>O3DE’s Python 3 scripting supports extensions with access to the Qt UX library, powering custom behaviors in mesh, image, and material processing, letting you split, assign, and rehome assets, including pre- and post-processing steps.</p>
             
            </div>
            <div class="col-12 col-sm-8 col-lg-6">
              <img src="/img/features/content-editor.jpg" class="img-fluid br-10" alt="">
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="featurehead7">
        <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#feature7"
        aria-expanded="false" aria-controls="feature7">Robust Networking 
        <span class="expand-acc">
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
            <line x1="26.434" class="verti" y1="-7.1881e-08" x2="26.434" y2="50" stroke="#0AC1C7" stroke-width="7.41284"/>
            <line x1="50.001" y1="26.4335" x2="0.000976562" y2="26.4335" stroke="#0AC1C7" stroke-width="7.41284"/>
            </g>
            </svg>      
        </span>
      </a>
    </div>

    <div id="feature7" class="collapse" aria-labelledby="featurehead7" data-parent="#features">
        <div class="card-body">
          <div class="row mb-64 justify-content-between">
            <div class="col-12 mb-30 col-lg-5 ">
              <p>Construct multiplayer games, large virtual worlds and complex simulations, supported by high-performance, low-latency 3D transmission performance.</p>
                <p>Includes a highly flexible, TCP/UDP low-latency transport layer abstracted behind a simplified API, and encryption and compression support with a built-in simulator for latency, jitter, reorder and loss. Plus support for both player-hosted and dedicated server models that ensure latency compensation with backward reconciliation.</p>
              <div class="btn-wrapper flex-start">
                <a href="https://www.youtube.com/watch?v=FfrkHJJt_X0&list=PLCQwFpnHSZQgr8Qfq-gNv3AcZ8VLv9d5s&index=9" target="_blank" class="btn-secondary-black font-10">GET OVERVIEW</a>
                <a href="https://www.o3de.org/docs/user-guide/networking/" target="_blank" class="btn-secondary-black font-10">DOCUMENTATION</a>
              </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-6">
              <img src="/img/features/robust_networking.jpg" class="img-fluid br-10" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 mb-30">
              <div class="feature-card">
                <a href="https://www.youtube.com/watch?v=MK_QbbtE10U&list=PLCQwFpnHSZQgkw7MdNQwagKKKvywt6b80&index=29" target="_blank">
                  <div class="feature-card-img" style="background-image:url('/img/features/Network-Transport.jpg')"></div>
                </a>
                <div class="feature-card-text">
                  
                  <p>LIGHTNING TALK</p>
                  <h5>Network Transport</h5>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mb-30">
              <div class="feature-card">
                <a href="https://www.youtube.com/watch?v=nWW026q9X4k&list=PLCQwFpnHSZQgkw7MdNQwagKKKvywt6b80&index=4" target="_blank">
                <div class="feature-card-img" style="background-image:url('/img/features/Networking.jpg')"></div>
              </a>
                <div class="feature-card-text">
                  <p>WORKSHOP</p>
                  <h5>Networking</h5>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mb-30">
              <div class="feature-card">
                <a href="https://www.youtube.com/watch?v=IaPTGLc7Ss0&list=PLCQwFpnHSZQgkw7MdNQwagKKKvywt6b80&index=39" target="_blank">
                <div class="feature-card-img" style="background-image:url('/img/features/Deep-Dive-into.jpg')"></div>
              </a>
                <div class="feature-card-text">
                  <p>WORKSHOP</p>
                  <h5>Deep Dive into Networking Concepts</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="featurehead8">
        <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#feature8"
        aria-expanded="false" aria-controls="feature8">Terrain Performance 
        <span class="expand-acc">
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
            <line x1="26.434" class="verti" y1="-7.1881e-08" x2="26.434" y2="50" stroke="#0AC1C7" stroke-width="7.41284"/>
            <line x1="50.001" y1="26.4335" x2="0.000976562" y2="26.4335" stroke="#0AC1C7" stroke-width="7.41284"/>
            </g>
            </svg>      
        </span>
      </a>
    </div>

    <div id="feature8" class="collapse" aria-labelledby="featurehead8" data-parent="#features">
        <div class="card-body">
          <div class="row mb-64 justify-content-between">
            <div class="col-12 mb-30 col-lg-5 ">
              <p>Craft massive worlds with a terrain system optimized to support worlds up to 64x64km.</p>
                
              <div class="btn-wrapper flex-start">
                <a href="https://www.youtube.com/watch?v=K5jM8R4HP0E" target="_blank" class="btn-secondary-black font-10">GET OVERVIEW</a>
                <a href="https://www.o3de.org/docs/user-guide/visualization/environments/" target="_blank" class="btn-secondary-black font-10">DOCUMENTATION</a>
              </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-6  mb-30">
              <img src="/img/features/terrain-1.jpg" class="img-fluid br-10" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 mb-30">
              <div class="feature-card">
                <a href="https://www.youtube.com/watch?v=rd8tEMUIEIY" target="_blank">
                  <div class="feature-card-img" style="background-image:url('/img/features/Terrain-Tutorial-Part-1.jpg')"></div>
                </a>
                <div class="feature-card-text">
                  <p>TUTORIAL</p>
                  <h5>Terrain Tutorial Part 1</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="featurehead9">
        <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#feature9"
        aria-expanded="false" aria-controls="feature9">Data-Driven Asset Workflows & Handling 
      <span class="expand-acc">
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g>
          <line x1="26.434" class="verti" y1="-7.1881e-08" x2="26.434" y2="50" stroke="#0AC1C7" stroke-width="7.41284"/>
          <line x1="50.001" y1="26.4335" x2="0.000976562" y2="26.4335" stroke="#0AC1C7" stroke-width="7.41284"/>
          </g>
          </svg>      
      </span>
    </a>
    </div>

    <div id="feature9" class="collapse" aria-labelledby="featurehead9" data-parent="#features">
        <div class="card-body">
          <div class="row mb-64 justify-content-between">
            <div class="col-12 col-lg-5 ">
              <p>Leverage industry-standard asset file formats and a unified asset processor, boosting potential for scripting and automation using JSON formatting. O3DE supports non-blocking, asynchronous loading of any asset type, while optimized runtime assets enable streaming on modern graphics hardware.</p>
             
            </div>
            <div class="col-12 col-sm-8 col-lg-6">
              <img src="/img/features/data-driven-assets.jpg" class="img-fluid br-10" alt="">
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="featurehead10">
        <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#feature10"
        aria-expanded="false" aria-controls="feature10">Prefab Support 
        <span class="expand-acc">
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
            <line x1="26.434" class="verti" y1="-7.1881e-08" x2="26.434" y2="50" stroke="#0AC1C7" stroke-width="7.41284"/>
            <line x1="50.001" y1="26.4335" x2="0.000976562" y2="26.4335" stroke="#0AC1C7" stroke-width="7.41284"/>
            </g>
            </svg>      
        </span>
      </a>
    </div>

    <div id="feature10" class="collapse" aria-labelledby="featurehead10" data-parent="#features">
        <div class="card-body">
          <div class="row mb-64 justify-content-between">
            <div class="col-12 col-sm-8 col-lg-6 mb-40">
              <img src="/img/features/prefab.jpg" class="img-fluid br-10" alt="">
            </div>
            <div class="col-12 col-lg-5 ">
              <p>Create, share, re-use, and dynamically spawn complex entities, and place and manage prefabs dynamically as spawnables, thanks to reusable assets with complete properties, components, and hierarchies. Plus standard source control tools enable you to view diffs and merge changes with a human readable text format.</p>
             
            </div>
            
          </div>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="featurehead11">
        <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#feature11"
        aria-expanded="false" aria-controls="feature11">Simplified Project Management
        <span class="expand-acc">
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
            <line x1="26.434" class="verti" y1="-7.1881e-08" x2="26.434" y2="50" stroke="#0AC1C7" stroke-width="7.41284"/>
            <line x1="50.001" y1="26.4335" x2="0.000976562" y2="26.4335" stroke="#0AC1C7" stroke-width="7.41284"/>
            </g>
            </svg>      
        </span>
      </a>
    </div>

    <div id="feature11" class="collapse" aria-labelledby="featurehead11" data-parent="#features">
        <div class="card-body">
          <div class="row mb-64 justify-content-between">
            <div class="col-12 col-lg-5 ">
              <p>Easily build custom management tools, or design and distribute your own customizations as Gems, using JSON configuration files and O3DE’s CMake build system. Python scripts mean you can work directly from the command line, while a single line of JSON combined with Gems adds new functionality to your projects.</p>
             
            </div>
            <div class="col-12 col-sm-8 col-lg-6">
              <img src="/img/features/simplified-proj.jpg" class="img-fluid br-10" alt="">
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="featurehead12">
        <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#feature12"
        aria-expanded="false" aria-controls="feature12">Flexible Code & Data Templates
        <span class="expand-acc">
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
            <line x1="26.434" class="verti" y1="-7.1881e-08" x2="26.434" y2="50" stroke="#0AC1C7" stroke-width="7.41284"/>
            <line x1="50.001" y1="26.4335" x2="0.000976562" y2="26.4335" stroke="#0AC1C7" stroke-width="7.41284"/>
            </g>
            </svg>      
        </span>
      </a>
    </div>

    <div id="feature12" class="collapse" aria-labelledby="featurehead12" data-parent="#features">
        <div class="card-body">
          <div class="row mb-64 justify-content-between">
            <div class="col-12 col-sm-8 col-lg-6 mb-40">
              <img src="/img/features/code.jpg" class="img-fluid br-10" alt="">
            </div>
            <div class="col-12 col-lg-5 ">
              <p>Rapidly generate boilerplate code, or large amounts of similar data, using a code generator powered by Jinja2 templates. The data-driven model powered by XML or JSON inputs is fully integrated into the CMake build system. Plus easily set up support for bulk file processing using regular expression and wildcard matching and replacement rules.</p>
             
            </div>
            
          </div>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="featurehead13">
        <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#feature13"
        aria-expanded="false" aria-controls="feature13">White Box Tool 
        <span class="expand-acc">
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
            <line x1="26.434" class="verti" y1="-7.1881e-08" x2="26.434" y2="50" stroke="#0AC1C7" stroke-width="7.41284"/>
            <line x1="50.001" y1="26.4335" x2="0.000976562" y2="26.4335" stroke="#0AC1C7" stroke-width="7.41284"/>
            </g>
            </svg>      
        </span>
      </a>
    </div>

    <div id="feature13" class="collapse" aria-labelledby="featurehead13" data-parent="#features">
        <div class="card-body">
          <div class="row mb-64 justify-content-between">
            <div class="col-12 col-lg-5 ">
              <p>Build levels quickly with O3DE’s White Box Gem, letting you sculpt and manipulate geometric volumes quickly to get your world sketched out in-engine.</p>
             
            </div>
            <div class="col-12 col-sm-8 col-lg-6">
              <img src="/img/features/white-box.jpg" class="img-fluid br-10" alt="">
            </div>
          </div>
        </div>
    </div>
  </div>

</div> 


</section>

{{ partial "newHome/newsletter.html" . }}
{{ partial "newHome/footer.html" . }}
{{ end }}
