// @import "./variables";

.gem-card{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property: transform;
    &:hover{
        transform: scale(1.013) translateZ(0);
        transition: 300ms ease;
    }
    a{
        color: initial;

        &:hover{
            color: initial;
        }
    }
    .gen-img--wrapper{
        overflow: hidden;
        .gen-img{
            transition: 600ms ease;
            padding-top: calc(220/380*100%);
            background-position: center;
            background-size: cover;
            position: relative;
            span{
                font-family: $font-family-axiforma;
                padding: 15px;
                background-color: #000;
                font-weight: 400;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 1rem;
                color: #fff;
                letter-spacing: 0.05em;

            }
        }
    }
    .gem-text{
        padding: 33px 27px;
        text-align: left;
        h3{
            font-family: $font-family-axiforma;
            font-weight: 400;
            font-size: 26px;
            line-height: 40px;
            margin-bottom: 15px;
            // letter-spacing: 0.06em;
            strong{
                font-weight: 800;
            }
        }
        p{
            font-size: 0.87rem;
            font-family: $font-family-axiforma;
            font-weight: 500;
            letter-spacing: 0.05em;
            line-height: 26px;
            margin-bottom: 0;
            color: #767676;
        }
    }
}
.about-page{
    &.short-banner{
        height: 540px;
        background-size: cover;
        background-position: center;
        position: relative;
        .short-container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            .subtitle{
                font-size: 1rem;
                font-family: $font-family-axiforma;
                font-weight: 300;
                letter-spacing: 0.3em;
                color: #fff;
            }
            h1.title{
                font-size: 3.75rem;
                font-family: $font-family-axiforma;
                font-weight: 900;
                line-height: 1.1;
                color: #fff;
            }
        }
        .scroll-to-nav{
            background-color: rgba(0,0,0,0.8);
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
            ul{
                list-style: none;
                padding: 0;
                display: flex;
                justify-content: space-between;
                margin: 0;
                li{
                    padding: 0;
                    padding-top: 22px;
                    padding-bottom: 22px;
                    position: relative;
                    a{
                        font-family: $font-family-axiforma;
                        font-size: 14px;
                        line-height: 105%;
                        font-weight: 800;
                        color: #fff;
                        text-transform: uppercase;
                        letter-spacing: 0.2em;
                        span{
                            margin-left: 5px;
                        }
                        &:after{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            height: 4px;
                            background-color: #0AC1C7;
                            left: 0;
                            opacity: 0;
                            transition: 300ms ease;
                        }
                        &:hover{
                            &:after{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        
    }

    &.scrollable-sections{
        .scroll-section{
            position: relative;
            .title{
                h3.thin-font{
                    font-family: $font-family-axiforma;
                    font-size: 1.25rem;
                    line-height: 140%;
                    font-weight: 800;
                    letter-spacing: 0.2em;
                    margin-bottom: 60px;
                    margin-top: 0px;
                    text-transform: uppercase;
                    span{
                        color: #8122d2;
                    }
                }
                
            }
            .alternate-block {
                flex-direction: row-reverse;
            }
            .bold-font{
                font-family: $font-family-axiforma;
                font-weight: 950;
                font-size: 30px;
                line-height: 1.4;
                text-transform: uppercase;
                color: #000;
                margin-bottom: 0px;
                letter-spacing: 0.05em;
            }
            .p-14{
                font-family: $font-family-axiforma;
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 2;
                margin-bottom: 20px;
                letter-spacing: 0.05em;
            }
            &.section-1{
                margin-top: 100px;
                margin-bottom: 50px;
                
                h2{
                    font-family: $font-family-axiforma;
                    font-weight: 950;
                    font-size: 30px;
                    line-height: 1.4;
                    text-transform: uppercase;
                    color: #000;
                    margin-bottom: 80px;
                    letter-spacing: 0.05em;
                }
                p{
                    font-family: $font-family-axiforma;
                    font-weight: 500;
                    font-size: 0.875rem;
                    line-height: 2;
                    margin-bottom: 20px;
                    letter-spacing: 0.05em;
                }
                .intro-iframe{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% ,-50%);
                }
                .licensing-section{
                    margin-top: 40px;
                    background-color: #fff;
                    border-radius: 10px;
                    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
                    padding: 38px 44px;
                    h2{
                        margin-bottom: 0;
                        text-transform: none;
                    }
                }
            }
            &.section-2{
                margin-bottom: 100px;
                .feature-row{
                    margin: 0 -30px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .feature-outer{
                        width: 25%;
                        padding: 0 30px;
                        margin-top: 40px;
                        margin-bottom: 40px;
                        .card-feature{
                            h3{
                                font-family: $font-family-axiforma;
                                font-size: 26px;
                                line-height: 130%;
                                font-weight: 950;
                                margin-bottom: 35px;
                                margin-top: 40px;
                                letter-spacing: 0.03em;
                            }
                            p{
                                strong{
                                    font-family: $font-family-axiforma;
                                    font-size: 0.875rem;
                                    line-height: 140%;
                                    font-weight: 700;
                                    margin-bottom: 0;
                                }
                                font-family: $font-family-axiforma;
                                font-size: 1rem;
                                line-height: 180%;
                                font-weight: 400;
                                margin-bottom: 0;
                                letter-spacing: 0.05em;
                                padding-right: 0;
                            }

                        }
                        .lastcard{
                            padding: 26px 24px;
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;
                            background: #FFFFFF;
                            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
                            border-radius: 10px;
                            height: 100%;
                            h2{
                                font-size: 2.5rem;
                                color: #000;
                                font-weight: 800;
                            }
                            
                        }
                    }
                }
            }
            &.section-3{
                padding-top: 100px;
                padding-bottom: 100px;
                background-color: #F4F4F4;
                h2{
                    font-family: $font-family-axiforma;
                    font-weight: 950;
                    font-size: 30px;
                    line-height: 1.4;
                    text-transform: uppercase;
                    color: #000;
                    margin-bottom: 45px;
                    letter-spacing: 0.05em;
                    &.thin-font{
                        font-family: $font-family-axiforma;
                        font-weight: 500;
                        font-size: 2rem;
                        line-height: 1.5;
                        text-decoration-line: underline;
                        margin-bottom: 0;
                    }
                }
                p{
                    font-family: $font-family-axiforma;
                    font-weight: 500;
                    font-size: 0.875rem;
                    line-height: 2;
                    margin-bottom: 20px;
                    letter-spacing: 0.05em;
                }
                .btn-wrapper{
                    margin-bottom: 69px;
                    display: flex;
                    justify-content: center;
                }
                img{
                    border-radius: 10px;
                }
            }
            &.section-4{
                padding-top: 100px;
                padding-bottom: 50px;
                
                h2{
                    font-family: $font-family-axiforma;
                    font-weight: 950;
                    font-size: 30px;
                    line-height: 1.4;
                    text-transform: uppercase;
                    color: #000;
                    margin-bottom: 45px;
                    letter-spacing: 0.05em;
                    &.thin-font{
                        font-family: $font-family-axiforma;
                        font-weight: 500;
                        font-size: 2rem;
                        line-height: 1.5;
                        text-decoration-line: underline;
                        margin-bottom: 0;
                    }
                }
                .gem-card{
                    background: #FFFFFF;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
                    border-radius: 10px;
                    overflow: hidden;
                    .gen-img--wrapper{
                        overflow: hidden;
                        .gen-img{
                            transition: 600ms ease;
                            padding-top: calc(240/379*100%);
                            background-position: center;
                            background-size: cover;
                            position: relative;
                            span{
                                font-family: $font-family-axiforma;
                                padding: 15px 30px 12px 15px;
                                background-color: #000;
                                border-radius: 10px 0px 100px;
                                font-weight: 400;
                                position: absolute;
                                top: 0;
                                left: 0;
                                font-size: 1rem;
                                color: #fff;
                                letter-spacing: 0.05em;

                            }
                        }
                    }
                    .gem-text{
                        padding: 33px 27px;
                        text-align: left;
                        h3{
                            font-family: $font-family-axiforma;
                            font-weight: 400;
                            font-size: 1.875rem;
                            line-height: 40px;
                            margin-bottom: 13px;
                            strong{
                                font-weight: 800;
                            }
                        }
                        p{
                            font-size: 0.87rem;
                            font-family: $font-family-axiforma;
                            font-weight: 500;
                            letter-spacing: 0.1em;
                            line-height: 28px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &.section-5{
                background-color: #F4F4F4;
                padding-top: 100px;
                padding-bottom: 50px;
                .mb-40{
                    margin-bottom: 40px;
                }
                .concept-card{
                    padding: 33px 28px;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
                    border-radius: 10px;
                    height: 100%;
                    .concept-card-wrapper{
                       
                        height: 100%;
                        p{
                            font-family: $font-family-axiforma;
                            font-weight: 400;
                            font-size: 14px;
                            margin: 0;
                            letter-spacing: 0.05em;
                            color: #767676;
                            strong{
                                font-weight: 950;
                                font-size: 26px;
                                margin-bottom: 25px;
                                letter-spacing: 0.05em;
                                display: block;
                                color: #000;
                            }
                        }
                        
                    }
                    
                }
                
            }
        }
        
    
    }
}  

.text-banner{
    padding-bottom: 60px;
    padding-top: 83px;
    @include breakpoint(767px){
        padding-top: 40px;
        padding-bottom: 40px;
    }
    h1{
        font-size: 2.5rem;
        font-family: $font-family-axiforma;
        font-weight: 900;
        line-height: 1.4;
        color: #000;
        margin-bottom: 73px;
        letter-spacing: 0.06em;
        @include breakpoint(991px){
            margin-bottom: 31px;
            font-size: 28px;
        }
    }
    p.h5{
        font-family: $font-family-axiforma;
        font-weight: 500;
        font-size: 1.875rem;
        color: #000;
        line-height: 1.6;
        margin-bottom: 77px;
        letter-spacing: 0.05em;
        
        @include breakpoint(767px){
            font-size: 20px;
            margin-bottom: 38px;
        }
    }
    p.p-small{
        font-family: $font-family-axiforma;
        font-weight: 400;
        font-size: 1rem;
        color: #000;
        line-height: 1.8;
        margin-bottom: 0;
        letter-spacing: 0.05em;
        @include breakpoint(767px){
            font-size: 13px;
        }
        a{
            color: $o3de-aqua;
            font-weight: 700;
            @include breakpoint(767px){
                font-size: 13px;
            }
        }
    }
}

.gem-page-content{
    margin-bottom: 60px;
    .filter-group{
        margin-bottom: 100px;
        border-bottom: 1px solid #c4c4c4;
        @include breakpoint(767px){
            margin-bottom: 60px;
        }
        .filter-all{
            display: flex;
            margin-bottom: 60px;
            a{
                text-decoration: underline;
                color: #000;
                margin-right: 30px;
                font-size: 1rem;
                font-family: $font-family-axiforma;
                font-weight: 400;
            }
        }
        .filter-outer{
            @include breakpoint(767px){
                overflow-x: auto;
                margin-left: -15px;
                margin-right: -15px;
            }
           

            ul.filter-list{
                list-style: none;
                padding: 0;
                display: flex;
                margin-top: 40px;
                margin-bottom: 60px;
                flex-wrap: wrap;
                @include breakpoint(767px){
                    flex-wrap: nowrap;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
                li{
                    margin-right: 24px;
                    margin-bottom: 20px;
                    display: flex;
                    padding: 12px 24px;
                    font-size: 1rem;
                    font-family: $font-family-axiforma;
                    font-weight: 400;
                    border-radius: 64px;
                    border: 1px solid #e9e9e9;
                    text-transform: capitalize;
                    transition: 300ms ease;
                    color: #000;
                    cursor: pointer;
                    &.active, &:hover{
                        background-color: $o3de-aqua;
                        border-color: $o3de-aqua;
                    }
                    @include breakpoint(767px){
                        flex-grow: 1;
                        margin-left: 15px;
                        margin-right: 0;
                        flex-shrink: 0;
                    }
                    
                }
            }
        }
        p{
            font-family: $font-family-axiforma;
            font-weight: 400;
            font-style: italic;
            font-size: 14px;
            line-height: 175%;
            letter-spacing: 0.05em;
            margin-bottom: 50px;
        }


    }
    .gem-item{
        display: none;
        &.active{
            display: block;
        }
    }
}

.staff-page-content{
    margin-bottom: 60px;
    
    .filter-group{
        margin-bottom: 90px;
        // border-bottom: 1px solid #c4c4c4;
        @include breakpoint(991px){
            margin-bottom: 20px;
            margin-top: 0px;
            margin-left: -15px;
            margin-right: -15px;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }
        ul.filter-list{
            list-style: none;
            padding: 0;
            display: flex;
            margin-top: 0px;
            margin-bottom: 50px;
            @include breakpoint(991px){
                flex-direction: row;
                margin-bottom: 30px;
                justify-content: flex-start;
            }
            li{
                display: flex;
                margin-right: 24px;
                margin-bottom: 24px;
                @include breakpoint(991px){
                    flex-grow: 1;
                    margin-left: 15px;
                    margin-right: 0;
                    flex-shrink: 0;
                    
                }
                a{
                    padding: 12px 24px;
                    font-size: 1rem;
                    font-family: $font-family-axiforma;
                    font-weight: 400;
                    border: 1px solid #E9E9E9;
                    border-radius: 64px;
                    color: #000;
                    transition: 300ms ease;
                    &:hover{
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
                        background-color: #fff;
                    }
                    &.active{
                        font-weight: 600;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
                        background-color: #fff;
                    }
                }
                @include breakpoint(767px){
                    margin-bottom: 15px;
                    a{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .filter-result-wrap{
        .reslult-list{
            display: none;
            &.active{
                display: block;
            }
        }
    }
    .staff-card{
        background-color: #fff;
        height: 100%;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.05));
        border-radius: 6px;
        overflow: hidden;
        transform: translateZ(0);
        transition-duration: .3s;
        transition-property: transform;
        &:hover{
            transform: scale(1.013) translateZ(0);
            transition: 300ms ease;
        }

        .staff-profile{
            height: 230px;
            @include breakpoint(991px){
                height: auto;
            }
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .staff-content{
            padding: 24px;
            height: calc(100% - 230px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include breakpoint(991px){
                height: auto;
            }
            .staff-identity{
                h3{
                    font-size: 20px;
                    font-family: $font-family-axiforma;
                    font-weight: 800;
                    line-height: 150%;
                    color: #000;
                    margin-bottom: 10px;
                    letter-spacing: 0.05em;
                }
                p{
                    font-size: 0.875rem;
                    font-family: $font-family-axiforma;
                    font-weight: 500;
                    line-height: 150%;
                    color: #767676;
                    margin-bottom: 10px;
                    letter-spacing: 0.05em;
                }
              
            }
            .staff-social{
                margin-top: 20px;
                ul{
                    margin: 0;
                    list-style: none;
                    padding: 0;
                    display: flex;

                    li{
                        margin-right: 5px;

                    }
                }
            }
        }
    }

}

.member-page-content{
    margin-bottom: 120px;
    .section-seperator{
        padding-top: 55px;
        margin-bottom: 60px;
        border-bottom: 1px solid #C4C4C4;
        @include breakpoint(767px){
            padding-top: 40px;
            margin-bottom: 40px;
        }
        h4{
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            font-family: $font-family-axiforma;
            font-weight: 800;
            line-height: 1.4;
            color: #000;
            margin-bottom: 44px;
            @include breakpoint(767px){
                margin-bottom: 30px;
            }
        }

    }
    .member-list{
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 70px;
            @include breakpoint(767px){
                margin-bottom: 30px;
            }
            li{
                // width: 20%;
                // margin-bottom: 50px;
                // @include breakpoint(767px){
                //     width: 50%;
                // }
                // img{

                // }
                &.logo-col{
                    padding: 18px;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100px;    
                    margin-right: 40px;
                    margin-bottom: 36px;
                    @include breakpoint(767px){
                        margin-bottom: 30px;
                        margin-right: 30px;
                    }
                    img{
                        width: auto;
                        height: auto;
                    }
                }
              &.square{
                  width: 120px;
              }
              &.rectangle{
                  width: 160px;
              }
              &.long-rectangle{
                  width: 250px; 
              }
            }
        }
    }
}

.features-list{
    padding-top: 40px;
    background-color: #F3F3F3;
    .card{
        border: none;
        box-shadow: none;
        background-color: #F3F3F3;
        &:hover{
            border: none;
        }
        
        .card-header{
            border: none;
            background-color: #F3F3F3 ;
            padding: 0;
            // border-top:  1px solid rgba(0, 0, 0, 0.05);
            // border-bottom:  1px solid rgba(0, 0, 0, 0.05);
            a{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 30px;
                line-height: 150%;
                font-weight: 900;
                font-family: $font-family-axiforma;
                letter-spacing: 0.05em;
                text-align: left;
                padding: 60px 0px;
                margin: 0;
                border: 0;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: rgba(0, 0, 0, 0.05);    
                }
                @include breakpoint(767px){
                    font-size: 18px;
                     padding: 28px 0px;
                     br{
                        display: none;
                     }
                }
                &:focus{
                    box-shadow: none;
                }
                span{
                    svg{
                        @include breakpoint(767px){
                            height: 30px;
                        }
                    }
                }
               &[aria-expanded="false"] span{
                    svg{
                        .verti{
                            opacity: 1;
                            transition: 300ms ease;
                        }
                    }
                }
                &[aria-expanded="true"]{
                    span{
                        svg{
                            .verti{
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
        &:first-of-type{
            .card-header{
                border-top: 0;
                a{
                    &:after{
                        display: none;
                    }
                }
            }
        }
        .card-body{
            padding-left: 0;
            padding-right: 0;
            h3{
                font-family: $font-family-axiforma;
                font-size: 26px;
                line-height: 40px;
                font-weight: 800;
            }
            p{
                font-family: $font-family-axiforma;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.8;
                letter-spacing: 0.02em;
                margin-bottom: 32px;
            }
            img{

            }
            .feature-card{
                // padding: 30px 23px;
                background-color: #fff;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                height: 100%;

                .feature-card-label{
                    margin-bottom: 24px;
                    @include breakpoint(767px){
                        margin-bottom: 15px;
                    }
                     h5{
                        font-size: 1rem;
                        line-height: 19px;
                        letter-spacing: 0.1em;
                        font-weight: 600;
                        font-family: $font-family-axiforma;
                        margin-bottom: 0;
                        @include breakpoint(767px){
                            font-size: 14px;
                        }
                        .purple-text{
                            font-weight: 900;
                            text-transform: uppercase;
                            color: #8122d2;
                            padding-right: 16px;
                            margin-right: 16px;
                            position: relative;
                            &:after{
                                content: '';
                                position: absolute;
                                right: 0;
                                height: 19px;
                                width: 1px;
                                top: 50%;
                                transform: translateY(-50%);
                                background-color: #000;
                            }
                        }
                    }
                }
                .feature-card-img{
                    padding-top: calc(300/520*100%);
                    margin-bottom: 0 ;
                    background-size: cover;
                }
                .feature-card-text{
                    padding: 20px 17px;
                    h5{
                        font-family: $font-family-axiforma;
                        font-style: normal;
                        font-weight: 800;
                        font-size: 20px;
                        line-height: 150%;
                    }

                    p{
                        color: #6D6D6D;
                        font-family: $font-family-axiforma;
                        font-style: normal;
                        font-weight: 950;
                        font-size: 10px;
                        line-height: 12px;
                        letter-spacing: 0.2em;
                        margin-bottom: 18px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.get_started-wrapper{
    h5{
        font-family: $font-family-axiforma;
        font-weight: 800;
        letter-spacing: 0.15em;
        text-transform: uppercase;            
    }
    .steps-wrapper{
        margin-bottom: 86px;
        @include breakpoint(767px){
            margin-bottom: 50px;
        }
        
        .step-card{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #FFFFFF;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 30px 44px;
            @include breakpoint(767px){
                flex-direction: column;
                text-align: center;
            }

            .step-count{
                display: flex;
                align-items: center;
                @include breakpoint(767px){
                    flex-direction: column;
                }

                .count{
                    font-size: 100px;
                    font-weight: 800;
                    font-family: $font-family-axiforma;
                    line-height: 1;
                    margin-right: 64px;
                    &.purple{
                        color: #8122D2;
                    }
                    &.aqua{
                        color: $o3de-aqua;
                    }
                    @include breakpoint(767px){
                        margin-right: 0px;
                    }
                }
                .step-detail{
                    margin-top: 10px;
                    h3{
                        line-height: 1.4;
                        font-weight: 950;
                        font-family: $font-family-axiforma;
                        letter-spacing: 0.06em;
                    }
                    p{
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.8;

                    }
                }
            }
            .step-cta{
                width: 280px;
                a{
                    width: 100%;
                }
            }
        }
    }
    .helpful-info{
        margin-bottom: 90px;
        .card-information{
            padding: 30px 24px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px; 
            height: 100%;
            h4{
                font-family: $font-family-axiforma;
                font-weight: 800;
                font-size: 28px;
                line-height: 1.3;
                margin-bottom: 14px;
            }
            p{
                font-family: $font-family-axiforma;
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 30px;
            }
            a{
                font-family: $font-family-axiforma;
                text-transform: uppercase;
                font-size: 0.87rem;
                font-weight: 800;
                letter-spacing: 0.1em;
                line-height: 1.2;
                color: $o3de-aqua;
            }
        }
    }
}
.download-section{
    background-color: #000;
    padding: 120px 0;
    .title{
        h3.thin-font{
            font-family: $font-family-axiforma;
            font-size: 1.25rem;
            line-height: 140%;
            font-weight: 800;
            letter-spacing: 0.2em;
            color: #fff;
            text-transform: uppercase;
            span{
                color: #8122d2;
            }
        }
        
    }
    .download-wrapper{
        h2{
            font-family: $font-family-axiforma;
            font-size: 2.5rem;
            line-height: 140%;
            font-weight: 950;
            letter-spacing: 0.05em;
            color: #fff;
            margin-bottom: 30px;
            @include breakpoint(767px){
                font-size: 35px;
            }
        }
        p{
            margin-bottom: 50px;
            color: #fff;
            font-family: $font-family-axiforma;
            font-size: 1rem;
            line-height: 160%;
            padding-right: 50px;
             @include breakpoint(767px){
                padding-right: 0px;
            }
        }
        .download-links{
            display: flex;
            @include breakpoint(767px){
                justify-content: center;
            }
            .linux-link{
                margin-right: 70px;
                margin-bottom: 50px;
               
                img{}
            }
            .windows-link{
                img{}
            }
        }
    }
    .sys-requirement{
        border: 1px solid #fff;
        padding: 50px;
        border-radius: 6px;
        height: 100%;
        h4{
            font-family: $font-family-axiforma;
            font-size: 1.85rem;
            line-height: 140%;
            font-weight: 950;
            color: $o3de-aqua;
            margin-bottom: 50px;
        }
        ul{
            padding-left: 15px;
            margin-bottom: 50px;
            li{
                font-family: $font-family-axiforma;
                font-size: 12px;
                color: #fff;
                line-height: 160%;
            }
        }
        .doc-link{
            display: flex;
            align-items: center;
            span{
                padding-right: 35px;
            }
            div{
                p{
                    font-family: $font-family-axiforma;
                    font-size: 16px;
                    font-weight: 500;
                    color: #fff;
                    margin-bottom: 5px;
                }
                a{
                    font-family: $font-family-axiforma;
                    font-size: 16px;
                    text-transform: uppercase;
                    color: $o3de-aqua;
                    font-weight: 800;
                }
            }
        }
    }

}
.assets-section{        
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FFFFFF;
    .title{
        margin-bottom: 40px;
        h3.thin-font{
            font-family: $font-family-axiforma;
            font-size: 1.25rem;
            line-height: 140%;
            font-weight: 800;
            letter-spacing: 0.2em;
            color: #000;
            text-transform: uppercase;
            span{
                color: #8122d2;
            }
        }
        
    }
    h2{
        font-family: $font-family-axiforma;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 1.4;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 45px;
        
    }
    p{
        font-family: $font-family-axiforma;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 2;
        margin-bottom: 15px;
    }
    .yt-wrapper{
        margin: 40px 0;
    }
    .btn-wrapper{
        margin-bottom: 69px;
        display: flex;
        justify-content: center;
    }
    .source-asset{
        margin-top: 40px;
        margin-bottom: 50px;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
        li{
            width: 25%;
            @include breakpoint(767px){
                width: 50%;
            }
        }
    }
    
}
.gems-section{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F4F4F4;
    .title{
        margin-bottom: 40px;
        h3.thin-font{
            font-family: $font-family-axiforma;
            font-size: 1.25rem;
            line-height: 140%;
            font-weight: 800;
            letter-spacing: 0.2em;
            color: #000;
            text-transform: uppercase;
            span{
                color: #8122d2;
            }
        }
        
    }
    h2{
        font-family: $font-family-axiforma;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 1.4;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 0px;
        
    }
}
.community-sectio{
    padding-top: 100px;
    padding-bottom: 100px;

    h2{ 
        font-family: $font-family-axiforma;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 1.4;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 48px;
    }
    p{
        font-family: $font-family-axiforma;
        font-weight: 400;
        font-size: 1rem;
        line-height: 180%;
        letter-spacing: 0.02em;
    }
    .card{
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        height: 100%;
        padding:42px 24px;
        background-color: #fff;
        span{
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
        }
        
    }
}

.showcase-page-content{
    .showcase-filter-group{
        .filter-wrapper{
            display: flex;
            align-items: center;
            padding-bottom: 27px;
            border-bottom: 1px solid #000000;
            margin-bottom: 20px;
            p{
                font-family: $font-family-axiforma;
                font-style: normal;
                font-weight: 950;
                font-size: 12px;
                line-height: 1;
                letter-spacing: 0.15em;
                text-transform: uppercase;
                color: #000;
                margin-bottom: 0;
            }
            
            ul{
                padding-left: 0;
                list-style: none;
                display: flex;
                margin: 0;
                align-items: center;
                li{
                    padding-left: 30px;
                    text-transform: uppercase;
                    font-family: $font-family-axiforma;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1;
                    font-size: 12px;
                    letter-spacing: 0.15em;
                    color: #8A8A8A;
                    cursor: pointer;
                    transition: 300ms ease;
                    &:hover{
                        color: $o3de-aqua;
                    }
                }
            }
        }
    }
    .showcase-grid{
        margin-top: 20px;
        .row{
            @include minbreakpoint(1200px){
                margin-left: -30px;
                margin-right: -30px;
                .col-sm-6{
                    padding: 0 30px;
                }
            }
            
        }
     
    }
    
}


// cards general styles

// gallery card
.gallery-card{
    &-image{
        position: relative;
        img{
            width: 100%;
            max-height: unset;
            -o-object-fit: cover;
            object-fit: cover;
        }
        .gallery-tags{
            position: absolute;
            top: 28px;
            padding: 0 28px;
            left: 0;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .category-tag{
                font-family: $font-family-axiforma;
                font-weight: 800;
                font-size: 12px;
                line-height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px 18px;
                background: #FFFFFF;
                border-radius: 50px;
                color: #000000;
                letter-spacing: 0.3em;
                text-transform: uppercase;
            }
            .extternal-links{
                a{
                    display: block;
                    width: 40px;
                    height: 40px;
                    svg{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    &-content{
        padding: 28px 0;
        h4{
            font-family: $font-family-axiforma; 
            font-weight: 800;
            font-size: 24px;
            line-height: 140%;
            letter-spacing: 0.05em;
            color: #000000;
            margin: 0;
        }
        p{
            font-family: $font-family-axiforma;
            font-weight: 400;
            font-size: 16px;
            line-height: 180%;
            letter-spacing: 0.05em;
        }
    }
}

.modal.js-modal{
    max-width: 800px;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
   
    .close-modal {
        top: 0;
        right: 0;
        height: 40px;
        width: 40px;
        background-color: #000;
    }
    .modal-wrapper{
        display: flex;
        flex-direction: row;
        max-height: 70vh;
        overflow-y: auto;
        @include breakpoint(991px){
            flex-direction: column;
        }
        .staff-profile{
            background: #F1F1F1;
            padding: 50px 40px;
            .round-image{
                margin: 0 auto;
                border-radius: 50%;
                overflow: hidden;
                width: 175px;
                height: 175px;
                background-position: center;
                background-size: cover;
            }
        }
        .staff-content{
            padding: 50px 40px 40px 40px;
            .staff-identity{
                margin-bottom: 25px;
                h3{
                    font-family: $font-family-axiforma;
                    font-weight: 950;
                    font-size: 30px;
                    line-height: 140%;
                    margin-bottom: 10px;
                }
                span{
                    display: block;
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 140%;
                    color: #0AC1C7;
                    letter-spacing: 0.02em;
                    margin-bottom: 15px;
                }
                p{
                    font-family: $font-family-axiforma;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 160%;
                    letter-spacing: 0.02em;
                    color: #5F5F5F;
                    
                }
            }
            .staff-social{
                ul{
                    margin: 0;
                    list-style: none;
                    padding: 0;
                    display: flex;

                    li{
                        margin-right: 5px;

                    }
                }
            }
        }
    }
}