// @import "./variables";

.gem-card{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    .gen-img--wrapper{
        overflow: hidden;
        .gen-img{
            transition: 600ms ease;
            padding-top: calc(220/380*100%);
            background-position: center;
            background-size: cover;
            position: relative;
            span{
                font-family: $font-family-axiforma;
                padding: 15px 30px 12px 15px;
                background-color: #000;
                border-radius: 10px 0px 100px;
                font-weight: 400;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 1rem;
                color: #fff;
                letter-spacing: 0.05em;

            }
        }
    }
    .gem-text{
        padding: 33px 27px;
        text-align: left;
        h3{
            font-family: $font-family-axiforma;
            font-weight: 400;
            font-size: 1.875rem;
            line-height: 1.1;
            margin-bottom: 15px;
            letter-spacing: 0.06em;
            strong{
                font-weight: 800;
            }
        }
        p{
            font-size: 0.87rem;
            font-family: $font-family-axiforma;
            font-weight: 500;
            letter-spacing: 0.1em;
            line-height: 26px;
            margin-bottom: 0;
        }
    }
}
.about-page{
    &.short-banner{
        height: 540px;
        background-size: cover;
        background-position: center;
        position: relative;
        .short-container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            .subtitle{
                font-size: 1rem;
                font-family: $font-family-axiforma;
                font-weight: 300;
                letter-spacing: 0.3em;
                color: #fff;
            }
            h1.title{
                font-size: 3.75rem;
                font-family: $font-family-axiforma;
                font-weight: 900;
                line-height: 1.1;
                color: #fff;
            }
        }
        .scroll-to-nav{
            background-color: rgba(0,0,0,0.8);
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
            ul{
                list-style: none;
                padding: 0;
                display: flex;
                justify-content: space-between;
                margin: 0;
                li{
                    padding: 0;
                    padding-top: 22px;
                    padding-bottom: 22px;
                    a{
                        
                        font-family: $font-family-axiforma;
                        font-size: 0.875rem;
                        line-height: 140%;
                        font-weight: 800;
                        color: #fff;
                        text-transform: uppercase;
                    }
                }
            }
        }
        
    }

    &.scrollable-sections{
        .scroll-section{
            .title{
                h3.thin-font{
                    font-family: $font-family-axiforma;
                    font-size: 1.25rem;
                    line-height: 140%;
                    font-weight: 800;
                    letter-spacing: 0.2em;
                    margin-bottom: 30px;
                    margin-top: 30px;
                    text-transform: uppercase;
                    span{
                        color: #8122d2;
                    }
                }
                
            }
            .alternate-block {
                flex-direction: row-reverse;
            }
            .bold-font{
                font-family: $font-family-axiforma;
                font-weight: 900;
                font-size: 1.75rem;
                line-height: 1.4;
                text-transform: uppercase;
                color: #000;
                margin-bottom: 0; 
            }
            .p-14{
                font-family: $font-family-axiforma;
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 2;
                margin-bottom: 20px;
            }
            &.section-1{
                margin-top: 100px;
                margin-bottom: 50px;
                .mb-80 {
                    margin-bottom: 80px;
                }
                h2{
                    font-family: $font-family-axiforma;
                    font-weight: 900;
                    font-size: 1.75rem;
                    line-height: 1.4;
                    text-transform: uppercase;
                    color: #000;
                    margin-bottom: 45px;
                    &.thin-font{
                        font-family: $font-family-axiforma;
                        font-weight: 500;
                        font-size: 2rem;
                        line-height: 1.5;
                        text-decoration-line: underline;
                        margin-bottom: 0;
                    }
                }
                p{
                    font-family: $font-family-axiforma;
                    font-weight: 500;
                    font-size: 0.875rem;
                    line-height: 2;
                    margin-bottom: 20px;
                }
            }
            &.section-2{
                .feature-row{
                    margin: 0 -30px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .feature-outer{
                        width: 25%;
                        padding: 0 30px;
                        margin-top: 40px;
                        margin-bottom: 40px;
                        .card-feature{
                            h3{
                                font-family: $font-family-axiforma;
                                font-size: 1.75rem;
                                line-height: 130%;
                                font-weight: 950;
                                margin-bottom: 20px;
                                margin-top: 40px;
                            }
                            p{
                                strong{
                                    font-family: $font-family-axiforma;
                                    font-size: 0.875rem;
                                    line-height: 140%;
                                    font-weight: 700;
                                    margin-bottom: 0;
                                }
                                font-family: $font-family-axiforma;
                                font-size: 0.875rem;
                                line-height: 140%;
                                font-weight: 400;
                                margin-bottom: 0;
                                letter-spacing: 0.02em;
                                padding-right: 25px;
                            }

                        }
                        .lastcard{
                            padding: 26px 24px;
                            background-color: $o3de-aqua;
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;
                            box-shadow: 0px 0px 7.44785px rgba(0, 0, 0, 0.05);
                            border-radius: 10px;
                            height: 100%;
                            h2{
                                font-size: 2.5rem;
                                color: #fff;
                                font-weight: 800;
                            }
                            a{
                                color: #fff;
                                border-bottom: 2px solid #000;
                            }
                        }
                    }
                }
            }
            &.section-3{
                padding-top: 100px;
                padding-bottom: 100px;
                background-color: #F4F4F4;
                h2{
                    font-family: $font-family-axiforma;
                    font-weight: 900;
                    font-size: 1.75rem;
                    line-height: 1.4;
                    text-transform: uppercase;
                    color: #000;
                    margin-bottom: 45px;
                    &.thin-font{
                        font-family: $font-family-axiforma;
                        font-weight: 500;
                        font-size: 2rem;
                        line-height: 1.5;
                        text-decoration-line: underline;
                        margin-bottom: 0;
                    }
                }
                p{
                    font-family: $font-family-axiforma;
                    font-weight: 500;
                    font-size: 0.875rem;
                    line-height: 2;
                    margin-bottom: 15px;
                }
                .btn-wrapper{
                    margin-bottom: 69px;
                    display: flex;
                    justify-content: center;
                }
            }
            &.section-4{
                padding-top: 100px;
                padding-bottom: 50px;
                
                h2{
                    font-family: $font-family-axiforma;
                    font-weight: 900;
                    font-size: 1.75rem;
                    line-height: 1.4;
                    text-transform: uppercase;
                    color: #000;
                    margin-bottom: 45px;
                    &.thin-font{
                        font-family: $font-family-axiforma;
                        font-weight: 500;
                        font-size: 2rem;
                        line-height: 1.5;
                        text-decoration-line: underline;
                        margin-bottom: 0;
                    }
                }
                .gem-card{
                    background: #FFFFFF;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
                    border-radius: 10px;
                    overflow: hidden;
                    .gen-img--wrapper{
                        overflow: hidden;
                        .gen-img{
                            transition: 600ms ease;
                            padding-top: calc(240/379*100%);
                            background-position: center;
                            background-size: cover;
                            position: relative;
                            span{
                                font-family: $font-family-axiforma;
                                padding: 15px 30px 12px 15px;
                                background-color: #000;
                                border-radius: 10px 0px 100px;
                                font-weight: 400;
                                position: absolute;
                                top: 0;
                                left: 0;
                                font-size: 1rem;
                                color: #fff;
                                letter-spacing: 0.05em;

                            }
                        }
                    }
                    .gem-text{
                        padding: 33px 27px;
                        text-align: left;
                        h3{
                            font-family: $font-family-axiforma;
                            font-weight: 400;
                            font-size: 1.875rem;
                            line-height: 40px;
                            margin-bottom: 13px;
                            strong{
                                font-weight: 800;
                            }
                        }
                        p{
                            font-size: 0.87rem;
                            font-family: $font-family-axiforma;
                            font-weight: 500;
                            letter-spacing: 0.1em;
                            line-height: 28px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &.section-5{
                background-color: #F4F4F4;
                padding-top: 100px;
                padding-bottom: 50px;
                .mb-40{
                    margin-bottom: 40px;
                }
                .concept-card{
                    padding: 23px;
                    padding-bottom: 30px;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
                    border-radius: 4px;
                    height: 100%;
                    .concept-card-wrapper{
                       
                        height: 100%;
                        p{
                            font-family: $font-family-axiforma;
                            font-weight: 400;
                            font-size: 0.875rem;
                            margin: 0;
                            strong{
                                font-weight: 800;
                                margin-bottom: 5px;
                            }
                        }
                        
                    }
                    
                }
                
            }
        }
        
    
    }
}  

.text-banner{
    padding-bottom: 85px;
    padding-top: 75px;
    h1{
        font-size: 2.5rem;
        font-family: $font-family-axiforma;
        font-weight: 900;
        line-height: 1.4;
        color: #000;
        margin-bottom: 45px;
        letter-spacing: 0.06em;
    }
    p.h5{
        font-family: $font-family-axiforma;
        font-weight: 500;
        font-size: 1.875rem;
        color: #000;
        line-height: 1.6;
        margin-bottom: 0;
    }
    p.p-small{
        font-family: $font-family-axiforma;
        font-weight: 400;
        font-size: 1rem;
        color: #000;
        line-height: 1.8;
        margin-bottom: 0;
    }
}

.gem-page-content{
    margin-bottom: 60px;
    .filter-group{
        margin-bottom: 100px;
        border-bottom: 1px solid #c4c4c4;
        .filter-all{
            display: flex;
            margin-bottom: 60px;
            a{
                text-decoration: underline;
                color: #000;
                margin-right: 30px;
                font-size: 1rem;
                font-family: $font-family-axiforma;
                font-weight: 400;
            }
        }

        ul.filter-list{
            list-style: none;
            padding: 0;
            display: flex;
            margin-top: 40px;
            margin-bottom: 100px;
            li{
                margin-right: 24px;
                margin-bottom: 24px;
                a{
                    padding: 12px 24px;
                    font-size: 1rem;
                    font-family: $font-family-axiforma;
                    font-weight: 400;
                    border-radius: 64px;
                    border: 1px solid #e9e9e9;
                    color: #000;
                    &.active{
                        background-color: $o3de-aqua;
                        border-color: $o3de-aqua;
                    }
                }
            }
        }
    }
}

.staff-page-content{
    margin-bottom: 60px;
    .filter-group{
        margin-bottom: 90px;
        // border-bottom: 1px solid #c4c4c4;

        ul.filter-list{
            list-style: none;
            padding: 0;
            display: flex;
            margin-top: 40px;
            margin-bottom: 50px;
            li{
                margin-right: 24px;
                margin-bottom: 24px;
                a{
                    padding: 12px 24px;
                    font-size: 1rem;
                    font-family: $font-family-axiforma;
                    font-weight: 400;
                    border-radius: 64px;
                    border: 1px solid #e9e9e9;
                    color: #000;
                    &.active{
                        background-color: $o3de-aqua;
                        border-color: $o3de-aqua;
                    }
                }
            }
        }
    }
    .staff-card{
        background-color: #fff;
        height: 100%;

        .staff-profile{
            height: 230px;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .staff-content{
            padding: 24px;
            filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.05));
            height: calc(100% - 230px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .staff-identity{
                h3{
                    font-size: 1.875rem;
                    font-family: $font-family-axiforma;
                    font-weight: 800;
                    line-height: 1.5;
                    color: #000;
                    margin-bottom: 0px;
                }
                h5{
                    margin-top: 15px;
                    font-size: 0.875rem;
                    font-family: $font-family-axiforma;
                    font-weight: 800;
                    line-height: 1.5;
                    color: #000;
                    margin-bottom: 0px;
                }
                p{
                    margin-top: 5px;
                    font-size: 0.875rem;
                    font-family: $font-family-axiforma;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #000;
                }
                span{
                    margin-top: 8px;
                    display: block;
                    font-size: 10px;
                    font-weight: 800;
                    color: #747474;
                    line-height: 1.4;
                    font-family: $font-family-axiforma;
                }
            }
            .staff-social{
                ul{
                    margin: 0;
                    list-style: none;
                    padding: 0;
                    display: flex;

                    li{
                        margin-right: 5px;

                    }
                }
            }
        }
    }

}

.member-page-content{
    margin-bottom: 60px;
    .section-seperator{
        padding-top: 80px;
        margin-bottom: 80px;
        border-bottom: 1px solid #C4C4C4;
        h4{
            font-size: 0.875rem;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            font-family: $font-family-axiforma;
            font-weight: 950;
            line-height: 1.4;
            color: #000;
            margin-bottom: 40px;
        }

    }
    .member-list{
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            width: 100%;
            li{
                width: 20%;
                margin-bottom: 50px;
                img{

                }
            }
        }
    }
}

.features-list{
    .card{
        border: none;
        box-shadow: none;
        background-color: #FCFCFC;
        &:hover{
            border: none;
        }
        .card-header{
            border: none;
            background-color: #FCFCFC ;
            padding: 60px 0px;
            border-top:  1px solid rgba(0, 0, 0, 0.05);
            border-bottom:  1px solid rgba(0, 0, 0, 0.05);
            a{
                display: block;
                font-size: 2.25rem;
                font-weight: 900;
                font-family: $font-family-axiforma;
                line-height: 1.4;
                letter-spacing: 0.05em;
                text-align: left;
                padding: 0;
                margin: 0;
                &:focus{
                    box-shadow: none;
                }
            }
        }
        .card-body{
            p{
                font-family: $font-family-axiforma;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.8;
                letter-spacing: 0.02em;
                margin-bottom: 32px;
            }
            img{

            }
            .feature-card{
                padding: 30px 23px;
                background-color: #fff;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                height: 100%;

                .feature-card-label{
                    margin-bottom: 24px;
                     h5{
                        font-size: 1rem;
                        line-height: 19px;
                        letter-spacing: 0.1em;
                        font-weight: 600;
                        font-family: $font-family-axiforma;
                        margin-bottom: 0;
                        .purple-text{
                            font-weight: 900;
                            text-transform: uppercase;
                            color: #8122d2;
                            padding-right: 16px;
                            margin-right: 16px;
                            position: relative;
                            &:after{
                                content: '';
                                position: absolute;
                                right: 0;
                                height: 19px;
                                width: 1px;
                                top: 50%;
                                transform: translateY(-50%);
                                background-color: #000;
                            }
                        }
                    }
                }
                .feature-card-img{
                    padding-top: calc(300/520*100%);
                    margin-bottom: 24px ;
                }
                .feature-card-text{
                    p{
                        color: #6D6D6D;
                        font-family: $font-family-axiforma;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.8;
                        letter-spacing: 0.02em;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}