.no-click{
    pointer-events: none;
}
.text-white{
    color: #fff;
}
.text-black{
    color: #000;
}
.btn-wrapper{
    display: flex;
}
.w-160{
    width: 160px;
}
.with-icon{
    svg{
        margin-left: 10px;
    }
}
.btn-primary-black{
    color: #000;
    font-size: 0.875rem;
    padding: 10px 16px;
    line-height: 1;
    font-weight: 700;
    font-family: $font-family-axiforma;
    background: #0AC1C7;
    transition: 300ms ease;
    box-shadow: 0px 4px 8px rgba(46, 113, 255, 0.04);
    border-radius: 4px;
    margin-right: 24px;
    height: 40px;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    .icon-arrow{
        margin-left:12px;
    }
    &.with-icon{
        svg{
            margin-left: 10px;
            path{
                stroke: #000;
            }
            
        }
    }
    &:hover{
        background: #0BB6BC;
        color: #000;
    }
}
.btn-primary-outline{
    color: #fff;
    font-size: 0.875rem;
    padding: 10px 21px;
    line-height: 1;
    font-weight: 800;
    font-family: $font-family-axiforma;
    background:  transparent;
    transition: 300ms ease;
    border: 1px solid #0AC1C7;
    box-shadow: 0px 4px 8px rgba(46, 113, 255, 0.04);
    border-radius: 4px;
    margin-right: 24px;
    height: 40px;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    .icon-arrow{
        margin-left:12px;
    }
    &:hover{
        background: #0BB6BC;
        color: #000;
    }
}
.btn-black{
    height: 36px;
    line-height: 1;
    font-weight: 800;
    font-family: $font-family-axiforma;
    letter-spacing: 0.1em;
    display: flex;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 10px 21px;
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
}
.btn-primary-white{
    color: #fff;
    font-size: 0.875rem;
    padding: 10px 16px;
    line-height: 1;
    font-weight: 700;
    background: #0AC1C7;
    font-family: $font-family-axiforma;
    transition: 300ms ease;
    box-shadow: 0px 4px 8px rgba(46, 113, 255, 0.04);
    border-radius: 4px;
    margin-right: 24px;
    height: 40px;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    &:hover{
        background: #0BB6BC;
        color: #fff;
    }
}
.btn-secondary-black{
    font-size: 0.875rem;
    padding: 9px 16px;
    line-height: 1;
    color: #000;
    font-family: $font-family-axiforma;
    font-weight: 700;
    border: 1.5px solid #000000;
    box-shadow: 0px 4px 8px rgba(46, 113, 255, 0.04);
    border-radius: 4px;
    margin-right: 24px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    &:hover{
        background: rgba(146, 146, 146, 0.1);
        color: #000;
    }
}
.btn-secondary-white{
    font-size: 0.875rem;
    padding: 9px 16px;
    line-height: 1;
    color: #fff;
    font-weight: 700;
    font-family: $font-family-axiforma;
    border: 1.5px solid #fff;
    box-shadow: 0px 4px 8px rgba(46, 113, 255, 0.04);
    border-radius: 4px;
    margin-right: 24px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    &:hover{
        background: rgba(146, 146, 146, 0.1);
        color: #fff;
    }
}
.btn-underline{
    font-family: $font-family-axiforma;
    height: 35px;
    font-size: 1rem;
    line-height: 1.05;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    border: none;
    // border-bottom: 4px solid $o3de-aqua;
    border-radius: 0;
    padding: 0;
    color: #000;
    position: relative;
    padding-right: 0;
    box-shadow: none;
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 36px;
        background-color: $o3de-aqua;
    }
}
    
.br-top{
    border-top: 1px solid #BFBFBF;
}

.btn-text{

}
.yt-wrapper{
    iframe{
        width: 100%;
        @include breakpoint(767px){
            height: 230px;    
        }
    }
}
.font-10{
    font-size: 10px;
    height: 34px;
}
.flex-start{
    justify-content: flex-start !important;
}
.text-underline{
    text-decoration: underline;
}
.mb-80{
    margin-bottom: 80px !important;
    @include breakpoint(767px){
        margin-bottom: 50px !important;
    }
}
.mt-80{
    margin-top: 80px !important;
    @include breakpoint(767px){
        margin-top: 50px !important;
    }
}
.mb-70{
    margin-bottom: 70px !important;
}
.mb-64{
    margin-bottom: 64px !important;
}
.mb-50{
    margin-bottom: 50px !important;
}
.mt-50{
    margin-top: 50px !important;
}
.mb-30{
    margin-bottom: 30px !important;
}
.mb-40{
    margin-bottom: 40px !important;
}
@include breakpoint(767px){
    .mb-xs-50{
        margin-bottom: 50px !important;
    }
}
.mr-0{
    margin-right: 0 !important;
}
