{{ define "main" }}
<div class="short-banner about-page" style="background-image:url('/img/overview/Banner Image.jpg')">
  <div class="container short-container">
    <div class="row">
      <div class="col col-12 col-md-6 pb-4 pt-4">
        <p class="subtitle">ENGINE OVERVIEW</p>
          <h1 class="title">
            Open up your<br>
            world with O3DE
          </h1>
          <p class="d-flex">
            <a href="/download" class="mt-4 btn-primary-outline with-icon">DOWNLOAD {{ partial "svg-icons/down-arrow.svg" . }}</a>
          </p>
          
      </div>
    </div>

  
  </div>
  <div class="scroll-to-nav">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul>
            <li><a href="#intro">01 <span class="f-400">INTRO</span></a></li>
            <li><a href="#why-o3de">02 <span class="f-400">WHY O3DE</span></a></li>
            <li><a href="#key-concept">03 <span class="f-400">KEY CONCEPTS</span></a></li>
            <li><a href="#features">04 <span class="f-400">FEATURES</span></a></li>
            <li><a href="#gems">05 <span class="f-400">GEMS </span></a></li>
            <li><a href="#platform">06 <span class="f-400">SUPPORTED PLATFORMS</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</div>
<div class="about-page scrollable-sections">
  <div id="intro" class="scroll-section section-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="title">
            <h3 class="thin-font"><span>01 </span>INTRO</h3>
          </div>
          <div class="row justify-content-between">
            <div class="col-5">
              <h2>Meet the world’s first high-fidelity, real-time open source 3D engine</h2>
              <p>Today’s top-quality 3D engines are as complex as operating systems, requiring significant time, cost, and human capital investments to keep pace with advancements.</p>
              <p>O3DE, a full-featured, real-time open source 3D engine, can be used to create high-fidelity games and simulations, bridging the physical and digital worlds to deliver amazing experiences, from immersive entertainment to keen insights with which to understand the world around us and make smarter decisions</p>
            </div>
            <div class="col-6 is-relative">
              <img src = "/img/overview/about-bg.png" class="img-fluid">
              <iframe width="560" height="315" class="intro-iframe" src="https://www.youtube.com/embed/CQmjAxr7LZs" title="YouTube video player" frameborder="0" ></iframe>
            </div>
          </div>
          <div class="row mb-50 align-items-center licensing-section">
            <div class="col-sm-8 ">
                <h2 class="">O3DE is driven by a thriving community, unencumbered by commercial terms.</h2>
            </div> 
            <div class="col-sm-4 text-right">
                <a href="" class="btn btn-underline">O3DE LICENSING</a>
            </div>
        </div> 
        {{/*  <div class="row">
          <div class="col-12">
            <div class="title">
              <h3 class="thin-font">INTRO TO O3DE</h3>
            </div>
            <div class="yt-wrapper">
              
              <iframe src="https://www.youtube.com/embed/CQmjAxr7LZs?rel=0&disablekb=1" width="1200" height="683" title="O3DE - What is O3DE?" frameborder="0" allowfullscreen></iframe>

            </div>
          </div>
        </div>  */}}

        </div>
      </div>
    </div>
  </div>
  <div id="why-o3de" class="scroll-section section-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="title">
            <h3 class="thin-font"><span>02 </span>WHY O3DE</h3>
          </div>
        </div>
      </div>
      <div class="feature-row">
        <div class="feature-outer">
                      
            <div class="card-feature">
                
                <div class="icon-wrap">
                  <svg width="56" height="61" viewBox="0 0 56 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M52.7099 40.297L2.45703 51.0103L18.333 2L52.7099 40.297Z" stroke="black" stroke-width="4" stroke-linejoin="round"/>
                    <path d="M7.06641 7.03711L53.9987 27.9973L12.4364 58.2871L7.06641 7.03711Z" stroke="black" stroke-width="4" stroke-linejoin="round"/>
                </svg>
                        
                </div>
                <h3 class="title-wrap">
                  High Fidelity
                </h3>
                <p>Bring your visions to life with the world’s first high-fidelity, real-time, open source 3D engine.</p>
            </div>
        </div>
        <div class="feature-outer">
            <div class="card-feature">
                
                <div class="icon-wrap">
                  <svg width="69" height="52" viewBox="0 0 69 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M50.9987 34.9616C50.7911 34.9616 50.5835 34.8827 50.4268 34.7248L34.2572 18.4269C34.0261 18.1939 33.9556 17.8425 34.0809 17.5385C34.2063 17.2345 34.5 17.0371 34.8291 17.0371H67.1723C67.4974 17.0371 67.7951 17.2345 67.9204 17.5385C68.0458 17.8425 67.9753 18.1939 67.7442 18.4269L51.5745 34.7248C51.4178 34.8827 51.2102 34.9616 51.0026 34.9616M36.7837 18.6637L51.0026 32.9955L65.2216 18.6637H36.7798H36.7837Z" fill="black"/>
                    <path d="M50.9987 34.9616C50.7911 34.9616 50.5835 34.8827 50.4268 34.7248L34.2572 18.4269C34.0261 18.1939 33.9556 17.8425 34.0809 17.5385C34.2063 17.2345 34.5 17.0371 34.8291 17.0371H67.1723C67.4974 17.0371 67.7951 17.2345 67.9204 17.5385C68.0458 17.8425 67.9753 18.1939 67.7442 18.4269L51.5745 34.7248C51.4178 34.8827 51.2102 34.9616 51.0026 34.9616M36.7837 18.6637L51.0026 32.9955L65.2216 18.6637H36.7798H36.7837Z" stroke="black" stroke-width="2"/>
                    <path d="M51.0026 1C51.2102 1 51.4178 1.07896 51.5745 1.23689L67.7442 17.5348C67.9753 17.7677 68.0458 18.1191 67.9204 18.4231C67.7951 18.7271 67.5013 18.9245 67.1723 18.9245H34.8291C34.5039 18.9245 34.2063 18.7271 34.0809 18.4231C33.9556 18.1191 34.0261 17.7677 34.2572 17.5348L50.4307 1.24084C50.5874 1.08291 50.795 1.00395 51.0026 1.00395M65.2216 17.3018L51.0026 2.96617L36.7837 17.2979H65.2216V17.3018Z" fill="black"/>
                    <path d="M51.0026 1C51.2102 1 51.4178 1.07896 51.5745 1.23689L67.7442 17.5348C67.9753 17.7677 68.0458 18.1191 67.9204 18.4231C67.7951 18.7271 67.5013 18.9245 67.1723 18.9245H34.8291C34.5039 18.9245 34.2063 18.7271 34.0809 18.4231C33.9556 18.1191 34.0261 17.7677 34.2572 17.5348L50.4307 1.24084C50.5874 1.08291 50.795 1.00395 51.0026 1.00395M65.2216 17.3018L51.0026 2.96617L36.7837 17.2979H65.2216V17.3018Z" stroke="black" stroke-width="2"/>
                    <path d="M17.9831 34.9616C17.7755 34.9616 17.5679 34.8827 17.4112 34.7248L1.23764 18.4265C1.00654 18.1937 0.936028 17.8424 1.06137 17.5384C1.18672 17.2345 1.4805 17.0371 1.80953 17.0371H34.1527C34.4778 17.0371 34.7755 17.2345 34.9009 17.5384C35.0262 17.8424 34.9557 18.1937 34.7246 18.4265L18.555 34.7209C18.3983 34.8787 18.1907 34.9577 17.9831 34.9577M3.76415 18.6634L17.9831 32.992L32.202 18.6634H3.76415Z" fill="black"/>
                    <path d="M17.9831 34.9616C17.7755 34.9616 17.5679 34.8827 17.4112 34.7248L1.23764 18.4265C1.00654 18.1937 0.936028 17.8424 1.06137 17.5384C1.18672 17.2345 1.4805 17.0371 1.80953 17.0371H34.1527C34.4778 17.0371 34.7755 17.2345 34.9009 17.5384C35.0262 17.8424 34.9557 18.1937 34.7246 18.4265L18.555 34.7209C18.3983 34.8787 18.1907 34.9577 17.9831 34.9577M3.76415 18.6634L17.9831 32.992L32.202 18.6634H3.76415Z" stroke="black" stroke-width="2"/>
                    <path d="M34.4899 51.0007C34.2765 51.0007 34.0631 50.9217 33.9021 50.7638L17.2833 34.4659C17.0458 34.233 16.9733 33.8816 17.1021 33.5776C17.231 33.2736 17.5329 33.0762 17.8711 33.0762H51.1127C51.4468 33.0762 51.7528 33.2736 51.8816 33.5776C52.0105 33.8816 51.938 34.233 51.7005 34.4659L35.0817 50.7638C34.9206 50.9217 34.7073 51.0007 34.4939 51.0007M19.88 34.7028L34.4939 49.0345L49.1078 34.7028H19.876H19.88Z" fill="black"/>
                    <path d="M34.4899 51.0007C34.2765 51.0007 34.0631 50.9217 33.9021 50.7638L17.2833 34.4659C17.0458 34.233 16.9733 33.8816 17.1021 33.5776C17.231 33.2736 17.5329 33.0762 17.8711 33.0762H51.1127C51.4468 33.0762 51.7528 33.2736 51.8816 33.5776C52.0105 33.8816 51.938 34.233 51.7005 34.4659L35.0817 50.7638C34.9206 50.9217 34.7073 51.0007 34.4939 51.0007M19.88 34.7028L34.4939 49.0345L49.1078 34.7028H19.876H19.88Z" stroke="black" stroke-width="2"/>
                    <path d="M17.9831 1C18.1907 1 18.3983 1.07896 18.555 1.23689L34.7246 17.5348C34.9557 17.7677 35.0262 18.1191 34.9009 18.4231C34.7755 18.7271 34.4818 18.9245 34.1527 18.9245H1.80953C1.48442 18.9245 1.18672 18.7271 1.06137 18.4231C0.936028 18.1191 1.00654 17.7677 1.23764 17.5348L17.4112 1.24084C17.5679 1.08291 17.7755 1.00395 17.9831 1.00395M32.202 17.3018L17.9831 2.96617L3.76415 17.3018H32.202Z" fill="black"/>
                    <path d="M17.9831 1C18.1907 1 18.3983 1.07896 18.555 1.23689L34.7246 17.5348C34.9557 17.7677 35.0262 18.1191 34.9009 18.4231C34.7755 18.7271 34.4818 18.9245 34.1527 18.9245H1.80953C1.48442 18.9245 1.18672 18.7271 1.06137 18.4231C0.936028 18.1191 1.00654 17.7677 1.23764 17.5348L17.4112 1.24084C17.5679 1.08291 17.7755 1.00395 17.9831 1.00395M32.202 17.3018L17.9831 2.96617L3.76415 17.3018H32.202Z" stroke="black" stroke-width="2"/>
                    <path d="M34.4899 18.9245C34.2765 18.9245 34.0631 18.8456 33.9021 18.6877L17.2833 2.38944C17.0458 2.15655 16.9733 1.80524 17.1021 1.5013C17.231 1.19736 17.5329 1 17.8711 1H51.1127C51.4468 1 51.7528 1.19736 51.8816 1.5013C52.0105 1.80524 51.938 2.15655 51.7005 2.38944L35.0817 18.6837C34.9206 18.8416 34.7073 18.9206 34.4939 18.9206M19.876 2.63022L34.4899 16.9588L49.1038 2.63022H19.876Z" fill="black"/>
                    <path d="M34.4899 18.9245C34.2765 18.9245 34.0631 18.8456 33.9021 18.6877L17.2833 2.38944C17.0458 2.15655 16.9733 1.80524 17.1021 1.5013C17.231 1.19736 17.5329 1 17.8711 1H51.1127C51.4468 1 51.7528 1.19736 51.8816 1.5013C52.0105 1.80524 51.938 2.15655 51.7005 2.38944L35.0817 18.6837C34.9206 18.8416 34.7073 18.9206 34.4939 18.9206M19.876 2.63022L34.4899 16.9588L49.1038 2.63022H19.876Z" stroke="black" stroke-width="2"/>
                    </svg>                                                       
                </div>
                <h3 class="title-wrap">
                  Modular
                </h3>
                <p>Consume only what you need and easily customize components using Gems.</p>
            </div> 
        </div>
        <div class="feature-outer">
            <div class="card-feature">
                
                <div class="icon-wrap">
                  <svg width="53" height="54" viewBox="0 0 53 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.30934 26.9012L8.26451 16.5859H20.1767L26.1318 26.9012L20.1766 37.2175H8.26456L2.30934 26.9012Z" stroke="black" stroke-width="4" stroke-miterlimit="10"/>
                    <path d="M26.284 12.3153L32.2401 2H44.1514L50.1074 12.3153L44.1513 22.6316H32.2401L26.284 12.3153Z" stroke="black" stroke-width="4" stroke-miterlimit="10"/>
                    <path d="M26.868 41.3387L32.8241 31.0234H44.7354L50.6914 41.3387L44.7353 51.655H32.8241L26.868 41.3387Z" stroke="black" stroke-width="4" stroke-miterlimit="10"/>
                </svg>                           
                </div>
                <h3 class="title-wrap">
                  Interoperable
                </h3>
                <p>Build using preferred tools with seamless asset portability across dev environments.</p>
            </div> 
        </div>
        <div class="feature-outer">
            <div class="card-feature">
                
                <div class="icon-wrap">
                  <svg width="59" height="43" viewBox="0 0 59 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M32.3496 16.5V2.38477H56.6641V40.9525H32.3496V24.5" stroke="black" stroke-width="4" stroke-miterlimit="10" stroke-linejoin="round"/>
                    <path d="M26.6621 16.5L26.6621 2L2.00292 2L2.00292 40.5678H26.6621L26.6621 24.607" stroke="black" stroke-width="4" stroke-miterlimit="10" stroke-linejoin="round"/>
                    <path d="M48.9126 20.6016H8.42188" stroke="black" stroke-width="3" stroke-miterlimit="10" stroke-linejoin="round"/>
                    <path d="M42.1641 12.8896L48.9125 20.6022L42.1641 28.3147" stroke="black" stroke-width="3" stroke-miterlimit="10" stroke-linejoin="round"/>
                    <path d="M15.1703 28.3147L8.42188 20.6022L15.1703 12.8896" stroke="black" stroke-width="3" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg> 
                </div>
                <h3 class="title-wrap">Cross Platform</h3>
              <p>Craft 3D solutions for diverse use cases across a variety of platforms, including mobile and AR / VR / XR.</p>
            </div>
        </div>
        <div class="feature-outer">
          <div class="card-feature">
              <div class="icon-wrap">
                <svg width="63" height="46" viewBox="0 0 63 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M54.9043 19.79C55.477 20.1925 56.0211 20.6525 56.5079 21.17C58.9134 23.585 60.2879 26.8912 60.2879 30.3125C60.2879 33.7337 58.942 37.04 56.5079 39.455C54.1025 41.87 50.8093 43.25 47.4016 43.25H23.0607C19.338 43.25 15.7011 42.215 12.5225 40.26C9.3725 38.305 6.79522 35.4875 5.13432 32.1525C3.47341 28.8175 2.7575 25.08 3.0725 21.3712C3.3875 17.6625 4.76204 14.0975 6.96704 11.1075C9.20068 8.1175 12.2075 5.78874 15.6439 4.43749C19.1089 3.05749 22.8602 2.68374 26.5257 3.31624C30.1911 3.97749 33.5989 5.61624 36.3766 8.11749C37.4934 9.12374 38.4957 10.245 39.3548 11.4525" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M26.7266 19.1287L35.4893 27.8975L60.2884 3" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                  
              </div>
              <h3 class="title-wrap">
                Cloud<br>Friendly
              </h3>
                  <p>Extend the functionality of your 3D creations through easy integration with your favorite cloud services.</p>
          </div> 
        </div>
        <div class="feature-outer">
          <div class="card-feature">
            
              <div class="icon-wrap">
                <svg width="59" height="51" viewBox="0 0 59 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M56.3872 21.4287V2.61133H2.60938V48.2371H43.6275" stroke="black" stroke-width="4"/>
                  <path d="M3.48047 12.1816H56.3883" stroke="black" stroke-width="4"/>
                  <path d="M32.8639 19.9463L24.4863 38.667" stroke="black" stroke-width="4"/>
                  <path d="M39.0527 23.1685L44.917 29.1939L38.8594 34.9938" stroke="black" stroke-width="4"/>
                  <path d="M18.8214 23.1685L12.957 29.1939L19.0147 34.9938" stroke="black" stroke-width="4"/>
              </svg> 
                  
                  
              </div>
              <h3 class="title-wrap">
                Open<br>Source
              </h3>
              <p>Leverage source code without any fees or commercial obligations, hosted on GitHub.</p>
          </div> 
        </div>
        <div class="feature-outer">
          <div class="card-feature">
              
              <div class="icon-wrap">
                <svg width="77" height="59" viewBox="0 0 77 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M37.9989 56.249V51.2492C37.9989 48.5971 36.9454 46.0537 35.0701 44.1784C33.1948 42.303 30.6513 41.2495 27.9992 41.2495H12.9997C10.3476 41.2495 7.80415 42.303 5.92884 44.1784C4.05354 46.0537 3 48.5971 3 51.2492V56.249" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M20.4997 31.2499C26.0224 31.2499 30.4994 26.7729 30.4994 21.2502C30.4994 15.7275 26.0224 11.2505 20.4997 11.2505C14.977 11.2505 10.5 15.7275 10.5 21.2502C10.5 26.7729 14.977 31.2499 20.4997 31.2499Z" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M44.834 10.6064H66.0472V31.8196" stroke="black" stroke-width="5" stroke-linejoin="round"/>
                  <path d="M44.834 32L64.834 12" stroke="black" stroke-width="5"/>
              </svg> 
                                              
              </div>
              <h3 class="title-wrap">
                Community <br>Driven
              </h3>
            
            <p>Connect with the community to get fast answers to your queries and drive the adoption of new capabilities.</p>
          </div>  
        </div>
        <div class="feature-outer ">
          <div class="lastcard">
            <h2>
              Ready <br>For <br> O3DE?
            </h2>
            <div class="link-outer">
              <a href="" class="btn btn-underline">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="key-concept" class="scroll-section section-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="title">
            <h3 class="thin-font"><span>03 </span>KEY CONCEPTS</h3>
          </div>
        </div>
        <div class="col-12">
          <div class="row mb-40 align-items-end w-100">
            <div class="col-sm-8 ">
                <h2 class="bold-font">WHAT O3DE IS ALL ABOUT</h2>
            </div> 
            <div class="col-sm-4 text-right">
                <a href="" class="btn btn-underline">Learn more</a>
            </div>
          </div> 
          <div class="row mb-40">
            <div class="col-7">
              <p class="p-14">Open 3D Engine (O3DE) provides a complete, end-to-end development environment that consists of code, scripts, tools, editors, and systems that help you build your project: </p>
            </div>
          </div>
        </div>

        <div class="col-12 mb-80">
          <div class="row">
            <div class="col-4 mb-30">
              <div class="concept-card">
                <div class="concept-card-wrapper">
                    <p><strong>Core <br>modules</strong></p>
                    <p>Supplied by the O3DE software development kit (SDK), that provide math, memory management, serialization, event messaging etc.</p>
                </div>
              </div>
            </div>
            <div class="col-4 mb-30">
              <div class="concept-card">
                <div class="concept-card-wrapper">
                    <p><strong>Authoring <br>Tools</strong></p>
                    
                    <p>Such as the Editor and related applications for placing objects in a level, adding components, and scripting logic.</p>
                </div>
              </div>
            </div>
            <div class="col-4 mb-30">
              <div class="concept-card">
                <div class="concept-card-wrapper">
                    <p><strong>Plug in & <br>Extension System</strong></p>
                    <p>A plugin and extension system for adding more features.</p>
                </div>
              </div>
            </div>
            <div class="col-4 mb-30">
              <div class="concept-card">
                <div class="concept-card-wrapper">
                    <p><strong>Submodules</strong></p>
                    <p>Called Gems, that enable you to add features and functionality.</p>
                </div>
              </div>
            </div>
            <div class="col-4 mb-30">
              <div class="concept-card">
                <div class="concept-card-wrapper">
                    <p><strong>Asset Pipeline Tools</strong></p>
                    <p>For converting, optimizing, and bundling assets.</p>
                </div>
              </div>
            </div>
            <div class="col-4 mb-30">
              <div class="concept-card">
                <div class="concept-card-wrapper">
                    <p><strong>Build system</strong></p>
                    <p>To build and package a shippable launcher.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mb-50">
          <hr>
        </div>
        
        <div class="col-12 mt-50">
          <div class="row mb-40 align-items-end w-100">
            <div class="col-sm-8 ">
                <h2 class="bold-font">HOW O3DE WORKS</h2>
            </div> 
            <div class="col-sm-4 text-right">
                <a href="" class="btn btn-underline">Learn more</a>
            </div>
          </div> 
          <div class="row mb-40">
            <div class="col-7">
              <p class="p-14">When you compile a project, O3DE’s build scripts pulls in all the pieces that are specified in your project’s configuration. When built, your project will only use the parts of the O3DE SDK that you included in your configuration. Likewise, the asset bundling and management tools ensure you only ship the assets that your project requires.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
             <img src="/img/overview/Engine Overview.png" class="img-fluid" alt="">
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="features" class="scroll-section section-3">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="title">
            <h3 class="thin-font"><span>04 </span>FEATURES</h3>
          </div>
          <div class="row justify-content-center">
            <div class="col-8">
              <h2>CREATE IN THE OPEN</h2>
              <p class="mb-40">Create captivating experiences with the Open 3D Engine using a suite of tools wrapped in a modular framework. Developed for cutting-edge, real-time graphics, and complex interactions.</p>
              <div class="btn-wrapper ">
                <a href="" class="btn-primary-black">ALL FEATURES</a>
                <a href="" class="btn-secondary-black">WHAT’S NEW</a>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-12">
          <div class="row justify-content-between mb-50 mt-80">
            <div class="col-4"> 
              <h2>Flexible Runtime <br>Scripting</h2>
              <p class="mb-50">Build runtime logic with scripting environments for all experience levels to speed experimentation and iteration, leveraging visual scripting with Script Canvas, and Lua scripting language.</p>
              <div class="btn-wrapper flex-start">
                <a href="" class="btn-secondary-black font-10">GET OVERVIEW</a>
                <a href="" class="btn-secondary-black font-10">SEE DOCUMENTATION</a>
              </div>
            </div>
            <div class="col-7">
              <img src = "/img/overview/feature 1.jpg" class="img-fluid">
            </div>
          </div>
          <hr>
          <div class="row justify-content-between mb-80 mt-80">
            <div class="col-7">
              <img src = "/img/overview/feature 2.jpeg" class="img-fluid">
            </div>
            <div class="col-4"> 
              <h2>Physically based <br>photorealistic renderer</h2>
              <p class="mb-50">Create content using the latest multi-threaded, data-driven rendering technology that supports modern rendering pipelines.</p>
              <div class="btn-wrapper flex-start">
                <a href="" class="btn-secondary-black font-10">GET OVERVIEW</a>
                <a href="" class="btn-secondary-black font-10">SEE DOCUMENTATION</a>
              </div>
            </div>
          </div>
          <hr>
          <div class="row justify-content-between mb-80 mt-80">
            <div class="col-4"> 
              <h2>Robust <br>Networking</h2>
              <p class="mb-50">Build runtime logic using your choice of scripting environments. Create scripts as flow graphs, no programming required, and experiment and iterate quickly, with an easy yet powerful entry point for new developers using Script Canvas.</p>
              <div class="btn-wrapper flex-start">
                <a href="" class="btn-secondary-black font-10">GET OVERVIEW</a>
                <a href="" class="btn-secondary-black font-10">SEE DOCUMENTATION</a>
              </div>
            </div>
            <div class="col-7">
              <img src = "/img/overview/feature 3.jpeg" class="img-fluid">
            </div>
          </div>
          <hr>
          <div class="row justify-content-between mb-80 mt-80">
            <div class="col-7">
              <img src = "/img/overview/feature 4.jpeg" class="img-fluid">
            </div>
            <div class="col-4"> 
              <h2>Terrain<br> Performance </h2>
              <p class="mb-50">Craft massive, immersive worlds with a terrain system optimized to support areas up to an impressive 64x64km.</p>
              <div class="btn-wrapper flex-start">
                <a href="" class="btn-primary-white font-10">SEE DOCUMENTATION</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="gems" class="scroll-section section-4">
    <div class="container">
      <div class="row">

        <div class="col-12">
          <div class="title">
            <h3 class="thin-font"><span>05 </span>GEMS</h3>
          </div>
        </div>
        <div class="col-12">
          <div class="row mb-40 align-items-end w-100">
            <div class="col-sm-8 ">
                <h2 class="bold-font">PLUGIN COUNTLESS POSSIBILITIES</h2>
            </div> 
            <div class="col-sm-4 text-right">
                <a href="" class="btn btn-underline">See All Gems</a>
            </div>
          </div> 
          <div class="row mb-40">
            <div class="col-7">
              <p class="p-14">With modular plug-ins (Gems) you can customize and extend the Engine’s capabilities to meet your unique requirements.</p>
            </div>
          </div>
        </div>

        <div class="col-12">

          
          <div class="row">
            <div class="col-4 mb-50">
              <div class="gem-card">
                <div class="gen-img--wrapper">
                  <div class="gen-img" style="background-image: url('/img/gems/gem-1.jpeg')">
                    <span>AI</span>
                  </div>
  
                </div>
                <div class="gem-text">
                  <h3><strong>Artificial World Gem</strong><br>
                    By Kythera AI</h3>
                  <p>Find out why more than 50% of the world’s video games are made with Unity.</p>
                </div>
              </div>
              
            </div>
            <div class="col-4 mb-50">
              <div class="gem-card">
                <div class="gen-img--wrapper">
                  <div class="gen-img" style="background-image: url('/img/gems/gem-2.jpeg')">
                    <span>Navigation</span>
                  </div>
  
                </div>
                <div class="gem-text">
                  <h3><strong>Robotics</strong><br>
                    By Company Name</h3>
                  <p>Provides integration with the Robot Operating System (ROS) 2 library and enables robotics systems simulation</p>
                </div>
              </div>
              
            </div>
            <div class="col-4 mb-50">
              <div class="gem-card">
                <div class="gen-img--wrapper">
                  <div class="gen-img" style="background-image: url('/img/gems/gem-3.jpeg')">
                    <span>Navigation</span>
                  </div>
  
                </div>
                <div class="gem-text">
                  <h3><strong>Global Simulations</strong><br>
                    By O3DE Core</h3>
                  <p>Create rich global simulations and experiences, and add real-world context</p>
                </div>
              </div>
              
            </div>
            <div class="col-4 mb-50">
              <div class="gem-card">
                <div class="gen-img--wrapper">
                  <div class="gen-img" style="background-image: url('/img/gems/gem-4.jpeg')">
                    <span>Navigation</span>
                  </div>
  
                </div>
                <div class="gem-text">
                  <h3><strong>PhysX</strong><br>
                    By O3DE Core</h3>
                  <p>Find out why more than 50% of the world’s video games are made with Unity.</p>
                </div>
              </div>
              
            </div>
            <div class="col-4 mb-50">
              <div class="gem-card">
                <div class="gen-img--wrapper">
                  <div class="gen-img" style="background-image: url('/img/gems/gem-5.jpeg')">
                    <span>Navigation</span>
                  </div>
  
                </div>
                <div class="gem-text">
                  <h3><strong>EMotionFX</strong><br>
                    By O3DE Core</h3>
                  <p>Create animated behaviors, simulated objects, and colliders for rigged actors</p>
                </div>
              </div>
              
            </div>
            <div class="col-4 mb-50">
              <div class="gem-card">
                <div class="gen-img--wrapper">
                  <div class="gen-img" style="background-image: url('/img/gems/gem-6.jpeg')">
                    <span>Navigation</span>
                  </div>
  
                </div>
                <div class="gem-text">
                  <h3><strong>Recast Navigation</strong><br>
                    By O3DE Core</h3>
                  <p>Build navigation meshes and calculate walkable paths within those navigation meshes</p>
                </div>
              </div>
              
            </div> 
          </div>
        </div>
       
      </div>
    </div>
  </div>


  

  <div class="scroll-section">
    <div class="download-section">
      <div class="container br-b">
          <div class="row">
              <div class="col-12">
                  <div class="title mb-80">
                      <h3 class="thin-font"><span>06 </span>SUPPORTED PLATFORMS</h3>
                      
                  </div>
                  <div class="row">
                      <div class="col-sm-6 download-wrapper">
                          <h2>O3DE is available for Linux and Windows</h2>
                          <div class="download-links">
                              <div class="linux-link">
                                  <a href="">
                                      <img src="/img/logos/linux.png" alt="">
                                  </a>
                              </div>
                              <div class="windows-link">
                                  <a href="">
                                      <img src="/img/logos/windows.png" alt="">
                                  </a>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-11 col-12">
                                  <p>Our latest version is now live, with exciting new features built from our incredible open source community</p>
                              </div>
                          </div>
                          
                          <div class="row">
                              <div class="col-sm-7">
                                  <a href="" class="btn-primary-black mb-30">DOWNLOAD INSTALLER  <i class="icon-arrow"></i></a>
                                  <a href="" class="btn-secondary-white mb-30">SEE DOCUMENTATION</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="sys-requirement">
                              <h4>Minimum system requirements</h4>
                              <ul>
                                  <li>2.5 GHz Intel or AMD processor with 4 physical cores</li>
                                  <li>8 GB RAM</li>
                                  <li>DirectX 12, Vulkan-compatible, or Metal-compatible video card with 2 GB VRAM minimum</li>
                                  <li>4 GB VRAM recommended</li>
                                  <li>40 to 100 GB of free disk space</li>
                                  <li>1366 x 768 px screen resolution</li>
                              </ul>
                              <div class="doc-link">
                                  <span>
                                      <svg width="32" height="40" viewBox="0 0 32 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <rect x="2.91406" y="2" width="26.7338" height="36" stroke="white" stroke-width="4"/>
                                          <line x1="9.10938" y1="9.99219" x2="23.4518" y2="9.99219" stroke="white" stroke-width="2"/>
                                          <line x1="9.10938" y1="16.0176" x2="23.4518" y2="16.0176" stroke="white" stroke-width="2"/>
                                          <line x1="9.10938" y1="22.0137" x2="23.4518" y2="22.0137" stroke="white" stroke-width="2"/>
                                          <line x1="9.10938" y1="28.0078" x2="23.4518" y2="28.0078" stroke="white" stroke-width="2"/>
                                      </svg>                                            
                                  </span>
                                  <div>
                                      <p>For the full detailed requirements read our</p>
                                      <a href="">O3DE System Requirements</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  <div class="scroll-section section-6"></div>
</div>

{{ partial "newHome/getstarted-secion.html" . }}
{{ partial "newHome/footer.html" . }}
{{ end }}
