{{ define "main" }}
<div class="brandguideline-page">
<section class="new-banner ">
  <div class="container">
    <div class="row">
      <div class="col col-7">
        <h1 class="title">
          {{ .Title }}
        </h1>
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<section class="article-area">
    <article class="container">
        <div class="sticky">
            <div class="sticky_column" data-sticky-container>
                <div class="sticky__element" data-sticky="" data-sticky-class="is-sticky">

                    <p class="is-style-spaced-uppercase">Table of contents</p>
        
                    <div style="height:44px" aria-hidden="true" class="wp-block-spacer is-style-60-70"></div>
        
                    <div class="sticky__nav-wrapper">                       
                        <ul id="sticky__nav" class="sticky__nav">
                            <li class="sticky__nav-item"><a href="#introduction">Introduction</a></li>
                            <li class="sticky__nav-item"><a href="#logo">Our Logo</a></li>
                            <li class="sticky__nav-item"><a href="#typeface">Colours</a></li>
                            <li class="sticky__nav-item"><a href="#colors">CNCF Websites</a></li>
                            <li class="sticky__nav-item"><a href="#downloads-and-fun-stuff">Downloads &amp; Fun Stuff</a></li>
                            <li class="sticky__nav-item"><a href="#legal">Legal</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sticky_content">
                <div data-menu-title="Introduction" data-menu-slug="introduction" id="introduction" class="tab-container-block">
                    <h2>Welcome to our latest assets and guidelines, available for everyone.</h2>
                    <div style="height:42px" aria-hidden="true" class="wp-block-spacer is-style-60-70"></div>
                    <p>We welcome our community to use O3DE brand assets, but please keep in mind that consistent use of our design patterns, logo, and assets helps people easily identify O3DE-branded properties and protects our trademarks. It is important that marketing materials comply with these standards and use our approved assets correctly. Please note that any and all use of O3DE’s trademarks must comply with <a href="">Linux Foundation’s Trademark Usage Guidelines</a> in addition to the visual branding guidelines shown on this page.</p>
                </div>
                <div data-menu-title="Logo" data-menu-slug="logo" id="logo" class="tab-container-block">
                    <h2 id="our-logo">O3DE Logo</h2>
                    <p>Our logo is our flag. It represents us as an organization, the amazing people who work here, the open source communities we collaborate with and the members who support us. It is also a reflection of our purpose and professionalism. It is important that it is always used the right way so that people are able to identify us at a glance. </p>
                    <div style="height:42px" aria-hidden="true" class="wp-block-spacer is-style-30-60"></div>

                    <div class="is-layout-flex  wp-block-row">
                      <div class="is-layout-flow wp-block-column">
                        <h3 class="" id="primary-logo">Primary logo</h3>
                        <p>This is our primary logo and should be used wherever possible.</p>
                      <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
                      </div>
                        
                      <div class="is-layout-flow wp-block-column">
                        <figure class="wp-block-image size-full is-resized"><img decoding="async" src="/img/brand/primary logo.png" alt="O3DE primary logo" class="" width="350" height="127"></figure>
                        <p></p>
                      </div>
                    </div>

                    <div class="is-layout-flex  wp-block-row">
                      <div class="is-layout-flow wp-block-column">
                        <h3 class="" id="primary-logo">WITHOUT STRAPLINE</h3>
                        <p>Used in smaller formats such as the website banner where the URL is not required.</p>
                      <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
                      </div>
                        
                      <div class="is-layout-flow wp-block-column">
                        <figure class="wp-block-image size-full is-resized"><img decoding="async" src="/img/brand/without-stapline.png" alt="O3DE WITHOUT STRAPLINE logo" class="" width="350" height="127"></figure>
                        <p></p>
                      </div>
                    </div>

                    <div class="is-layout-flex  wp-block-row">
                      <div class="is-layout-flow wp-block-column">
                        <h3 class="" id="primary-logo">ORIGINAL COLOUR</h3>
                        <p>Used in smaller formats such as the website banner where the URL is not required.</p>
                      <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
                      </div>
                        
                      <div class="is-layout-flow wp-block-column">
                        <figure class="wp-block-image size-full is-resized"><img decoding="async" src="/img/brand/original-color.png" alt="O3DE ORIGINAL COLOUR logo" class="" width="350" height="127"></figure>
                        <p></p>
                      </div>
                    </div>

                    <div class="is-layout-flex  wp-block-row">
                      <div class="is-layout-flow wp-block-column">
                        <h3 class="" id="primary-logo">COLOUR VARIATIONS</h3>
                        <p>In the instance where an alternative colour or contrast is required, these options are available. We will extend this official list as the brand collateral and landscape grows.</p>
                      <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
                      </div>
                        
                      <div class="is-layout-flow wp-block-column">
                        <figure class="wp-block-image size-full is-resized"><img decoding="async" src="/img/brand/black-bg-logo.png" alt="O3DE COLOUR VARIATIONS logo" class="" width="350" ></figure>
                        <figure class="wp-block-image size-full is-resized"><img decoding="async" src="/img/brand/aqua-bg-logo.jpg" alt="O3DE COLOUR VARIATIONS logo" class="" width="350" ></figure>
                        <figure class="wp-block-image size-full is-resized"><img decoding="async" src="/img/brand/orange-bg-logo.jpg" alt="O3DE COLOUR VARIATIONS logo" class="" width="350" ></figure>
                      </div>
                    </div>
                    
                
                </div>
                <div class="tab-container-block">
                  <h2 id="our-logo">Logo Usage - Dos and Don’ts</h2>
                  <p>We rather like our O3DE logo, so please don’t change it! Here’s some useful hints for how to display the O3DE logo alongside some simple guidelines for what is and is not acceptable.</p>
                  <div style="height:42px" aria-hidden="true" class="wp-block-spacer is-style-30-60"></div>

                  <div class="is-layout-flex  wp-block-row">
                    <div class="is-layout-flow wp-block-column">
                      <h3 class="" >SPACING</h3>
                      <p>Always preserve clear space around the O3DE logo. It is required to provide clarity and breathing room.</p>
                      <p>We use the inner circle of our icon to define the safe spacing zone around our brand.T</p>
                    <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
                    </div>
                      
                    <div class="is-layout-flow wp-block-column">
                      <figure class="wp-block-image size-full is-resized"><img decoding="async" src="/img/brand/spacing-1.png" alt="O3DE primary logo" class="" width="350" ></figure>
                      <figure class="wp-block-image size-full is-resized"><img decoding="async" src="/img/brand/spacing-2.png" alt="O3DE primary logo" class="" width="350" ></figure>
                     
                    </div>
                  </div>

                  <div class="is-layout-flex  wp-block-row">
                    <div class="is-layout-flow wp-block-column">
                      <h3 class="" id="primary-logo">COLOR</h3>
                      <p>Changing the logo color is strictly not permitted. The O3DE logo should be used in its full color option or all black or all white when required. </p>
                    <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
                    </div>
                      
                    <div class="is-layout-flow wp-block-column">
                      <figure class="wp-block-image size-full is-resized"><img decoding="async" src="/img/brand/color-logo.png" alt="O3DE color ßlogo" class="" width="350" ></figure>
                      <p></p>
                    </div>
                  </div>

                  <div class="is-layout-flex  wp-block-row">
                    <div class="is-layout-flow wp-block-column">
                      <h3 class="" id="primary-logo">ELEMENTS</h3>
                      <p>Changing the O3DE logo elements is strictly not permitted. </p>
                    <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
                    </div>
                      
                    <div class="is-layout-flow wp-block-column">
                      <figure class="wp-block-image size-full is-resized"><img decoding="async" src="/img/brand/element.png" alt="O3DE ORIGINAL COLOUR logo" class="" width="350" ></figure>
                      <p></p>
                    </div>
                  </div>

                  <div class="is-layout-flex  wp-block-row">
                    <div class="is-layout-flow wp-block-column">
                      <h3 class="" id="primary-logo">SCALING</h3>
                      <p>Scaling or streching the O3DE logo away from its normal proportions  is  strictly not permitted.</p>
                    <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
                    </div>
                      
                    <div class="is-layout-flow wp-block-column">
                      <figure class="wp-block-image size-full is-resized"><img decoding="async" src="/img/brand/scaling.png" alt="O3DE scaling logo" class="" width="350" ></figure>
                     
                    </div>
                  </div>
                  
              
              </div>
            </div>
        </div>
    </article>
</section>
</div>


{{ partial "newHome/newsletter.html" . }}
{{ partial "newHome/footer.html" . }}
{{ end }}
