{{ define "main" }}
<div class="text-banner gem-page">
  <div class="container short-container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">
            O3DE SHOWCASE
        </h1>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col col-12 col-md-7 ">
          
          <p class="p-small mb-xs-50">Explore a collection of demos, sample content, games, simulations and other creations made using O3DE, and share your own inspirations.</p>
      </div>
      <div class="col-md-4 col-lg-3">
         <p class="mb-40">Got something cool to share
            with the community?</p>
          <div class="row">
            <div class="col-8">
              <a href="" class="btn-black">
                SHARE ON DISCORD
              </a>
            </div>
          </div>
          
      </div>
    </div>

  
  </div>

</div>




{{ partial "newHome/getstarted-secion.html" . }}
{{ partial "newHome/footer.html" . }}
{{ end }}
