{{ define "main" }}
<div class="text-banner gem-page">
  <div class="container short-container">
    <div class="row">
      <div class="col col-12 col-md-9 ">
        
          <h1 class="title">
            STAFF
          </h1>
          <p class="h5">
            Get to know the team behind O3DE
          </p>
          <p class="p-small">Meet our global team focused on the growth and health of the Open 3D Engine. Ensuring a vendor-neutral environment for education, adoption and collaboration. We love hearing from you and appreciate your ideas and input, reach us at <a href="mailto:info@o3d.foundation" class="link">info@o3d.foundation</a> & our social media handles.</p>
      </div>
    </div>

  
  </div>

</div>
<div class="staff-page-content">
  <div class="container">
    <div class="filter-group">
      
      <ul class="filter-list">
        <li><a href="#foundation-staff" data-staff="foundation" class="staff-selector active">Foundation Staff</a></li>
        <li><a href="#tsc-staff" data-staff="tsc" class="staff-selector">Technical Steering Committee (TSC)</a></li>
        <li><a href="#marketing-staff" data-staff="marketing" class="staff-selector">Marketing/Outreach Committee</a></li>
      </ul>
    </div>
    <div class="filter-result-wrap">
      <div id="foundation-staff" class="reslult-list active">
        {{ partial "community/staff-foundation.html" . }}
        
      </div>
      <div id="tsc-staff" class="reslult-list">
        {{ partial "community/staff-tsc.html" . }}
      </div>
      <div id="marketing-staff" class="reslult-list">
        {{ partial "community/staff-marketing.html" . }}
      </div>
    </div>
    
  </div>
</div>



{{ partial "newHome/getstarted-secion.html" . }}
{{ partial "newHome/footer.html" . }}
{{ end }}
