{{ define "main" }}
<div class="text-banner gem-page">
  <div class="container short-container">
    <div class="row">
      <div class="col col-12 col-md-7 ">
        
          <h1 class="title">
            MEMBERS
          </h1>
          <p class="h5 mb-50">
            Over 25 member organizations support the Open 3D Engine
          </p>
          <p class="p-small">Engage with them to learn why they support the project, and discover how membership provides the opportunity to shape and guide its future.</p>
      </div>
    </div>

  
  </div>

</div>
<div class="member-page-content">
  <div class="container">
  <div class="section-seperator">
    <h4>Premier Members</h4>
  </div>
    <div class="member-list">
      <ul>
        <li><img src="/img/members-logo/image 67.png" alt=""></li>
        <li><img src="/img/members-logo/image 68.png" alt=""></li>
        <li><img src="/img/members-logo/image 69.png" alt=""></li>
        <li><img src="/img/members-logo/image 71.png" alt=""></li>
        <li><img src="/img/members-logo/image 70.png" alt=""></li>
        <li><img src="/img/members-logo/image 73.png" alt=""></li>
        <li><img src="/img/members-logo/image 74.png" alt=""></li>
        <li><img src="/img/members-logo/image 75.png" alt=""></li>
      </ul>
    </div>

    <div class="section-seperator">
      <h4>General Members</h4>
    </div>
    <div class="member-list">
      <ul>
        <li><img src="/img/members-logo/image 50.png" alt=""></li>
        <li><img src="/img/members-logo/image 53.png" alt=""></li>
        <li><img src="/img/members-logo/image 58.png" alt=""></li>
        <li><img src="/img/members-logo/image 62.png" alt=""></li>
        <li><img src="/img/members-logo/image 57.png" alt=""></li>
        <li><img src="/img/members-logo/image 56.png" alt=""></li>
        <li><img src="/img/members-logo/image 61.png" alt=""></li>
        <li><img src="/img/members-logo/image 52.png" alt=""></li>
        <li><img src="/img/members-logo/image 51.png" alt=""></li>
        <li><img src="/img/members-logo/image 55.png" alt=""></li>
        <li><img src="/img/members-logo/image 59.png" alt=""></li>
        <li><img src="/img/members-logo/image 60.png" alt=""></li>

      </ul>
    </div>

    <div class="section-seperator">
      <h4>Associate Members</h4>
    </div>
    <div class="member-list">
      <ul>
        <li><img src="/img/members-logo/image 66.png" alt=""></li>
        <li><img src="/img/members-logo/image 64.png" alt=""></li>
        <li><img src="/img/members-logo/image 63.png" alt=""></li>
        <li><img src="/img/members-logo/image 65.png" alt=""></li>
      </ul>
    </div>

  </div>
</div>



{{ partial "newHome/newsletter.html" . }}
{{ partial "newHome/footer.html" . }}
{{ end }}
